<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>Tax</title>
  <meta name="description" content="">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:100,300,400,500" type="text/css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="css/animsition.css">
  <link rel="stylesheet" type="text/css" href="css/sweetalert.css">
  <link rel="stylesheet" href="css/material.css">
  <link rel="stylesheet" href="css/swipebox.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/stylesheet.css">
  <script src="js/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="js/custom.js"></script>
  <script src="js/add_customer.js"></script>
  <script type="text/javascript" src="cordova.js" </script>
    <script type="text/javascript">$(document).ready(function(){app.initialize();});</script>
    <script src="js/animsition.js"></script>
    <script src="js/sweetalert.min.js"></script>
    <script src="js/material.min.js"></script>
    <script src="js/jquery.swipebox.min.js"></script>
    <script src="js/function.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular-translate.min.js"></script>
    <script src="js/add_customer_ang.js"></script>
    <script>
    langfile = localStorage.getItem("language");
    if (langfile == 'en')
    document.write('<scri' + 'pt src="js/enlang_ang.js"></' + 'script>');
    else
    document.write('<scri' + 'pt src="js/itlang_ang.js"></' + 'script>');
    if(langfile ==  "en"){
      //             $.getScript("js/i18n/angular-locale_en.js");
      document.write('<scri' + 'pt src="js/i18n/angular-locale_en.js"></' + 'script>');
    }
    else{
      //             $.getScript("js/i18n/angular-locale_it.js");
      document.write('<scri' + 'pt src="js/i18n/angular-locale_it.js"></' + 'script>');
    }
    </script>
    <script src="js/ng-currency.js"></script>
  </head>
  <body>
    <div ng-app="myApp" ng-controller="personCtrl" class="animsition">
      <!-- Page Content -->
      <main class="mdl-layout__content">
        <div class=""> <!-- card -->
          <div class="account-info dark-blue-bg">
            <div class="account-navigation"> <!-- top icons -->
              <a class="mdl-button mdl-js-button mdl-button--icon left" href="javascript:;" ng-click="back()">
                <img src="img/back-button.png">
              </a>
              <!-- <button class="mdl-button mdl-js-button mdl-button--icon right">
              <i class="material-icons">close</i>
            </button> -->
            <span class="main-heading">{{viewName |translate}}</span>
            <div class="clr"></div>
          </div>
        </div>


        <div class="account-data add-customer-data"> <!-- text fields -->
          <div class="mdl-card mdl-shadow--2dp">
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--12-col">
                <h5 ng-if="formStatus">{{formStatus}}</h5>
                <form name="form" novalidate >
                  <fieldset>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input class="mdl-textfield__input" type="text" id="Customer_name" name="Customer_name"  pattern="[A-Za-z\s]*"
                      ng-model="Customer.name"  ng-change="Customer.name=(Customer.name| capitalize)" minlength="3" ng-required="true"
                      />
                      <label class="mdl-textfield__label" for="Customer_name">{{'Name'|translate}} *</label>
                      <span class="mdl-tooltip mdl-tooltip--validation" for="Customer_name" ng-show="form.Customer_name.$invalid && form.Customer_name.$touched">
                        <span ng-show="form.Customer_name.$error.required">{{'Richiesto'| translate}}</span>
                      </span>
                    </div>
                  </fieldset>
                  <fieldset>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input class="mdl-textfield__input" type="text" id="Customer_surname" name="Customer_surname"value=" "  pattern="[A-Za-z\s]*"
                      ng-model="Customer.surname"  ng-change="Customer.surname=(Customer.surname| capitalize)" minlength="3"
                      ng-required="true" />
                      <label class="mdl-textfield__label" for=""Customer_surname"">{{'Surname'|translate}} *</label>
                      <span class="mdl-tooltip mdl-tooltip--validation" for="Custome_surname" ng-show="form.Customer_surname.$invalid && form.Customer_surname.$touched">
                        <span ng-show="form.Customer_surname.$error.required">{{'Richiesto'| translate}}</span>
                      </span>
                    </div>
                  </fieldset>
                  <fieldset>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input class="mdl-textfield__input" type="email" id="Customer_email" name="Customer_email" value=" "
                      ng-model="Customer.email" ng-change="Customer.email=(Customer.email| capitalize)" ng-required="true" />
                      <label class="mdl-textfield__label" for="email">{{'EmailID' | translate}}*</label>
                      <span class="mdl-tooltip mdl-tooltip--validation" for="Customer_email" ng-show="form.Customer_email.$invalid && form.Customer_email.$touched">
                        <span ng-show="form.Customer_email.$error.required">Required.</span>
                        <span ng-show="form.Customer_email.$error.pattern">{{'mail non valida.'| translate}}</span>
                      </span>
                    </div>
                  </fieldset>
                  <fieldset>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input class="mdl-textfield__input" type="text" id="Customer_mobile"  name="Customer_mobile" value=" "
                      ng-model="Customer.mobile_number" ng-change="Customer.mobile=(Customer.mobile| capitalize)"  />
                      <label class="mdl-textfield__label" for="mobile">{{'Mobile' | translate}}*</label>
                      <span class="mdl-tooltip mdl-tooltip--validation" for="Customer_mobile" ng-show="form.Customer_mobile.$invalid && form.Customer_mobile.$touched">
                        <span ng-show="form.Customer_mobile.$error.required">Required.</span>
                        <span ng-show="form.Customer_mobile.$error.pattern">{{' numero telefono non valida.'| translate}}</span>
                      </span>
                    </div>
                  </fieldset>
                  <fieldset>
                    <div class="demo-card-image mdl-card mdl-shadow--2dp">
                      <div class="mdl-card__title mdl-card--expand">{{'Immagine Cliente'|translate}}</div>
                      <img  ng-show="Customer.image.length>0" ng-src ="{{Customer.image.length>0 ? Customer.IMAGEURI+ Customer.image :'' }}" ></img>
                      <center>  <img style="display:none;height:50px;width:50px;margin-top:20px;" id="loader_img" src="img/loader2.gif"  > </center>

                      <div class="mdl-card__actions">
                        <div class="mdl-layout-spacer"></div>

                        <button id="addCamera"class="mdl-button mdl-button--icon mdl-button--colored" ng-click="add_photo()" ><i class="material-icons">add_a_photo</i></button>
                        <span class="mdl-tooltip mdl-tooltip--validation" for="addCamera" >
                          <span >{{'Scatta una foto'|translate}}.</span>
                        </span>
                        <button id="addGallery" class="mdl-button mdl-button--icon mdl-button--colored" ng-click="uploadfromgallery()" ><i class="material-icons">insert_photo</i></button>
                        <span class="mdl-tooltip mdl-tooltip--validation" for="addGallery" >
                          <span >{{'Scegli da Galleria'|translate}}.</span>
                        </span>

                        <button ng-hide="DocLoaded==0 " id="deleteDoc" class="mdl-button mdl-button--icon mdl-button--colored" ng-click="deleteDoc()" ><i class="material-icons">delete</i></button>
                        <span class="mdl-tooltip mdl-tooltip--validation" for="deleteDoc" >
                          <span >{{'Cancella'|translate}}.</span>
                        </span>
                      </div>

                    </div>

                  </fieldset>
                  <div ng-show="Customer.other_field">
                    <fieldset>
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="Kyc_tdi" name="Kyc_tdi"
                        ng-model="Customer.id_type"  ng-change="Customer.id_type=(Customer.id_type| capitalize)" minlength="3" ng-required="Customer.other_field"
                        ng-keyup="showAC('users.id_type','Kyc_tdi');"
                        ng-focus="resetAC()" />
                        <label class="mdl-textfield__label" for="Kyc_tdi">{{'Tipo documento identità'|translate}} *</label>
                        <table class="mdl-data-table mdl-js-data-table  border-none  ">
                          <tbody style="display:table">
                            <tr ng-click="addWord('Customer.id_type',item.word)" ng-repeat="item in word.id_type">
                              <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
                            </tr>
                          </tbody>
                        </table>
                        <span class="mdl-tooltip mdl-tooltip--validation" for="Kyc_tdi" ng-show="form.Kyc_tdi.$invalid && form.Kyc_tdi.$touched">
                          <span ng-show="form.Kyc_tdi.$error.required">{{'Richiesto'| translate}}</span>
                        </span>
                      </div>
                    </fieldset>
                    <fieldset>
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="Kyc_ard" name="Kyc_ard"
                        ng-model="Customer.id_authority_name"  ng-change="Customer.id_authority_name=(Customer.id_authority_name| capitalize)"
                        minlength="3" ng-required="Customer.other_field" ng-focus="resetAC()"
                        ng-keyup="showAC('users.id_authority_name','Kyc_ard');"  />
                        <label class="mdl-textfield__label" for="Kyc_ard">{{'AuthoritythatreleasedIdentityDocument'|translate}} *</label>
                        <table class="mdl-data-table mdl-js-data-table  border-none  ">
                          <tbody style="display:table">
                            <tr ng-click="addWord('Kyc.data_of_identification',item.word)" ng-repeat="item in word.date_of_identification">
                              <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
                            </tr>
                          </tbody>
                        </table>
                        <span class="mdl-tooltip mdl-tooltip--validation" for="Kyc_ard" ng-show="form.Kyc_ard.$invalid && form.Kyc_ard.$touched">
                          <span ng-show="form.Kyc_ard.$error.required">{{'Richiesto'| translate}}</span>
                        </span>
                      </div>
                    </fieldset>
                    <fieldset>
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="Kyc_ndoc" name="Kyc_ndoc"
                        ng-model="Customer.id_number"   ng-required="Customer.other_field"
                        />
                        <label class="mdl-textfield__label" for="Kyc_doi">{{'Numero del documento di identità'|translate}} *</label>
                        <span class="mdl-tooltip mdl-tooltip--validation" for="Kyc_ndoc" ng-show="form.Kyc_ndoc.$invalid && form.Kyc_ndoc.$touched">
                          <span ng-show="form.Kyc_ndoc.$error.required">{{'Richiesto'| translate}}</span>
                        </span>
                      </div>
                    </fieldset>                  <fieldset>
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="date" id="Kyc_ddoc" name="Kyc_ddoc"
                        ng-model="Customer.date_of_identification"   ng-required="Customer.other_field"
                        />
                        <label class="mdl-textfield__label" for="Kyc_doi">{{'ReleaseDateofIdentityDocument'|translate}} *</label>
                        <span class="mdl-tooltip mdl-tooltip--validation" for="Kyc_ddoc" ng-show="form.Kyc_ddoc.$invalid && form.Kyc_ddoc.$touched">
                          <span ng-show="form.Kyc_ddoc.$error.required">{{'Richiesto'| translate}}</span>
                        </span>
                      </div>
                    </fieldset>

                    <fieldset>
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="date" id="Kyc_eovdoc" name="Kyc_eovdoc"
                        ng-model="Customer.id_validity"   ng-required="Customer.other_field"
                        />
                        <label class="mdl-textfield__label" for="Kyc_doi">{{'Data Scandenza Documento'|translate}} *</label>
                        <span class="mdl-tooltip mdl-tooltip--validation" for="Kyc_eovdoc" ng-show="form.Kyc_eovdoc.$invalid && form.Kyc_eovdoc.$touched">
                          <span ng-show="form.Kyc_eovdoc.$error.required">{{'Richiesto'| translate}}</span>
                        </span>
                      </div>
                    </fieldset>
                    <fieldset>
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input ng-currency class="mdl-textfield__input" type="text" id="kyc_annual_income" name="kyc_annual_income" minlength="3"  value=" "
                        ng-model="Customer.annual_income"   minlength="3"
                        />
                        <label class="mdl-textfield__label" for="kyc_annual_income">{{'Annualincome' | translate }}*</label>
                        <span class="mdl-tooltip mdl-tooltip--validation" for="kyc_annual_income" ng-show="form.kyc_annual_income.$invalid && form.kyc_annual_income.$touched">
                          <span ng-show="form.kyc_annual_income.$error.required">{{'Richiesto'|translate}}.</span>
                        </span>

                      </div>
                    </fieldset>
                    <fieldset>
                      <div id="list_doc"   ng-repeat="Doc in Customer.Docs  |filter: 'identit' as identityDocs" ng-init="DocIndex=$index">
                        <div ng-hide="Doc.deleted" >

                          <div class="demo-card-image mdl-card mdl-shadow--2dp">
                            <div class="mdl-card__title mdl-card--expand">{{Doc.doc_name}}</div>
                            <img ng-click="edit_doc(Doc)" ng-show="Doc.doc_image.length>0" ng-src ="{{Doc.doc_image.length>0 ? Doc.IMAGEURI+ Doc.doc_image :'' }}" ></img>
                            <center>  <img style="display:none;height:50px;width:50px;margin-top:20px;" id="loader_img" src="img/loader2.gif"  > </center>

                            <div class="mdl-card__actions">
                              <div class="mdl-layout-spacer"></div>
                              <button ng-hide="Contract.DocsLoaded>0 " id="addDoc" class="mdl-button mdl-button--icon mdl-button--colored" ng-click="add_document(Doc)" ><i class="material-icons">add</i></button>
                              <span class="mdl-tooltip mdl-tooltip--validation" for="addDoc" >
                                <span >{{'Aggiungi Immagine'|translate}}.</span>
                              </span>

                              <button ng-hide="Contract.DocsLoaded==0 "id="addCamera"class="mdl-button mdl-button--icon mdl-button--colored" ng-click="add_photo(Doc,DocIndex)" ><i class="material-icons">add_a_photo</i></button>
                              <span class="mdl-tooltip mdl-tooltip--validation" for="addCamera" >
                                <span >{{'Scatta una foto'|translate}}.</span>
                              </span>
                              <button ng-hide="Contract.DocsLoaded==0 " id="addGallery" class="mdl-button mdl-button--icon mdl-button--colored" ng-click="uploadfromgallery(Doc,DocIndex)" ><i class="material-icons">insert_photo</i></button>
                              <span class="mdl-tooltip mdl-tooltip--validation" for="addGallery" >
                                <span >{{'Scegli da Galleria'|translate}}.</span>
                              </span>

                              <button ng-hide="Contract.DocsLoaded==0 " id="deleteDoc" class="mdl-button mdl-button--icon mdl-button--colored" ng-click="deleteDoc(Doc,DocIndex)" ><i class="material-icons">delete</i></button>
                              <span class="mdl-tooltip mdl-tooltip--validation" for="deleteDoc" >
                                <span >{{'Cancella'|translate}}.</span>
                              </span>
                            </div>

                          </div>
                        </div>


                      </div>

                      <div ng-show="identityDocs.length==0"  >

                        <div class="demo-card-image mdl-card mdl-shadow--2dp">
                          <div class="mdl-card__title mdl-card--expand">{{'Documento identità'|translate}}</div>
                          <center>  <img style="display:none;height:50px;width:50px;margin-top:20px;" id="loader_img" src="img/loader2.gif"  > </center>

                          <div class="mdl-card__actions">
                            <div class="mdl-layout-spacer"></div>
                            <button ng-hide="Contract.DocsLoaded>0 " id="addDoc" class="mdl-button mdl-button--icon mdl-button--colored" ng-click="add_document()" ><i class="material-icons">add</i></button>
                            <span class="mdl-tooltip mdl-tooltip--validation" for="addDoc" >
                              <span >{{'Aggiungi Immagine'|translate}}.</span>
                            </span>

                          </div>

                        </div>
                      </div>
                    </fieldset>



                  </div>

                </div>
              </div>


            </form>
            <div class="center-align">
              <a id="save_button_cust"  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary orange-btn" ng-click="add_customer()" href="javascript:;">
                {{'Save' | translate}}
              </a>
              <a id="cancel_button_cust" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary blue-btn" ng-click="back()" href="javascript:;">
                {{'Cancel' | translate}}
              </a>
              <img style="height:50px;width:50px;display:none;" id="loader_img" src="img/loader2.gif"  >
            </div>

          </div>
          <div class="clr"></div>

        </div>

      </div>
    </main>
  </div>
</body>
</html>
