<!DOCTYPE html>
<html class="no-js">
<head>
  <title>AMLAPP</title>
  <meta name="description" content="">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
  <link rel="icon" href="img/favicon.ico" type="image/x-icon"/>
  <!-- Stylesheets -->
  <!--
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500" type="text/css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  -->
  <link rel="stylesheet" href="css/roboto.css" type="text/css">
  <link rel="stylesheet" href="css/materialIcon.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="font-awesome-4.6.2/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/animsition.min.css">

  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animsition/3.5.2/css/animsition.css"> -->

  <link rel="stylesheet" type="text/css" href="css/sweetalert.css">
  <link rel="stylesheet" href="css/material.min.css">
  <link rel="stylesheet" href="css/swipebox.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/stylesheet.css">
  <link rel="stylesheet" href="css/jquery.fancybox.css">

    <script src='https://www.google.com/recaptcha/api.js'></script>

  <script src="https://amlapp.euriskoformazione.com/js/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="https://amlapp.euriskoformazione.com/js/custom.js"></script>
  <script>
  var isapp = document.URL.indexOf( 'http://' ) === -1 && document.URL.indexOf( 'https://' ) === -1;
  if ( isapp ) {
    document.write('<scri' + 'pt src="https://amlapp.euriskoformazione.com/cordova.js"></' + 'script>');
    $(document).ready(function(){app.initialize();});
  }
  </script>
  <script src="https://amlapp.euriskoformazione.com/js/animsition.min.js"></script>
  <script src="https://amlapp.euriskoformazione.com/js/sweetalert.min.js"></script>
  <script src="https://amlapp.euriskoformazione.com/js/material.min.js"></script>
  <script src="https://amlapp.euriskoformazione.com/js/jquery.swipebox.min.js"></script>
  <script src="https://amlapp.euriskoformazione.com/js/jquery.fancybox.pack.js"></script>
  <script src="https://amlapp.euriskoformazione.com/js/function.js"></script>
  <script src="https://amlapp.euriskoformazione.com/js/angular.min.js"></script>
  <script src="https://amlapp.euriskoformazione.com/js/angular-ui-router.js"></script>
  <script src="https://amlapp.euriskoformazione.com/js/angular-route.min.js"></script>
  <script src="https://amlapp.euriskoformazione.com/js/angular-sanitize.js"></script>
  <script src="https://amlapp.euriskoformazione.com/js/angular-translate.min.js"></script>
  <script src="https://amlapp.euriskoformazione.com/js/angular-translate-loader-static-files.min.js"></script>
  <script src="https://amlapp.euriskoformazione.com/js/tmhDynamicLocale.min.js"></script>

  <script src="https://amlapp.euriskoformazione.com/js/ng-infinite-scroll.min.js"></script>
  <script src="https://amlapp.euriskoformazione.com/js/ng-currency.js"></script></head>
  <script src="https://amlapp.euriskoformazione.com/js/signature_pad.js"></script></head>

  <script src="https://amlapp.euriskoformazione.com/amlapp.js"></script>
  <script src="https://amlapp.euriskoformazione.com/app/language.js"></script>
  <script src="https://amlapp.euriskoformazione.com/app/login.js"></script>

  <script src="https://amlapp.euriskoformazione.com/app/my_contract.js"></script>
  <script src="https://amlapp.euriskoformazione.com/app/view_contract.js"></script>
  <script src="https://amlapp.euriskoformazione.com/app/my_company.js"></script>
  <script src="https://amlapp.euriskoformazione.com/app/my_customer.js"></script>
  <script src="https://amlapp.euriskoformazione.com/app/my_agent.js"></script>
  <script src="https://amlapp.euriskoformazione.com/app/owners_list.js"></script>
  <script src="https://amlapp.euriskoformazione.com/app/my_document.js"></script>
  <script src="https://amlapp.euriskoformazione.com/app/add_contract.js"></script>
  <script src="https://amlapp.euriskoformazione.com/app/add_customer.js"></script>
  <script src="https://amlapp.euriskoformazione.com/app/add_company.js"></script>
  <script src="https://amlapp.euriskoformazione.com/app/add_document.js"></script>
  <script src="https://amlapp.euriskoformazione.com/app/add_owners.js"></script>
  <script src="https://amlapp.euriskoformazione.com/app/kyc_contractor.js"></script>
  <script src="https://amlapp.euriskoformazione.com/app/kyc_company.js"></script>
  <script src="https://amlapp.euriskoformazione.com/app/kyc_owners.js"></script>
  <script src="https://amlapp.euriskoformazione.com/app/kyc_document.js"></script>
  <script src="https://amlapp.euriskoformazione.com/app/kyc_signature.js"></script>
  <script src="https://amlapp.euriskoformazione.com/app/risk_profile01.js"></script>
  <script src="https://amlapp.euriskoformazione.com/app/risk_profile02.js"></script>
  <script src="https://amlapp.euriskoformazione.com/app/risk_profile03.js"></script>
  <script src="https://amlapp.euriskoformazione.com/app/risk_profile04.js"></script>
  <script src="https://amlapp.euriskoformazione.com/app/risk_profile05.js"></script>
  <script src="https://amlapp.euriskoformazione.com/app/risk_final.js"></script>
  <script src="https://amlapp.euriskoformazione.com/app/my_profile.js"></script>
  <script src="https://amlapp.euriskoformazione.com/app/risk_profile01_sm.js"></script>
  <script src="https://amlapp.euriskoformazione.com/app/risk_profile02_sm.js"></script>
  <script src="https://amlapp.euriskoformazione.com/app/risk_final_sm.js"></script>
  <script src="https://amlapp.euriskoformazione.com/app/risk_profile01_4d.js"></script>
  <script src="https://amlapp.euriskoformazione.com/app/risk_profile02_4d.js"></script>
  <script src="https://amlapp.euriskoformazione.com/app/risk_profile03_4d.js"></script>
  <script src="https://amlapp.euriskoformazione.com/app/risk_profile04_4d.js"></script>
  <script src="https://amlapp.euriskoformazione.com/app/risk_final_4d.js"></script>

  <script src="https://amlapp.euriskoformazione.com/app/share.js"></script>

<!-- Amministrazione  -->
<script src="https://amlapp.euriskoformazione.com/app/email_templates.js"></script>
<script src="https://amlapp.euriskoformazione.com/app/add_email_template.js"></script>
<script src="https://amlapp.euriskoformazione.com/app/my_agencies.js"></script>
<script src="https://amlapp.euriskoformazione.com/app/add_agency.js"></script>
<!--
Text angular
-->
<link rel='stylesheet' href='textAngular/dist/textAngular.css'>
<script src="https://amlapp.euriskoformazione.com/textAngular/dist/textAngular-rangy.min.js"></script>
<script src="https://amlapp.euriskoformazione.com/textAngular/dist/textAngular-sanitize.min.js"></script>
<script src="https://amlapp.euriskoformazione.com/textAngular/dist/textAngular.min.js"></script>
<!-- -->

  <style>
  #heading {
    width:100%;
    text-align:center;

  }

  #left {
    float:left;
    width:100px;
  }

  #center {
    display: inline-block;
    margin:0 auto;

  }

  #right {
    float:right;
    width:100px;
  }
  main{
    overflow-y:hidden !important
  }
  </style>
  <body>
    <div ng-app="myApp" ng-controller="personCtrl"  class="animsition">
      <div class="mdl-layout mdl-js-layout mdl-layout--overlay-drawer-button">

        <!-- Sidebar -->
        <div   ng-show="main.Sidebar" id="sidebar_agency" class="mdl-layout__drawer">
          <div class="mdl-card mdl-shadow--2dp mdl-color--primary mdl-color-text--blue-grey-50 drawer-profile">
            <div class="mdl-card__title user dark-blue-bg">
              <center>AMLAPP Service <br/></center>
              <center><img ng-show="agent.imageurl.length>0" id="Profileimageagencyuser" ng-src="{{agent.imageurl}}" alt="" />
                <span  id="Profileimageagencyusername" class="user-name">{{agent.name}}</span>
                <span  id="Profileimageagencyuseremail" class="user-mail">{{agent.email}}</span>
              </center>
            </div>
            <!-- Top-right User -->
            <nav class="mdl-navigation" style="background-color:white">
              <a class="mdl-navigation__link " ui-sref="home"><i style="color:#757575" class="material-icons">reorder</i><span>{{'Contratti'|translate}}</span></a>
              <a  class="mdl-navigation__link " ui-sref="my_customer" ><i style="color:#757575" class="material-icons">accessibility</i><span>{{main.Cm||translate}}</span></a>
              <a class="mdl-navigation__link " ui-sref="my_company" ><i style="color:#757575" class="material-icons">business</i><span>{{'Societa\''|translate}}</span></a>
              <a ng-show= "agent.user_type==1 " class="mdl-navigation__link " ui-sref="my_agent"> <i style="color:#757575" class="material-icons">group</i><span>{{'Agenti'|translate}}</span></a>
              <a ng-hide= "agent.user_type!=-1 " class="mdl-navigation__link " ui-sref="my_agencies"> <i style="color:#757575" class="material-icons">local_library</i><span>{{'Agenzie'|translate}}</span></a>
              <a ng-hide= "agent.user_type!=-1 " class="mdl-navigation__link " ui-sref="email_templates"> <i style="color:#757575" class="material-icons">email</i><span>{{'Mail '|translate}}</span></a>
              <a ng-hide= "agent.user_type!=-1 " class="mdl-navigation__link " ui-sref="my_plan"> <i style="color:#757575" class="material-icons">cloud</i><span>{{'Piani '|translate}}</span></a>
              <a class="mdl-navigation__link " ui-sref="my_profile" ><i style="color:#757575" class="material-icons tiny" >contacts</i><span>{{'Profilo'|translate}}</span></a>
<!--
              <a class="mdl-navigation__link " ui-sref="my_document" ><i style=";color:#757575" class="material-icons">paper</i><span>{{'Documenti' |translate}} </span></a>
-->
              <a class="mdl-navigation__link " ui-sref="logout()" ><i style=";color:#757575" class="material-icons">input</i><span>Logout </span></a>

            </nav>
          </div>          <!-- Top -->
        </div>

        <!-- Page Content -->
        <main class="mdl-layout__content">

            <div   class="account-info dark-blue-bg">

              <div id="heading" class="account-navigation"> <!-- top icons -->
                <!--  <a class="mdl-button mdl-js-button mdl-button--icon left" onClick="logout()" href="javascript:void(0)">
                <img src="img/back-button.png">
              </a>  -->
              <div ng-show="main.Sidebar" class="left" style="margin-left:25px">&nbsp;</div>
              <a ng-show="main.Back==true"  class="mdl-button mdl-js-button mdl-button--icon left" href="javascript:;" ng-click="back()">
                <img src="img/back-button.png">
              </a>
              <button id="add_button" ng-show="main.Add==true" ng-click="add()" class="mdl-button mdl-js-button mdl-button--icon right" style="border:2px solid #FFF">
                <!--<img src="img/add-search.png">-->
                <b >+</b>
              </button>
              <span style="margin-left:-130px;font-size:8px" class="mdl-tooltip mdl-tooltip--validation toright" for="add_button" >
                <div >{{main.AddLabel|translate}}</div>
              </span>
              &nbsp;
              <div class="right mdl-layout-spacer"></div>
              &nbsp;
              <div ng-show="main.Search" class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right right">
                <label class="mdl-button mdl-js-button mdl-button--icon"
                for="waterfall-exp">
                <i class="material-icons">search</i>
              </label>
              <div class="mdl-textfield__expandable-holder">
                <input ng-model="searchText" class="mdl-textfield__input" type="text" name="sample"
                id="waterfall-exp" />
              </div>
            </div>
            <span id="center" class="main-heading">{{main.viewName | translate}}</span>
            <div class="clr"></div>
          </div>
        </div>
        <div id="ui-loader" class="center2" ng-show="main.loader==true" id="loader_img" >&nbsp;
          <img   style="height:50px;width:50px;margin-top:20px" src="img/loader2.gif"  />
        </div>
        <div  id="ui-content" ng-class="(main.login) ? 'meno30Top' :''" ui-view ng-hide="main.loader==true" class="  account-data add-customer-data content-data-ax" ng-cloak> <!-- text fields -->
        </div>


    </main>
  </div>
</div>
<script>
$( document ).ready(function() {
  $('.tooltip').on('mouseenter',function(){
      // on mouseenter
      $('[for=”' +$this.attr('id')+'"]').addClass('is-active');
      $('[for=”' +$this.attr('id')+'"]').show();
  })
  $('.tooltip').on('mouseleave',function(){
      $('span[for=”' +$this.attr('id')+'"]').removeClass('is-active');
      $('span[for=”' +$this.attr('id')+'"]').hide();
  });
  $('.mdl-navigation__link').click(function(){
    $('.mdl-layout__drawer').toggleClass('is-visible');
    $('.mdl-layout__obfuscator').toggleClass('is-visible');
  });
});
</script>
</body>
</html>
