<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>Tax</title>
  <meta name="description" content="">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:100,300,400,500" type="text/css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="css/animsition.css">
  <link rel="stylesheet" type="text/css" href="css/sweetalert.css">
  <link rel="stylesheet" href="css/material.css">
  <link rel="stylesheet" href="css/swipebox.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/stylesheet.css">
  <script src="js/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="js/custom.js"></script>
  <script type="text/javascript" src="cordova.js"> </script>
  <script type="text/javascript">$(document).ready(function(){app.initialize();});</script>
  <script src="js/animsition.js"></script>
  <script src="js/sweetalert.min.js"></script>
  <script src="js/material.min.js"></script>
  <script src="js/jquery.swipebox.min.js"></script>
  <script src="js/function.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/angular-route.min.js"></script>
  <script src="js/angular-translate.min.js"></script>
  <script src="js/kyc_owners.js"></script>
  <script>
  langfile = localStorage.getItem("language");
  if (langfile == 'en')
  document.write('<scri' + 'pt src="js/enlang_ang.js"></' + 'script>');
  else
  document.write('<scri' + 'pt src="js/itlang_ang.js"></' + 'script>');
  if(langfile ==  "en"){
    //             $.getScript("js/i18n/angular-locale_en.js");
    document.write('<scri' + 'pt src="js/i18n/angular-locale_en.js"></' + 'script>');
  }
  else{
    //             $.getScript("js/i18n/angular-locale_it.js");
    document.write('<scri' + 'pt src="js/i18n/angular-locale_it.js"></' + 'script>');
  }
  </script>
  <script src="js/ng-currency.js"></script>
</head>
<style>
.first_letter_cap
{
  text-transform: capitalize;
}
</style>

<body >
  <!-- Page Content -->
  <div ng-app="myApp" ng-controller="personCtrl"  id="menulist">



    <main class="mdl-layout__content">
      <div class=""> <!-- card -->
        <div class="account-info dark-blue-bg">
          <div class="account-navigation"> <!-- top icons -->
            <a class="mdl-button mdl-js-button mdl-button--icon left" href="javascript:;" ng-click="back()">
              <img src="img/back-button.png">
            </a>
            <button class="mdl-button mdl-js-button mdl-button--icon right" ng-click="add_owner()" style="border:2px solid #FFF">
              <!--<img src="img/add-search.png">-->
              <b >+</b>
            </button>
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right right">
              <label class="mdl-button mdl-js-button mdl-button--icon"
              for="waterfall-exp">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" name="sample"
              id="waterfall-exp" />
            </div>
          </div>
          <span class="main-heading"> {{viewName |translate}}</span>
          <div class="clr"></div>
        </div>
      </div>
    </div>

    <div class="list-data-content">
      <center>  <h4>{{'Adeguata Verifica' |translate  }} </h4></center>
      <center>  <h5>{{'OwnersList' |translate  }} </h5></center>
      <style>.customer-listing'+i+' { background-image: url("./img/customer-listing2.png"); margin-right: 8px; } </style>
      <center>  <img style="height:50px;width:50px;margin-top:20px;" id="loader_img" src="img/loader2.gif"  > </center>
      <div id="list_owner" ng-hide="Kyc.owner_data.length == 0 " class="ng-hide"  class="mdl-grid hidden"  ng-repeat="Owner in Kyc.owner_data " ng-init="ownerIndex=$index">
        <div class="mdl-cell mdl-cell--12-col">
          <div class="mdl-card amazing mdl-shadow--2dp">
            <div  style="padding:4px" class="mdl-card__supporting-text mdl-color-text--grey-600">
              <div style="cursor:pointer;"  class="minilogo customer-listing1"></div>
              <div class="card-author">


              </div>
              <div class="mdl-grid">
                <div class="mdl-cell--12-col"  ng-click="edit_owner(Owner,ownerIndex)">
                  <span style="cursor:pointer;" >
                    <strong class="blue first_letter_cap">{{Owner.name}} {{Owner.surname}}</strong>
                  </span><br/>
                  <span class="green" style=" cursor:pointer;"  >
                    {{ Owner.percentuale | currency : '%' }}
                  </span><br/>
                  <span class="green" style=" cursor:pointer;"  >
                    {{Owner.email}}
                  </span><br/>
                  <span class="green" style=" cursor:pointer;"  class="long-email">
                    {{Owner.fiscal_id}}
                  </span>
                </div>
              </div>
            </div>
            <div class="mdl-card__actions mdl-card--border " style="font-size:12px">
              <div class="mdl-layout-spacer"></div>

              <button  name="deleteOwn" class="mdl-button mdl-button--icon mdl-button--colored" ng-click="deleteOwn(Owner,ownerIndex)" >
                <i class="material-icons">delete</i>
              </button>
              <span class="mdl-tooltip mdl-tooltip--validation" for="deleteDoc" >
                <span >{{'Cancella'|translate}}.</span>
              </span>
            </div>
          </div>

        </div>
      </div>

      <div id="no_Owner" ng-hide="Kyc.owner_data.length != 0 " class="ng-hide"  >
        <div  class="mdl-cell mdl-cell--12-col">
          <div class="mdl-card amazing mdl-shadow--2dp">
            <div  style="padding:4px" class="mdl-card__supporting-text mdl-color-text--grey-600">
              <div class="mdl-grid">
                <div class="mdl-cell-12-col">
                  <span style="cursor:pointer;" >
                    <strong class="blue first_letter_cap">Nessun Titolare Effettivo per {{Company.name}} ancora inserito</strong>
                  </span><br/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <div class="center-align">
      <button  id="save_prev" ng-click="save_kyc(-1)" class="left mdl-button mdl-js-button mdl-button--fab mdl-button--colored orange-btn">
        <i class="material-icons">arrow_left_thick</i>
      </button>
      <button  id="save_next" ng-click="save_kyc(4)" class="right mdl-button mdl-js-button mdl-button--fab mdl-button--colored blue-btn">
        <i class="material-icons">arrow_right_thick</i>
      </button>
      <span class="mdl-tooltip mdl-tooltip--validation" for="save_prev" >
        <span >{{'SavePrev'|translate}}.</span>
      </span>
      <button  id="save_exit" ng-click="save_kyc(0)" class="right mdl-button mdl-js-button mdl-button--fab mdl-button--colored ">
        <i class="material-icons">exit_to_app</i>
      </button>
      <span class="mdl-tooltip mdl-tooltip--validation" for="save_exit" >
        <span >{{'SaveExit'|translate}}.</span>
      </span>
      <img style="height:50px;width:50px;display:none;" id="loader_img" src="img/loader2.gif"  >
    </div>

  </main>
</div>


</body>
</html>
