<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>Tax</title>
  <meta name="description" content="">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:100,300,400,500" type="text/css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animsition/3.5.2/css/animsition.css"> -->

  <link rel="stylesheet" type="text/css" href="css/sweetalert.css">
  <link rel="stylesheet" href="css/material.css">
  <link rel="stylesheet" href="css/swipebox.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/stylesheet.css">
  <script src="js/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="js/custom.js"></script>
  <script src="js/kycstep02.js"></script>
  <script type="text/javascript" src="cordova.js"> </script>
  <script type="text/javascript">$(document).ready(function(){app.initialize();});</script>
  <script src="js/animsition.js"></script>
  <script src="js/sweetalert.min.js"></script>
  <script src="js/material.min.js"></script>
  <script src="js/jquery.swipebox.min.js"></script>
  <script src="js/function.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/angular-route.min.js"></script>
  <script src="js/angular-translate.min.js"></script>
  <script src="js/kycstep02_ang.js"></script>
  <script>
  langfile = localStorage.getItem("language");
  if (langfile == 'en')
  document.write('<scri' + 'pt src="js/enlang_ang.js"></' + 'script>');
  else
  document.write('<scri' + 'pt src="js/itlang_ang.js"></' + 'script>');
  if(langfile ==  "en"){
    //             $.getScript("js/i18n/angular-locale_en.js");
    document.write('<scri' + 'pt src="js/i18n/angular-locale_en.js"></' + 'script>');
  }
  else{
    //             $.getScript("js/i18n/angular-locale_it.js");
    document.write('<scri' + 'pt src="js/i18n/angular-locale_it.js"></' + 'script>');
  }
  </script>
  <script src="js/ng-currency.js"></script>
</head>

<body >
  <div ng-app="myApp" ng-controller="personCtrl" class="animsition">
    <div class="mdl-layout mdl-js-layout mdl-layout--overlay-drawer-button">

      <!-- Sidebar -->
      <div id="sidebar_agency" class="mdl-layout__drawer">
        <!-- Top -->

      </div>
      <!-- Page Content -->
      <main class="mdl-layout__content">
        <div class="account-info dark-blue-bg">
          <div class="account-navigation"> <!-- top icons -->
            <span class="main-heading">{{'Identificazione' |translate}} </span>
            <div class="clr"></div>
          </div>
        </div>


        <div class="account-data add-customer-data"> <!-- text fields -->
          <center><h5 >{{'Adeguata Verifica' |translate }} {{'secondo' |translate }}</h5></center>
          <div class="mdl-card mdl-shadow--2dp ">
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--12-col">
                <h5 ng-if="formStatus">{{formStatus}}</h5>
                <form id="form" name="form" action="#" novalidate="">
                  <fieldset>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input class="mdl-textfield__input" type="text" id="Kyc_poi" name="Kyc_poi"  pattern="[A-Za-z\s]*"
                      ng-model="Kyc.place_of_identification"  ng-change="Kyc.place_of_identification=(Kyc.place_of_identification| capitalize)"
                      minlength="3" ng-required="true" ng-keyup="showAC('Kyc.place_of_identification');"
                      ng-focus="resetAC()"
                      />
                      <label class="mdl-textfield__label" for="Kyc_poi">{{'place_of_identification'|translate}} *</label>
                      <table class="mdl-data-table mdl-js-data-table  border-none  ">
                        <tbody style="display:table">
                          <tr ng-click="addWord('Kyc.place_of_identification',item.word)" ng-repeat="item in word.place_of_identification">
                            <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
                          </tr>
                        </tbody>
                      </table>
                      <span class="mdl-tooltip mdl-tooltip--validation" for="Kyc_poi" ng-show="form.Kyc_poi.$invalid && form.Kyc_poi.$touched">
                        <span ng-show="form.Kyc_poi.$error.required">{{'Richiesto'| translate}}</span>
                      </span>
                    </div>
                  </fieldset>
                  <fieldset>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input class="mdl-textfield__input" type="date" id="Kyc_doi" name="Kyc_doi"
                      ng-model="Kyc.date_of_identification"   ng-required="true"
                      />
                      <label class="mdl-textfield__label" for="Kyc_doi">{{'dateofidentification'|translate}} *</label>
                      <span class="mdl-tooltip mdl-tooltip--validation" for="Kyc_doi" ng-show="form.Kyc_doi.$invalid && form.Kyc_doi.$touched">
                        <span ng-show="form.Kyc_doi.$error.required">{{'Richiesto'| translate}}</span>
                      </span>
                    </div>
                  </fieldset>
                  <fieldset>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input class="mdl-textfield__input" type="date" id="Kyc_dob" name="Kyc_dob"
                      ng-model="Kyc.contractor_data.dob"   ng-required="true"
                      />
                      <label class="mdl-textfield__label" for="Kyc_dob">{{'Dob'|translate}} *</label>
                      <span class="mdl-tooltip mdl-tooltip--validation" for="Kyc_dob" ng-show="form.Kyc_dob.$invalid && form.Kyc_dob.$touched">
                        <span ng-show="form.Kyc_dob.$error.required">{{'Richiesto'| translate}}</span>
                      </span>
                    </div>
                  </fieldset>
                  <fieldset>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input class="mdl-textfield__input" type="text" id="Kyc_tob" name="Kyc_tob"  pattern="[A-Za-z\s]*"
                      ng-model="Kyc.contractor_data.birth_town"  ng-change="Kyc.contractor_data.birth_town=(Kyc.contractor_data.birth_town| capitalize)"
                      minlength="3" ng-required="true" ng-keyup="showAC('Kyc.contractor_data.birth_town','Kyc_tob');"
                      ng-focus="resetAC()"
                      />
                      <label class="mdl-textfield__label" for="Kyc_poi">{{'Città di Nascita'|translate}} *</label>
                      <table class="mdl-data-table mdl-js-data-table  border-none  ">
                        <tbody style="display:table">
                          <tr ng-click="addWord('Kyc.contractor_data.birth_town',item.word)" ng-repeat="item in word.town_of_birth">
                            <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
                          </tr>
                        </tbody>
                      </table>
                      <span class="mdl-tooltip mdl-tooltip--validation" for="Kyc_tob" ng-show="form.Kyc_tob.$invalid && form.Kyc_tob.$touched">
                        <span ng-show="form.Kyc_tob.$error.required">{{'Richiesto'| translate}}</span>
                      </span>
                    </div>
                  </fieldset>
                  <fieldset>
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                    <select ng-model="Kyc.contractor_data.birth_country" class="mdl-textfield__input" placeholder="{{'Nazione di Nascita' | translate}}"
                    ng-required="true"
                    id="customer_birth_country" name="customer_birth_country">
                    <option ng-repeat="option in countryList" value="{{option.country_id}}">{{option.country_name}}</option>
                    </select>
                    <label class="mdl-textfield__label" for="customer_birth_country">{{'placeofbirth'|translate}} *</label>
                    <span class="mdl-tooltip mdl-tooltip--validation" for="customer_birth_country" ng-show="form.customer_birth_country.$invalid && form.customer_birth_country.$touched">
                      <span ng-show="form.customer_birth_country.$error.required">{{'Richiesto'| translate}}</span>
                    </span>
                  </div>
                  </fieldset>

                  <fieldset>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input class="mdl-textfield__input" type="text" id="Kyc_tdi" name="Kyc_tdi"
                      ng-model="Kyc.contractor_data.id_type"  ng-change="Kyc.contractor_data.id_type=(Kyc.contractor_data.id_type| capitalize)" minlength="3" ng-required="true"
                      ng-keyup="showAC('users.id_type','Kyc_tdi');"
                      ng-focus="resetAC()" />
                      <label class="mdl-textfield__label" for="Kyc_tdi">{{'Tipo documento identità'|translate}} *</label>
                      <table class="mdl-data-table mdl-js-data-table  border-none  ">
                        <tbody style="display:table">
                          <tr ng-click="addWord('Kyc.contractor_data.id_type',item.word)" ng-repeat="item in word.id_type">
                            <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
                          </tr>
                        </tbody>
                      </table>
                      <span class="mdl-tooltip mdl-tooltip--validation" for="Kyc_tdi" ng-show="form.Kyc_tdi.$invalid && form.Kyc_tdi.$touched">
                        <span ng-show="form.Kyc_tdi.$error.required">{{'Richiesto'| translate}}</span>
                      </span>
                    </div>
                  </fieldset>
                  <fieldset>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input class="mdl-textfield__input" type="text" id="Kyc_ard" name="Kyc_ard"
                      ng-model="Kyc.contractor_data.id_authority_name"  ng-change="Kyc.contractor_data.id_authority_name=(Kyc.contractor_data.id_authority_name| capitalize)"
                      minlength="3" ng-required="true" ng-focus="resetAC()"
                      ng-keyup="showAC('users.id_authority_name','Kyc_ard');"  />
                      <label class="mdl-textfield__label" for="Kyc_ard">{{'AuthoritythatreleasedIdentityDocument'|translate}} *</label>
                      <table class="mdl-data-table mdl-js-data-table  border-none  ">
                        <tbody style="display:table">
                          <tr ng-click="addWord('Kyc.data_of_identification',item.word)" ng-repeat="item in word.date_of_identification">
                            <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
                          </tr>
                        </tbody>
                      </table>
                      <span class="mdl-tooltip mdl-tooltip--validation" for="Kyc_ard" ng-show="form.Kyc_ard.$invalid && form.Kyc_ard.$touched">
                        <span ng-show="form.Kyc_ard.$error.required">{{'Richiesto'| translate}}</span>
                      </span>
                    </div>
                  </fieldset>
                  <fieldset>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input class="mdl-textfield__input" type="text" id="Kyc_ndoc" name="Kyc_ndoc"
                      ng-model="Kyc.contractor_data.id_number"   ng-required="true"
                      />
                      <label class="mdl-textfield__label" for="Kyc_doi">{{'Numero del documento di identità'|translate}} *</label>
                      <span class="mdl-tooltip mdl-tooltip--validation" for="Kyc_ndoc" ng-show="form.Kyc_ndoc.$invalid && form.Kyc_ndoc.$touched">
                        <span ng-show="form.Kyc_ndoc.$error.required">{{'Richiesto'| translate}}</span>
                      </span>
                    </div>
                  </fieldset>                  <fieldset>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input class="mdl-textfield__input" type="date" id="Kyc_ddoc" name="Kyc_ddoc"
                      ng-model="Kyc.contractor_data.id_release_date"   ng-required="true"
                      />
                      <label class="mdl-textfield__label" for="Kyc_doi">{{'ReleaseDateofIdentityDocument'|translate}} *</label>
                      <span class="mdl-tooltip mdl-tooltip--validation" for="Kyc_ddoc" ng-show="form.Kyc_ddoc.$invalid && form.Kyc_ddoc.$touched">
                        <span ng-show="form.Kyc_ddoc.$error.required">{{'Richiesto'| translate}}</span>
                      </span>
                    </div>
                  </fieldset>

                  <fieldset>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input class="mdl-textfield__input" type="date" id="Kyc_eovdoc" name="Kyc_eovdoc"
                      ng-model="Kyc.contractor_data.id_validity"   ng-required="true"
                      />
                      <label class="mdl-textfield__label" for="Kyc_doi">{{'Data Scandenza Documento'|translate}} *</label>
                      <span class="mdl-tooltip mdl-tooltip--validation" for="Kyc_eovdoc" ng-show="form.Kyc_eovdoc.$invalid && form.Kyc_eovdoc.$touched">
                        <span ng-show="form.Kyc_eovdoc.$error.required">{{'Richiesto'| translate}}</span>
                      </span>
                    </div>
                  </fieldset>

                  <fieldset>
                    <div id="list_doc"   ng-repeat="Doc in Kyc.contractor_data.Docs  |filter: 'identit' as identityDocs" ng-init="DocIndex=$index">
                      <div ng-hide="Doc.deleted" >

                        <div class="demo-card-image mdl-card mdl-shadow--2dp">
                          <div class="mdl-card__title mdl-card--expand">{{Doc.doc_name}}</div>
                          <img ng-click="edit_doc(Doc,DocIndex);$event.preventDefault(); $event.stopPropagation();" ng-show="Doc.doc_image.length>0" ng-src ="{{Doc.doc_image.length>0 ? Doc.IMAGEURI+ Doc.doc_image :'' }}" ></img>
                          <center>  <img style="display:none;height:50px;width:50px;margin-top:20px;" id="loader_img" src="img/loader2.gif"  > </center>

                          <div class="mdl-card__actions">
                            <div class="mdl-layout-spacer"></div>
                            <button ng-hide="Contract.DocsLoaded>0 " id="addDoc" class="mdl-button mdl-button--icon mdl-button--colored" ng-click="add_document(Doc);$event.preventDefault(); $event.stopPropagation();" ><i class="material-icons">add</i></button>
                            <span class="mdl-tooltip mdl-tooltip--validation" for="addDoc" >
                              <span >{{'Aggiungi Immagine'|translate}}.</span>
                            </span>

                            <button ng-hide="Contract.DocsLoaded==0 "id="addCamera"class="mdl-button mdl-button--icon mdl-button--colored" ng-click="edit_doc(Doc,DocIndex);$event.preventDefault(); $event.stopPropagation();" ><i class="material-icons">add_a_photo</i></button>
                            <span class="mdl-tooltip mdl-tooltip--validation" for="addCamera" >
                              <span >{{'Cambia immagine'|translate}}.</span>
                            </span>

                            <button ng-hide="Contract.DocsLoaded==0 " id="deleteDoc" class="mdl-button mdl-button--icon mdl-button--colored" ng-click="deleteDoc(Doc,DocIndex);$event.preventDefault(); $event.stopPropagation();" ><i class="material-icons">delete</i></button>
                            <span class="mdl-tooltip mdl-tooltip--validation" for="deleteDoc" >
                              <span >{{'Cancella'|translate}}.</span>
                            </span>
                          </div>

                        </div>
                      </div>


                    </div>

                    <div ng-show="identityDocs.length==0"  >

                      <div class="demo-card-image mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title mdl-card--expand">{{'Documento identità'|translate}}</div>
                        <center>  <img style="display:none;height:50px;width:50px;margin-top:20px;" id="loader_img" src="img/loader2.gif"  > </center>

                        <div class="mdl-card__actions">
                          <div class="mdl-layout-spacer"></div>
                          <button ng-hide="Contract.DocsLoaded>0 " id="addDoc" class="mdl-button mdl-button--icon mdl-button--colored" ng-click="add_document(Doc);$event.preventDefault(); $event.stopPropagation();" ><i class="material-icons">add</i></button>
                          <span class="mdl-tooltip mdl-tooltip--validation" for="addDoc" >
                            <span >{{'Aggiungi Immagine'|translate}}.</span>
                          </span>

                        </div>

                      </div>
                    </div>
                  </fieldset>


                  </form>
                </div>
              </div>
              <div class="clr"></div>

            </div>

          </div>
          <div class="center-align">
            <button  id="save_prev" ng-click="save_kyc(-1)" class="left mdl-button mdl-js-button mdl-button--fab mdl-button--colored orange-btn">
              <i class="material-icons">arrow_left_thick</i>
            </button>
            <button  id="save_next" ng-click="save_kyc(3)" class="right mdl-button mdl-js-button mdl-button--fab mdl-button--colored blue-btn">
              <i class="material-icons">arrow_right_thick</i>
            </button>
            <span class="mdl-tooltip mdl-tooltip--validation" for="save_prev" >
              <span >{{'SavePrev'|translate}}.</span>
            </span>
            <button  id="save_exit" ng-click="save_kyc(0)" class="right mdl-button mdl-js-button mdl-button--fab mdl-button--colored ">
              <i class="material-icons">exit_to_app</i>
            </button>
            <span class="mdl-tooltip mdl-tooltip--validation" for="save_exit" >
              <span >{{'SaveExit'|translate}}.</span>
            </span>
            <img style="height:50px;width:50px;display:none;" id="loader_img" src="img/loader2.gif"  >
          </div>

        </div>


      </main>
    </div>
  </div>
</body>
</html>
