<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>AML</title>
  <meta name="description" content="">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:100,300,400,500" type="text/css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animsition/3.5.2/css/animsition.css"> -->

  <link rel="stylesheet" type="text/css" href="css/sweetalert.css">
  <link rel="stylesheet" href="css/material.css">
  <link rel="stylesheet" href="css/swipebox.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/stylesheet.css">
  <script src="js/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="js/custom.js"></script>
  <script src="js/my_contract.js"></script>
  <script type="text/javascript" src="cordova.js" ></script>

  <script>
  $(document).ready(function(){app.initialize();
  });
  </script>
  <script src="js/animsition.js"></script>
  <script src="js/sweetalert.min.js"></script>
  <script src="js/material.min.js"></script>
  <script src="js/jquery.swipebox.min.js"></script>
  <script src="js/function.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/angular-route.min.js"></script>
  <script src="js/angular-translate.min.js"></script>
  <script src="js/my_contract_ang.js"></script>
  <script>
  langfile = localStorage.getItem("language");
  if (langfile == 'en')
  document.write('<scri' + 'pt src="js/enlang_ang.js"></' + 'script>');
  else
  document.write('<scri' + 'pt src="js/itlang_ang.js"></' + 'script>');
  if(langfile ==  "en"){
    //             $.getScript("js/i18n/angular-locale_en.js");
    document.write('<scri' + 'pt src="js/i18n/angular-locale_en.js"></' + 'script>');
  }
  else{
    //             $.getScript("js/i18n/angular-locale_it.js");
    document.write('<scri' + 'pt src="js/i18n/angular-locale_it.js"></' + 'script>');
  }
  </script>
  <script src="js/ng-currency.js"></script>
</head>
<style>
.first_letter_cap
{
  text-transform: capitalize;
}
</style>


<body  >

  <div ng-app="myApp" ng-controller="personCtrl"  id="menulist">
    <div class="mdl-layout mdl-js-layout mdl-layout--overlay-drawer-button">

      <!-- Sidebar -->
      <div id="sidebar_agency" class="mdl-layout__drawer">
        <!-- Top -->

      </div>
      <!-- Page Content -->
      <main class="mdl-layout__content">
        <div class=""> <!-- card -->

          <div class="account-info dark-blue-bg">

            <div class="account-navigation"> <!-- top icons -->
              <!--  <a class="mdl-button mdl-js-button mdl-button--icon left" onClick="logout()" href="javascript:void(0)">
              <img src="img/back-button.png">
            </a>  -->
            <button ng-click="add_contract()" class="mdl-button mdl-js-button mdl-button--icon right" style="border:2px solid #FFF">
              <!--<img src="img/add-search.png">-->
              <b >+</b>
            </button>
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right right">
              <label class="mdl-button mdl-js-button mdl-button--icon"
              for="waterfall-exp">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input ng-model="searchText" class="mdl-textfield__input" type="text" name="sample"
              id="waterfall-exp" />
            </div>
          </div>
          <span class="main-heading">{{'MyContract' | translate}}</span>
          <div class="clr"></div>
        </div>
      </div>
      <div class="center2" ng-show="loader" id="loader_img" >&nbsp;
        <img   style="height:50px;width:50px;margin-top:20px" src="img/loader2.gif"  />
      </div>
      <div ng-hide="loader==true" class="account-data add-customer-data " ng-cloack> <!-- text fields -->
        <!-- cards grid -->
        <div id="list_contract"  ng-hide="Contracts.length == 0 " class="ng-hide" ng-repeat="Contract in Contracts |filter:searchText "
        ng-init="ContractIndex=$index">

        <div  class="mdl-cell mdl-cell--12-col">
          <div class="mdl-card amazing mdl-shadow--2dp">
            <div  style="padding:4px" class="mdl-card__supporting-text mdl-color-text--grey-600">
              <div style="cursor:pointer;"  class="minilogo customer-listing1" back-img="{{imageurl(Contract)}}"></div>
              <div   ng-click="tocontract(Contract)" class="card-author">


              </div>
              <div  ng-click="tocontract(Contract)" class="mdl-grid">
                <div class="mdl-cell">
                  <span style="cursor:pointer;" >
                    <strong class="blue first_letter_cap">{{Contract.fullname}}</strong>
                  </span><br/>
                  <span style="cursor:pointer;" >
                    {{Contract.CPU}}
                  </span><br/>
                  <span style="cursor:pointer;" class="orange first_letter_cap" >
                    <strong>{{Contract.nature_contract}}</strong>
                  </span><br>
                  <span class="green" style=" cursor:pointer;"  class="long-email">
                    {{Contract.email}}
                  </span>
                </div>
              </div>
              <div class="mdl-card__actions mdl-card--border " style="font-size:12px">
                <div class="mdl-cell">
                  <span class="orange">Adeguata Verifica </span><br/>
                  <span ng-show="Contract.kyc_status==1">Approved<span class="green-checkbox"><img src="img/green-check.png"></span></span>
                  <span ng-show="Contract.kyc_status==0">In Process</span>
                </div>
                <div class="mdl-cell">
                  <span class="blue">Risk Analysis </span><br/>
                  <span ng-show="Contract.status ==1">Approved<span class="green-checkbox"><img src="img/green-check.png"></span></span>
                  <span ng-show="Contract.status ==0">In Process</span>
                  <span ng-show="Contract.status ==1" ng-class="Contract.risk_defined">{{Contract.risk_defined}}</span>

                </div>
                <div class="mdl-cell">
                  <button  name="deleteOwn" class="right mdl-button mdl-button--icon mdl-button--colored" ng-click="deleteContract(Contract,ContractIndex)" >
                    <i class="material-icons">delete</i>
                  </button>
                  <span class="mdl-tooltip mdl-tooltip--validation" for="deleteDoc" >
                    <span >{{'Cancella'|translate}}.</span>
                  </span>
                  <button  name="document" class="right mdl-button mdl-button--icon mdl-button--colored" ng-click="toDocs(Contract)" >
                    <i class="material-icons">attachment</i>
                  </button>
                  <span class="mdl-tooltip mdl-tooltip--validation" for="document" >
                    <span >{{'Documenti Contratto'|translate}}.</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br/>
      <center ng-Show="loaded >= 5 ">
        <a  ng-click="addMoreItems()"  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">
          {{'Altri' | translate }}
        </a>
      </center>
      <br/>
      <div id="no_contract" ng-hide="Contracts.length != 0 " class="ng-hide"  >
        <div  class="mdl-cell mdl-cell--12-col">
          <div class="mdl-card amazing mdl-shadow--2dp">
            <div  style="padding:4px" class="mdl-card__supporting-text mdl-color-text--grey-600">
              <div class="mdl-grid">
                <div class="mdl-cell">
                  <span style="cursor:pointer;" >
                    <strong class="blue first_letter_cap">{{'Nessun cliente inserito ancora'| translate}}</strong>
                  </span><br/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- load more -->

    </div>

  </div>
</main>
</div>
</div>

</body>
</html>
