<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>Tax</title>
  <meta name="description" content="">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:100,300,400,500" type="text/css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" type="text/css" href="font-awesome-4.6.2/css/font-awesome.min.css">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animsition/3.5.2/css/animsition.css"> -->

  <link rel="stylesheet" type="text/css" href="css/sweetalert.css">
  <link rel="stylesheet" href="css/material.css">
  <link rel="stylesheet" href="css/swipebox.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/stylesheet.css">
  <link rel="stylesheet" href="css/jquery.fancybox.css">
  <script src="js/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="js/custom.js"></script>
  <script type="text/javascript" src="cordova.js" </script>
    <script type="text/javascript">$(document).ready(function(){app.initialize();});</script>
    <script src="js/animsition.js"></script>
    <script src="js/sweetalert.min.js"></script>
    <script src="js/material.min.js"></script>
    <script src="js/jquery.swipebox.min.js"></script>
    <script src="js/function.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular-translate.min.js"></script>
    <script src="js/risk_profile01.js"></script>
    <script>
    langfile = localStorage.getItem("language");
    if (langfile == 'en')
    document.write('<scri' + 'pt src="js/enlang_ang.js"></' + 'script>');
    else
    document.write('<scri' + 'pt src="js/itlang_ang.js"></' + 'script>');
    if(langfile ==  "en"){
      //             $.getScript("js/i18n/angular-locale_en.js");
      document.write('<scri' + 'pt src="js/i18n/angular-locale_en.js"></' + 'script>');
    }
    else{
      //             $.getScript("js/i18n/angular-locale_it.js");
      document.write('<scri' + 'pt src="js/i18n/angular-locale_it.js"></' + 'script>');
    }
    </script>
    <script src="js/ng-currency.js"></script></head>

    <body>
      <div ng-app="myApp" ng-controller="personCtrl"  class="animsition">
        <!-- Page Content -->
        <main class="mdl-layout__content">
          <div class=""> <!-- card -->
            <div class="account-info dark-blue-bg">
              <div class="account-navigation"> <!-- top icons -->
                <a class="mdl-button mdl-js-button mdl-button--icon left" ng-click="back()" href="javascript:;">
                  <img src="img/back-button.png">
                </a>
                <span class="main-heading">{{'Profilo soggettivo del Cliente' |translate}}</span>
                <div class="clr"></div>
              </div>
            </div>


            <div class="account-data add-Company-data"> <!-- text fields -->
              <center><h4>{{'Analisi del Rischio'|translate}}</h4></center>

              <div class="mdl-card mdl-shadow--2dp ">
                <div class="mdl-grid">
                  <div class="mdl-cell mdl-cell--12-col">
                    <form name="form" novalidate>
                      <fieldset>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" style="margin-top:5px;">
                          <h5 class="kyc01-head">{{'Il Cliente è PEP'}} </h5>
                          <span style="color:red">{{PEP}}</span>

                          <div class="mdl-grid">
                            <div class="mdl-cell ">
                              <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="PEP-1">
                                <input type="radio" id="PEP-1" ng-model="Risk.risk_data.subjectiveProfile.pep" class="mdl-radio__button" name="PEP" value="1"  >
                                <span class="mdl-radio__label" >{{'HighRisk'| translate}}</span>
                              </label>
                            </div>

                            <div class="mdl-cell">
                              <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="PEP-0">
                                <input type="radio" id="PEP-0" ng-model="Risk.risk_data.subjectiveProfile.pep" class="mdl-radio__button" name="PEP" value="0"  checked>
                                <span class="mdl-radio__label">{{'HighRisk'| translate}}</span>
                              </label>
                            </div>
                          </div>
                        </div>
                      </fieldset>
                      <div class="drawer-separator"></div>
                      <fieldset>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" style="margin-top:5px;">
                          <h5 class="kyc01-head">{{'Il Cliente ha precedenti penali'}} </h5>

                          <div class="mdl-grid">
                            <div class="mdl-cell ">
                              <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="criminalprecedings-1">
                                <input type="radio"  ng-model="Risk.risk_data.subjectiveProfile.criminalprecedings" class="mdl-radio__button"
                                id="criminalprecedings-1" name="criminalprecedings" value="1"  >
                                <span class="mdl-radio__label" >{{'HighRisk'| translate}}</span>
                              </label>
                            </div>

                            <div class="mdl-cell">
                              <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="criminalprecedings-0">
                                <input type="radio"  ng-model="Risk.risk_data.subjectiveProfile.criminalprecedings" class="mdl-radio__button"
                                id="criminalprecedings-0" name="criminalprecedings" value="0"  checked>
                                <span class="mdl-radio__label">{{'HighRisk'| translate}}</span>
                              </label>
                            </div>
                          </div>
                        </div>
                      </fieldset>
                      <div class="drawer-separator"></div>
                      <fieldset>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" style="margin-top:5px;">
                          <h5 class="kyc01-head">{{'Il Cliente è segnalto in liste'}} </h5>

                          <div class="mdl-grid">
                            <div class="mdl-cell ">
                              <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="presenceinlist-1">
                                <input type="radio"  ng-model="Risk.risk_data.subjectiveProfile.presenceinlist" class="mdl-radio__button"
                                id="presenceinlist-1" name="presenceinlist" value="1"  >
                                <span class="mdl-radio__label" >{{'HighRisk'| translate}}</span>
                              </label>
                            </div>

                            <div class="mdl-cell">
                              <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="presenceinlist-0">
                                <input type="radio"  ng-model="Risk.risk_data.subjectiveProfile.presenceinlist" class="mdl-radio__button"
                                id="presenceinlist-0" name="presenceinlist" value="0"  checked>
                                <span class="mdl-radio__label">{{'HighRisk'| translate}}</span>
                              </label>
                            </div>
                          </div>
                        </div>
                      </fieldset>

                      <div class="drawer-separator"></div>


                      <fieldset>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                          <textarea ng-required="false" ng-model="Risk.risk_data.subjectiveProfile.other"
                          class="mdl-textfield__input" type="text" rows= "3"
                          id="subjective_profile_other" name="subjective_profile_other" >
                        </textarea>
                        <label for="subjective_profile_other" class="mdl-textfield__label">{{ 'Altre Osservazioni' | translate}}</label>
                        <span class="mdl-tooltip mdl-tooltip--validation" for="subjective_profile_other" minlength="3" ng-show="form.subjective_profile_other.$invalid && form.subjective_profile_other.$touched">
                          <span ng-show="form.subjective_profile_other.$error.required">{{'Richiesto'|translate}}.</span>
                        </div>
                      </fieldset>


                    </form>
                  </div>
                </div>
              </div>
              <br/>
              <button  id="save_next" ng-click="save_risk(4)" class="right mdl-button mdl-js-button mdl-button--fab mdl-button--colored blue-btn">
                <i class="material-icons">arrow_right_thick</i>
              </button>
              <span class="mdl-tooltip mdl-tooltip--validation" for="save_prev" >
                <span >{{'SaveNext'|translate}}.</span>
              </span>
              <button  id="save_exit" ng-click="save_risk(0)" class="right mdl-button mdl-js-button mdl-button--fab mdl-button--colored ">
                <i class="material-icons">exit_to_app</i>
              </button>
              <span class="mdl-tooltip mdl-tooltip--validation" for="save_exit" >
                <span >{{'SaveExit'|translate}}.</span>
              </span>


              <div class="clr"></div>

            </div>

          </div>
        </main>
      </div>



    </body>
    </html>
