<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>Tax</title>
  <meta name="description" content="">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:100,300,400,500" type="text/css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" type="text/css" href="font-awesome-4.6.2/css/font-awesome.min.css">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animsition/3.5.2/css/animsition.css"> -->

  <link rel="stylesheet" type="text/css" href="css/sweetalert.css">
  <link rel="stylesheet" href="css/material.css">
  <link rel="stylesheet" href="css/swipebox.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/stylesheet.css">
  <link rel="stylesheet" href="css/jquery.fancybox.css">
  <script src="js/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="js/custom.js"></script>
  <script type="text/javascript" src="cordova.js"> </script>
  <script type="text/javascript">$(document).ready(function(){app.initialize();});</script>
  <script src="js/animsition.js"></script>
  <script src="js/sweetalert.min.js"></script>
  <script src="js/material.min.js"></script>
  <script src="js/jquery.swipebox.min.js"></script>
  <script src="js/function.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/angular-route.min.js"></script>
  <script src="js/angular-translate.min.js"></script>
  <script src="js/risk_profile05.js"></script>
  <script>
  langfile = localStorage.getItem("language");
  if (langfile == 'en')
  document.write('<scri' + 'pt src="js/enlang_ang.js"></' + 'script>');
  else
  document.write('<scri' + 'pt src="js/itlang_ang.js"></' + 'script>');
  if(langfile ==  "en"){
    //             $.getScript("js/i18n/angular-locale_en.js");
    document.write('<scri' + 'pt src="js/i18n/angular-locale_en.js"></' + 'script>');
  }
  else{
    //             $.getScript("js/i18n/angular-locale_it.js");
    document.write('<scri' + 'pt src="js/i18n/angular-locale_it.js"></' + 'script>');
  }
  </script>
  <script src="js/ng-currency.js"></script></head>

  <body>
    <div ng-app="myApp" ng-controller="personCtrl"  class="animsition">
      <!-- Page Content -->
      <main class="mdl-layout__content">
        <div class=""> <!-- card -->
          <div class="account-info dark-blue-bg">
            <div class="account-navigation"> <!-- top icons -->
              <a class="mdl-button mdl-js-button mdl-button--icon left" ng-click="back()" href="javascript:;">
                <img src="img/back-button.png">
              </a>
              <span class="main-heading">{{'Profilo della società' |translate}}</span>
              <div class="clr"></div>
            </div>
          </div>


          <div class="account-data add-customer-data"> <!-- text fields -->
            <center><h5 class="orange" id="name_agent">{{Contract.CPU}} - {{Contract.owner}}</h5>
            <h4>{{'Analisi del Rischio'|translate}}</h4></center>
            <div class="mdl-card mdl-shadow--2dp ">
              <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col">
                  <form id="form" name="form" novalidate>

                    <div class="drawer-separator"></div>
                    <fieldset>
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" style="margin-top:5px;">
                        <h5 class="kyc01-head">{{'Struttura Societaria non chiara e comprensibile'|translate}} </h5>

                        <div class="mdl-grid">
                          <div class="mdl-cell ">
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="ownership_compreensive-1">
                              <input ng-change="check_risk('Company')"  type="radio"  ng-model="Risk.risk_data.Company.ownership_compreensive" class="mdl-radio__button"
                              id="ownership_compreensive-1" name="ownership_compreensive" value="1"  >
                              <span class="mdl-radio__label" >{{'HighRisk'| translate}}</span>
                            </label>
                          </div>

                          <div class="mdl-cell">
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="ownership_compreensive-0">
                              <input ng-change="check_risk('Company')"  type="radio"  ng-model="Risk.risk_data.Company.ownership_compreensive" class="mdl-radio__button"
                              id="ownership_compreensive-0" name="ownership_compreensive" value="0"  checked>
                              <span class="mdl-radio__label">{{'HighRisk'| translate}}</span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                    <div class="drawer-separator"></div>
                    <fieldset>
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" style="margin-top:5px;">
                        <h5 class="kyc01-head">{{'Struttura Partecipativa Complessa'|translate}} </h5>

                        <div class="mdl-grid">
                          <div class="mdl-cell ">
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="ownership_link-1">
                              <input ng-change="check_risk('Company')" type="radio"  ng-model="Risk.risk_data.Company.ownership_link" class="mdl-radio__button"
                              id="ownership_link-1" name="ownership_link" value="1"  >
                              <span class="mdl-radio__label" >{{'HighRisk'| translate}}</span>
                            </label>
                          </div>

                          <div class="mdl-cell">
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="ownership_link-0">
                              <input ng-change="check_risk('Company')" type="radio"  ng-model="Risk.risk_data.Company.ownership_link" class="mdl-radio__button"
                              id="ownership_link-0" name="ownership_link" value="0"  checked>
                              <span class="mdl-radio__label">{{'HighRisk'| translate}}</span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                    <div class="drawer-separator"></div>
                    <fieldset>
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" style="margin-top:5px;">
                        <h5 class="kyc01-head">{{'Connessioni con Paesi a Rischio'|translate}} </h5>

                        <div class="mdl-grid">
                          <div class="mdl-cell ">
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="ownership_country-1">
                              <input ng-change="check_risk('Company')" type="radio"  ng-model="Risk.risk_data.Company.ownership_country" class="mdl-radio__button"
                              id="ownership_country-1" name="ownership_country" value="1"  >
                              <span class="mdl-radio__label" >{{'HighRisk'| translate}}</span>
                            </label>
                          </div>

                          <div class="mdl-cell">
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="ownership_country-0">
                              <input ng-change="check_risk('Company')" type="radio"  ng-model="Risk.risk_data.Company.ownership_country" class="mdl-radio__button"
                              id="ownership_country-0" name="ownership_country" value="0"  checked>
                              <span class="mdl-radio__label">{{'HighRisk'| translate}}</span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                    <div class="drawer-separator"></div>

                    <fieldset>
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                        <textarea ng-change="check_risk('Company')"  ng-required="false" ng-model="Risk.risk_data.Company.other"
                        class="mdl-textfield__input" type="text" rows= "3"
                        id="Company_other" name="Company_other" >
                      </textarea>
                      <label for="Company_other" class="mdl-textfield__label">{{ 'Altre Osservazioni' | translate}}</label>
                      <span class="mdl-tooltip mdl-tooltip--validation" for="Company_other" minlength="3" ng-show="form.Company_other.$invalid && form.Company_other.$touched">
                        <span ng-show="form.Company_other.$error.required">{{'Richiesto'|translate}}.</span>
                      </div>
                    </fieldset>
                    <span style="color:#3f51b5">{{'Rischio Parziale Profilo Società'|translate}}:</span><span ng-class="Risk.risk_data.partial.Company"> {{Risk.risk_data.partial.Company}}</span>
                    <div style="background-color:#3f51b5"; class="drawer-separator"></div>


                  </form>
                </div>
              </div>
            </div>
            <br/>
            <button  id="save_prev" ng-click="save_risk(-1)" class="left mdl-button mdl-js-button mdl-button--fab mdl-button--colored orange-btn">
              <i class="material-icons">arrow_left_thick</i>
            </button>
            <span class="mdl-tooltip mdl-tooltip--validation" for="save_prev" >
              <span >{{'SavePrev'|translate}}.</span>
            </span>
            <button  id="save_next" ng-click="save_risk(5)" class="right mdl-button mdl-js-button mdl-button--fab mdl-button--colored blue-btn">
              <i class="material-icons">arrow_right_thick</i>
            </button>
            <span class="mdl-tooltip mdl-tooltip--validation" for="save_next" >
              <span >{{'SaveNext'|translate}}.</span>
            </span>
            <button  id="save_exit" ng-click="save_risk(0)" class="right mdl-button mdl-js-button mdl-button--fab mdl-button--colored ">
              <i class="material-icons">exit_to_app</i>
            </button>
            <span class="mdl-tooltip mdl-tooltip--validation" for="save_exit" >
              <span >{{'SaveExit'|translate}}.</span>
            </span>


            <div class="clr"></div>

          </div>

        </div>
      </main>
    </div>



  </body>
  </html>
