<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>Tax</title>
  <meta name="description" content="">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:100,300,400,500" type="text/css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="css/animsition.css">
  <link rel="stylesheet" type="text/css" href="css/sweetalert.css">
  <link rel="stylesheet" href="css/material.css">
  <link rel="stylesheet" href="css/swipebox.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/stylesheet.css">
  <script src="js/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="js/custom.js"></script>
  <script src="js/view_contract.js"></script>
  <script type="text/javascript" src="cordova.js"> </script>
  <script type="text/javascript">$(document).ready(function(){app.initialize();});</script>
  <script src="js/animsition.js"></script>
  <script src="js/sweetalert.min.js"></script>
  <script src="js/material.min.js"></script>
  <script src="js/jquery.swipebox.min.js"></script>
  <script src="js/function.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/angular-route.min.js"></script>
  <script src="js/angular-translate.min.js"></script>
  <script src="js/view_contract_ang.js"></script>
  <script>
  langfile = localStorage.getItem("language");
  if (langfile == 'en')
  document.write('<scri' + 'pt src="js/enlang_ang.js"></' + 'script>');
  else
  document.write('<scri' + 'pt src="js/itlang_ang.js"></' + 'script>');
  if(langfile ==  "en"){
    //             $.getScript("js/i18n/angular-locale_en.js");
    document.write('<scri' + 'pt src="js/i18n/angular-locale_en.js"></' + 'script>');
  }
  else{
    //             $.getScript("js/i18n/angular-locale_it.js");
    document.write('<scri' + 'pt src="js/i18n/angular-locale_it.js"></' + 'script>');
  }
  </script>
  <script src="js/ng-currency.js"></script>
</head>

<body >
  <div ng-app="myApp" ng-controller="personCtrl" class="animsition">
    <main class="mdl-layout__content">
      <div class=""> <!-- card -->
        <div class="account-info dark-blue-bg">
          <div class="account-navigation"> <!-- top icons -->
            <a style="float:left" class="mdl-button mdl-js-button mdl-button--icon " href="javascript:;" ng-click="back()">
              <img src="img/back-button.png">
            </a>
            <div class="mdl-layout-spacer"></div>
            <span  class="main-heading" id="name_agent1">{{Contract.owner}}</span>
            <div class="clr"></div>
          </div>
        </div>

        <div class="center2" ng-show="loader" id="loader_img" >&nbsp;
          <img   style="height:50px;width:50px;margin-top:20px" src="img/loader2.gif"  />
        </div>
        <div ng-hide="loader==true" class="account-data add-customer-data " ng-cloack> <!-- text fields -->
          <div style="text-align:center" class="mdl-card mdl-shadow--2dp about">
            <h5 class="orange" id="name_agent">{{Contract.CPU}} - {{Contract.owner}}</h5>
            <div class="mdl-card amazing mdl-shadow--2dp">
              <br/>
              <table align="center" class="viewContract mdl-data-table mdl-js-data-table  mdl-shadow--2dp">
                <tbody>

                  <tr>
                    <td  >{{'Firmatario' | translate}} :</td>
                    <td class="blue">{{Contract.fullname}}</td>

                  </tr>
                  <tr ng-show="Contract.act_for_other>0">
                    <td  >{{'Delega' | translate}} :</td>
                    <td class="blue">{{Contract.role_for_other}}</td>

                  </tr>

                  <tr>
                    <td  >{{'Polizza' | translate}} :</td>
                    <td class="blue">{{Contract.nature_contract}}</td>

                  </tr>
                  <tr>
                    <td >{{'Stipulato i' | translate}}l :</td>
                    <td>{{Contract.contract_date | date : 'shortDate'}}</td>

                  </tr>
                  <tr>
                    <td>{{'Valore' | translate}}</td>
                    <td>{{Contract.contract_value | currency}}</td>
                  </tr>
                  <tr>
                    <td colspan="2" class="wordwrap">{{Contract.email}}</td>
                  </tr>
                  <tr ng-show="Contract.mobile_number.length>0">
                    <td colspan="2" class="wordwrap">{{Contract.mobile_number}}</td>
                  </tr>
                </tbody>
              </table>
              <br/>
              <div class="mdl-card__actions mdl-card--border " style="font-size:12px" >
                <div class="mdl-cell--4-col">
                  <div class="left">
                    <span class="orange">Adeguata Verifica </span><br/>
                    <span ng-show="Contract.kyc_status==1">Approved<span class="green-checkbox"><img src="img/green-check.png"></span></span>
                    <span ng-show="Contract.kyc_status==0">In Process</span>
                  </div>
                </div>
                <div class="mdl-cell--4-col">
                  <button  id="Risk" ng-click="edit_contract(Contract.contractor_id)" class="center mdl-button mdl-js-button mdl-button--fab mdl-button--colored ">
                    <i class="material-icons">reorder</i>
                </button>
                  <span class="mdl-tooltip mdl-tooltip--validation" for="Risk" >
                    <span >{{'Modifica Contratto '|translate}}.</span>
                  </span>

                </div>
                <div class="mdl-cell--4-col">
                  <div class="right">
                    <span class="blue">Risk Analysis </span><br/>
                    <span ng-show="Contract.status ==1">Approved<span class="green-checkbox"><img src="img/green-check.png"></span></span>
                    <span ng-show="Contract.status ==0">In Process</span>
                    <span ng-show="Contract.status ==1" ng-class="Contract.risk_defined">{{Contract.risk_defined}}</span>
                  </div>
                </div>
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <div class="mdl-cell--6-col">
                  <button  id="Kyc" ng-click="edit_kyc()" class="left mdl-button mdl-js-button mdl-button--fab mdl-button--colored orange-btn">
                    KYC
                  </button>
                  <span class="mdl-tooltip mdl-tooltip--validation" for="Kyc" >
                    <span >{{'Adeguata Verifica'|translate}}.</span>
                  </span>

                </div>
                <div class="mdl-cell--6-col">
                  <button  id="Risk0" ng-click="edit_risk()" class="right mdl-button mdl-js-button mdl-button--fab mdl-button--colored blue-btn">
                    Risk
                  </button>
                  <span class="mdl-tooltip mdl-tooltip--validation" for="Risk0" >
                    <span >{{'Analisi del Rischio'|translate}}.</span>
                  </span>

                </div>
              </div>
              <div class="mdl-card__actions mdl-card--border" >
                <div class="mdl-cell--6-col">
                  <button  id="profile" ng-click="edit_profile(Contract)" class="left mdl-button mdl-js-button mdl-button--fab mdl-button--colored orange-btn">
                    <i class="material-icons">create</i>
                  </button>
                  <span class="mdl-tooltip mdl-tooltip--validation" for="profile" >
                    <span >{{'Dati Firmatario'|translate}}.</span>
                  </span>

                </div>
                <div class="mdl-cell--6-col">
                  <button  id="doc" ng-click="edit_docu(Contract)" class="right mdl-button mdl-js-button mdl-button--fab mdl-button--colored blue-btn">
                    <i class="material-icons">attachment</i>
                  </button>
                  <span class="mdl-tooltip mdl-tooltip--validation" for="doc" >
                    <span >{{'Documenti Contratto'|translate}}.</span>
                  </span>


                </div>
              </div>

              <div ng-show="Contract.act_for_other==1" class=" mdl-card__actions mdl-card--border">
                <div class="mdl-cell--6-col">
                  <button  id="company" ng-click="edit_company()" class="left mdl-button mdl-js-button mdl-button--fab mdl-button--colored orange-btn">
                    <i class="material-icons">business</i>
                  </button>
                  <span class="mdl-tooltip mdl-tooltip--validation" for="company" >
                    <span >{{'Dati Società'|translate}}.</span>
                  </span>


                </div>
                <div class="mdl-cell--6-col">
                  <button  id="owner" ng-click="owners()" class="right mdl-button mdl-js-button mdl-button--fab mdl-button--colored blue-btn">
                    <i class="material-icons">accessibility</i>
                  </button>
                  <span class="mdl-tooltip mdl-tooltip--validation" for="owner" >
                    <span >{{'Dati Contraente'|translate}}.</span>
                  </span>
                </div>
              </div>
              <div ng-show="Contract.act_for_other==2"  class=" mdl-card__actions mdl-card--border">
                <div class="mdl-cell--6-col">
                  <button  id="delegante" ng-click="edit_profile()" class="left mdl-button mdl-js-button mdl-button--fab mdl-button--colored orange-btn">
                    <i class="material-icons">create</i>
                  </button>
                  <span class="mdl-tooltip mdl-tooltip--validation" for="delegante" >
                    <span >{{'Dati Delegante'|translate}}.</span>
                  </span>

                </div>
                <div class="mdl-cell--6-col">
                  &nbsp;
                </div>
              </div>

              <div class="mdl-card__actions mdl-card--border">
                <div class="mdl-cell--6-col">
                  &nbsp;
                </div>
                <div class=" mdl-cell--6-col">
                  <button  id="print" ng-click="owners()" class="right mdl-button mdl-js-button mdl-button--fab mdl-button--colored blue-btn">
                    <i class="material-icons">printer</i>
                  </button>
                  <span class="mdl-tooltip mdl-tooltip--validation" for="print" >
                    <span >{{'Stampa AML-Risk'|translate}}.</span>
                  </span>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
</div>


</body>
</html>
