<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Tax</title>
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:100,300,400,500" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="css/animsition.css">
    <link rel="stylesheet" type="text/css" href="css/sweetalert.css">
    <link rel="stylesheet" href="css/material.css">
    <link rel="stylesheet" href="css/swipebox.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/stylesheet.css">
    <script src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
    <script src="js/view_contract.js"></script>
    <script type="text/javascript">$(document).ready(function () {
            app.initialize();
        });
    </script>
     <script src="js/animsition.js"></script>
        <script src="js/sweetalert.min.js"></script>
        <script src="js/material.min.js"></script>
        <script src="js/jquery.swipebox.min.js"></script>
        <script src="js/function.js"></script>
        <script src="js/angular.min.js"></script>
        <script>
        langfile = localStorage.getItem("language");
        if (langfile == 'en')
            document.write('<scri' + 'pt src="js/enlang.js"></' + 'script>');
        else
            document.write('<scri' + 'pt src="js/itlang.js"></' + 'script>');
        if(langfile ==  "en"){
//             $.getScript("js/i18n/angular-locale_en.js");
             document.write('<scri' + 'pt src="js/i18n/angular-locale_en.js"></' + 'script>');
         }
         else{
//             $.getScript("js/i18n/angular-locale_it.js");
             document.write('<scri' + 'pt src="js/i18n/angular-locale_it.js"></' + 'script>');
         }
        </script>
        <script src="js/view_contract_ang.js"></script>
  </head>
  <style>
      #name_agent1
      {
          text-transform: capitalize;
      }
       #name_agent
      {
          text-transform: capitalize;
      }
      .redbut-btn{
	background:red !important;
	text-transform:capitalize !important;
}

  </style>

  <body >
    <div ng-app="myApp" ng-controller="personCtrl" class="animsition">
      <!-- side bar
        <div class="mdl-layout mdl-js-layout mdl-layout--overlay-drawer-button">

            <div id="sidebar_agency" class="mdl-layout__drawer">

            </div>
      -->
      <!-- Page Content -->
      <main class="mdl-layout__content">
        <div class=""> <!-- card -->
        	 <div class="account-info dark-blue-bg">
                <div class="account-navigation"> <!-- top icons -->
                  <a class="mdl-button mdl-js-button mdl-button--icon left" href="javascript:;" ng-click="back()">
                    <img src="img/back-button.png">
                  </a>                <!--  <a class="mdl-button mdl-js-button mdl-button--icon left" onclick="redirect('my_agent.html')" href="javascript:;">
                    <img src="img/back-button.png">
                  </a>
                 <button class="mdl-button mdl-js-button mdl-button--icon right">
                    <i class="material-icons">close</i>
                  </button>  -->
                  <span class="main-heading" id="name_agent1">{{Contract.owner}}</span>
                  <div class="clr"></div>
                  </div>
              </div>
          <div class="account-info mdl-color--primary grey-gradient agent-img-bg">

            <div class="account-navigation">
            	 <div class="add-account-container">
                     <a href="javascript:;">
                         <div class="add-account">
                            <img id="img_agent" src="img/add-account.png">
                         </div>
                     </a>
                 </div>


            </div>
          </div>
		  <div class="contact-about view-agent">
              <div class="mdl-card mdl-shadow--2dp about">
                <h5 class="orange" id="name_agent">{{Contract.CPU}} - {{Contract.owner}}</h5>
                <button  class="mdl-button mdl-js-button mdl-button--accent" ng-click="edit_contract(Contract.contractor_id)"  >
                    {{datalang.EditContract}}
                  </button>
                <table style="display:table;width:auto!important;" align="center" class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp">
                  <tbody>

                    <tr>
                      <td  >Firmatario :</td>
                      <td class="blue">{{Contract.fullname}}</td>

                    </tr>
                    <tr>
                      <td  >Tipo Delega :</td>
                      <td class="blue">{{Contract.role_for_other}}</td>

                    </tr>

                    <tr>
                      <td  >Tipo Polizza :</td>
                      <td class="blue">{{Contract.nature_contract}}</td>

                    </tr>
                    <tr>
                      <td >Stipulato il :</td>
                      <td>{{Contract.contract_date | date : 'shortDate'}}</td>

                    </tr>
                    <tr>
                        <td>Valore</td>
                      <td>{{Contract.contract_value | currency}}</td>
                    </tr>
                    <tr>
                        <td>email:</td>
                      <td>{{Contract.email}}</td>
                    </tr>
                    <tr>
                        <td>mobile:</td>
                      <td>{{Contract.mobile_number}}</td>
                    </tr>
                  </tbody>
                </table>

                <div class="mdl-card__actions mdl-card--border">
                  <div class="mdl-cell">
                    <button class="mdl-button mdl-js-button mdl-button--accent" ng-click="edit_profile(Contract.contractor_id)"  >
                        {{datalang.EditInformation}}
                      </button>
                </div>
                <div class="mdl-cell">
                  <button class="mdl-button mdl-js-button mdl-button--primary" ng-click="edit_docu(Contract.contract_id)" >
                      {{datalang.UploadDocuments}}
                  </button>

              </div>
            </div>
              <div class="mdl-card__actions mdl-card--border">
              <div class="mdl-cell">
                <button class="mdl-button mdl-js-button mdl-button--accent" ng-click="edit_kyc(Contract.contract_id)" >
                      {{datalang.EditKycForm}}
                  </button>
              </div>
              <div class="mdl-cell">
                <button class="mdl-button mdl-js-button mdl-button--primary"  ng-click="edit_risk(Contract.contrac_id)" >
                    {{datalang.RiskAnalysis}}
                </button>
              </div>
              </div>
              <div ng-show="Contract.act_for_other==1" class=" mdl-card__actions mdl-card--border">
              <div class="mdl-cell">
                <button class="mdl-button mdl-js-button mdl-button--accent" ng-click="edit_company(Contract.other_id)" >
                      Dati Società
                  </button>
              </div>
              <div class="mdl-cell">
                <button class="blue mdl-button mdl-js-button mdl-button--primary" ng-click="owners(Contract.other_id)">
                    {{datalang.Owners}}
                </button>
              </div>
              </div>
              <div ng-show="Contract.act_for_other==2"  class=" mdl-card__actions mdl-card--border">
              <div class="mdl-cell">
                <button class="mdl-button mdl-js-button mdl-button--accent" ng-click="edit_profile(Contract.other_id)" edit_user_kycform()>
                      {{datalang.OtherInfo}}
                  </button>
              </div>
              <div class="mdl-cell">
                &nbsp;
              </div>
              </div>

              <div class="mdl-card__actions mdl-card--border">
                <div class="mdl-cell">
                  &nbsp;
                </div>
              <div class="mdl-cell">
                <button class="mdl-button mdl-js-button mdl-button--accent" onclick="edit_info()" contract_company()>
                      {{datalang.ContractForm}}
                  </button>

              </div>
              </div>

              </div>
            </div>
      </div>
    </div>
  </main>
        </div>
    </div>


  </body>
</html>
