<div class="mdl-card mdl-shadow--2dp ">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      <form name="form" novalidate>
        <fieldset>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
            <input class="mdl-textfield__input"  ng-model="Company.name "  ng-change="Company.name=(Company.name| capitalize)"
            type="text" ng-required="true" id="company_name" name="company_name"
            autocomplete="off"/>
            <label for="company_name" class="mdl-textfield__label">{{ 'Companyname' | translate}}</label>
            <span class="mdl-tooltip mdl-tooltip--validation" for="company_name" minlength="3" ng-show="form.company_name.$invalid && form.company_name.$touched">
              <span ng-show="form.company_name.$error.required">{{'Richiesto'|translate}}.</span>
            </div>
          </fieldset>
          <fieldset>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="company_type" name="company_type"
              ng-model="Company.company_type"   minlength="3" ng-required="true" autocomplete="off"
              ng-keyup="showAC('company.company_type','company_type',{zero:true});"
              ng-focus="resetAC();showAC('company.company_type','company_type',{zero:true});" />
              <label class="mdl-textfield__label" for="company_type">{{'Tipologia Soggetto Giuridico'|translate}} *</label>
              <table class="mdl-data-table mdl-js-data-table  border-none scrolly" autocomplete="company_type" tabindex="30">
                <tbody style="display:table">
                  <tr ng-click="addWord('Company.company_type',item.word,{id:'company_type'})"
                  ng-repeat="item in word.company_type" tabindex="30"
                  my-enter="addWord('Company.company_type',item.word,{id:'company_type'})">
                    <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
                  </tr>
                </tbody>
              </table>
              <span class="mdl-tooltip mdl-tooltip--validation" for="type" ng-show="form.company_type.$invalid && form.company_type.$touched">
                <span ng-show="form.company_type.$error.required">{{'Richiesto'| translate}}</span>
              </span>
            </div>
          </fieldset>
            <fieldset>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                <input class="mdl-textfield__input"   ng-model="Company.address "   type="text"
                id="company_address" name="company_address" ng-required="true" />
                <label for="company_address" class="mdl-textfield__label">{{ 'Indirizzo Sede' | translate}}</label>
                <span class="mdl-tooltip mdl-tooltip--validation" for="company_address" minlength="3" ng-show="form.company_address.$invalid && form.company_address.$touched">
                  <span ng-show="form.company_address.$error.required">{{'Richiesto'|translate}}.</span>
                </div>
              </fieldset>
              <fieldset>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="text" id="town" name="town"
                  ng-model="Company.town"  ng-change="Company.town=(Company.town| capitalize)"
                  minlength="3" ng-required="true " autocomplete="off"
                  ng-keyup="showAC('company.town','town',{zero:true});"
                  ng-focus="showAC('company.town','town',{zero:true});resetAC()"
                  />
                  <label class="mdl-textfield__label" for="town">{{'Città di residenza'|translate}} *</label>
                  <table class="mdl-data-table mdl-js-data-table  border-none scrolly" autocomplete="town" >
                    <tbody style="display:table">
                      <tr ng-click="addWord('Company.town',item.word,{id:'town'})" ng-repeat="item in word.town">
                        <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <span class="mdl-tooltip mdl-tooltip--validation" for="town_resi" ng-show="form.town.$invalid && form.town.$touched">
                    <span ng-show="form.town.$error.required">{{'Richiesto'| translate}}</span>
                  </span>
                </div>
              </fieldset>
              <fieldset>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="text" id="country" name="country"
                  ng-model="Company.country"  ng-change="Company.country=(Company.country| capitalize)"
                  minlength="3" ng-required="true " autocomplete="off"
                  ng-keyup="showAC('company.country','country',{countries:true,zero:true});"
                  ng-focus="showAC('company.country','country',{countries:true,zero:true});resetAC()"
                  />
                  <label class="mdl-textfield__label" for="country">{{'Paese Sede Attività'|translate}} *</label>
                  <table class="mdl-data-table mdl-js-data-table  border-none scrolly" autocomplete="country"  tabindex="30">
                    <tbody style="display:table">
                      <tr ng-click="addWord('Company.country',item.word,{countries:true,id:'country'})"
                      my-enter="addWord('Company.country',item.word,{countries:true,id:'country'})"  tabindex="30"
                      ng-repeat="item in word.country">
                        <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <span class="mdl-tooltip mdl-tooltip--validation" for="country_resi" ng-show="form.country.$invalid && form.country.$touched">
                    <span ng-show="form.country.$error.required">{{'Richiesto'| translate}}</span>
                  </span>
                </div>
                </fieldset>




              <fieldset>
                <div class="mdl-grid">
                  <div ng-class="{'mdl-cell--3-col-desktop mdl-cell-12-col-phone mdl-cell-6-col-tablet': main.web }">

                    <div class="demo-card-image mdl-card mdl-shadow--2dp">
                      <div class="mdl-card__title mdl-card--expand">{{'Logo Società'|translate}}</div>
                      <img  ng-show="Company.image.length>0" ng-src ="{{imageurl(Company.image)}}" ></img>
                      <center>   </center>

                      <div class="mdl-card__actions">
                        <div class="mdl-layout-spacer"></div>
                        <input ng-show="main.web"  type="file" id="msds"  name="msds" ng-model="fileweb"/>
                        <button ng-show="main.web" id="addfileweb"class="mdl-button mdl-button--icon mdl-button--colored" ng-click="uploadprofileweb()" ><i class="material-icons">file_upload</i></button>
                        <span class="mdl-tooltip mdl-tooltip--validation" for="addCamera" >
                          <span >{{'Carica da WEB'|translate}}.</span>
                        </span>
                        <button ng-hide="main.web"  id="addCamera"class="mdl-button mdl-button--icon mdl-button--colored" ng-click="add_photo()" ><i class="material-icons">add_a_photo</i></button>
                        <span class="mdl-tooltip mdl-tooltip--validation" for="addCamera" >
                          <span >{{'Scatta una foto'|translate}}.</span>
                        </span>
                        <button ng-hide="main.web" class="mdl-button mdl-button--icon mdl-button--colored" ng-click="uploadfromgallery()" ><i class="material-icons">insert_photo</i></button>
                        <span class="mdl-tooltip mdl-tooltip--validation" for="addGallery" >
                          <span >{{'Scegli da Galleria'|translate}}.</span>
                        </span>
                        <button ng-show="loaded" id="deleteDoc" class="mdl-button mdl-button--icon mdl-button--colored" ng-click="deleteDoc()" ><i class="material-icons">delete</i></button>
                        <span class="mdl-tooltip mdl-tooltip--validation" for="deleteDoc" >
                          <span >{{'Cancella'|translate}}.</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

              </fieldset>
              <div ng-show="page.other_data">
                <br/>
                <fieldset>
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                    <input class="mdl-textfield__input"  ng-model="Company.fiscal_id"  ng-change="Company.fiscal_id=(Company.fiscal_id| uppercase) "
                    type="text" p ng-required="page.other_data "
                    id="company_fiscal_id" name="company_fiscal_id" />
                    <label for="company_fiscal_id" class="mdl-textfield__label">{{ 'PIVA' | translate}}</label>
                    <span class="mdl-tooltip mdl-tooltip--validation" for="company_fiscal_id" minlength="3" ng-show="form.company_fiscal_id.$invalid && form.company_fiscal_id.$touched">
                      <span ng-show="form.company_fiscal_id.$error.required">{{'Richiesto'|translate}}.</span>
                    </div>
                  </fieldset>
                  <fieldset>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                      <input class="mdl-textfield__input"  type="text" ng-model="Company.authorised_by"
                      ng-keyup="showAC(Company.authorised_by,'authorised_by',{zero:true});"
                      ng-focus="showAC(Company.authorised_by,'authorised_by',{zero:true});resetAC();"
                       autocomplete="off"
                      id="authorised_by" name="authorised_by" />
                      <label for="authorised_by" class="mdl-textfield__label">{{ 'Companyauthorizedby' | translate}}</label>
                      <table class="mdl-data-table mdl-js-data-table  border-none scrolly  " autocomplete="authorised_by">
                        <tbody style="display:table">
                          <tr ng-click="addWord('authorised_by',item.word,{id:'authorised_by'})" ng-repeat="item in word.authorised_by">
                            <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
                          </tr>
                        </tbody>
                      </table>
                      <span class="mdl-tooltip mdl-tooltip--validation" for="authorised_by" minlength="3" ng-show="form.authorised_by.$invalid && form.authorised_by.$touched">
                        <span ng-show="form.authorised_by.$error.required">{{'Richiesto'|translate}}.</span>
                      </div>
                    </fieldset>
                    <fieldset>
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                        <input class="mdl-textfield__input"  type="date" ng-model="Company.authorisation_date"

                        id="authorisation_date" name="authorisation_date" />
                        <label for="authorisation_date" class="mdl-textfield__label" >{{ 'DateofAutorized' | translate}}</label>
                        <span class="mdl-tooltip mdl-tooltip--validation" for="authorisation_date" minlength="3" ng-show="form.authorisation_date.$invalid && form.authorisation_date.$touched">
                          <span ng-show="form.authorisation_date.$error.required">{{'Richiesto'|translate}}.</span>
                        </div>
                      </fieldset>
                      <fieldset>

                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                          <input ng-currency class="mdl-textfield__input"   ng-model="Company.fiscal_budget" ng-required="page.other_data "
                          id="fiscal_budget" name="fiscal_budget" />
                          <label for="fiscal_budget" class="mdl-textfield__label" >{{ 'FiscalBudget' | translate}}</label>
                          <span class="mdl-tooltip mdl-tooltip--validation" for="fiscal_budget" minlength="3" ng-show="form.fiscal_budget.$invalid && form.fiscal_budget.$touched">
                            <span ng-show="form.fiscal_budget.$error.required">{{'Richiesto'|translate}}.</span>
                          </div>
                        </fieldset>
                        <fieldset>
<!--
                          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                            <select ng-model="Company.activity_country" class="mdl-textfield__input"
                            ng-required="page.other_data "
                            id="Company_activity_country" name="Company_activity_country">
                            <option ng-repeat="option in countryList" value="{{option.country_id}}">{{option.country_name}}</option>
                          </select>
                          <label class="mdl-textfield__label" for="Company_activity_country">{{'Paese di Attività Principale'|translate}} *</label>
                          <span class="mdl-tooltip mdl-tooltip--validation" for="Kyc_name" ng-show="form.Company_activity_country.$invalid && form.Company_activity_country.$touched">
                            <span ng-show="form.Company_activity_country.$error.required">{{'Richiesto'| translate}}</span>
                          </span>
                        </div>
-->
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                          <input class="mdl-textfield__input" type="text" id="activity_country" name="activity_country"
                          ng-model="Company.activity_country"  ng-change="Company.activity_country=(Company.activity_country| capitalize)"
                          minlength="3" ng-required="page.other_data " autocomplete="off"
                          ng-keyup="showAC('company.activity_country','activity_country',{countries:true,zero:true});"
                          ng-focus="showAC('company.activity_country','activity_country',{countries:true,zero:true});resetAC()"
                          />
                          <label class="mdl-textfield__label" for="activity_country">{{'Paese dove si svolge attività principale'|translate}} *</label>
                          <table class="mdl-data-table mdl-js-data-table  border-none scrolly" autocomplete="activity_country"  tabindex="30">
                            <tbody style="display:table">
                              <tr ng-click="addWord('Company.activity_country',item.word,{countries:true,id:'activity_country'})"
                              my-enter="addWord('Company.activity_country',item.word,{countries:true,id:'activity_country'})"  tabindex="30"
                              ng-repeat="item in word.activity_country">
                                <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
                              </tr>
                            </tbody>
                          </table>
                          <span class="mdl-tooltip mdl-tooltip--validation" for="activity_country_resi" ng-show="form.activity_country.$invalid && form.activity_country.$touched">
                            <span ng-show="form.activity_country.$error.required">{{'Richiesto'| translate}}</span>
                          </span>
                        </div>

                      </fieldset>
                      <fieldset>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                          <input class="mdl-textfield__input" type="text" id="Company_mainActivity" name="Company_mainActivity"
                          ng-model="Company.mainActivity"  ng-change="Company.mainActivity=(Company.mainActivity| capitalize)"
                          minlength="3" ng-required="page.other_data "
                          ng-keyup="showAC('company.mainActivity','Company_mainActivity');"
                          ng-focus="resetAC()"
                          />
                          <label class="mdl-textfield__label" for="Company_mainActivity">{{'Principale Attività Economica'|translate}} *</label>
                          <table class="mdl-data-table mdl-js-data-table  border-none  ">
                            <tbody style="display:table">
                              <tr ng-click="addWord('Company.mainActivity',item.word)" ng-repeat="item in word.mainActivity">
                                <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
                              </tr>
                            </tbody>
                          </table>
                          <span class="mdl-tooltip mdl-tooltip--validation" for="Company_mainActivity" ng-show="form.Company_mainActivity.$invalid && form.Company_mainActivity.$touched">
                            <span ng-show="form.Company_mainActivity.$error.required">{{'Richiesto'| translate}}</span>
                          </span>
                        </div>
                      </fieldset>
<!--
                      <fieldset>
                        <div  ng-show="! newDocs &&   Company.Docs.length>0"  ng-repeat="Doc in Company.Docs  | filter: {per_id: Company.company_id } as identityDocs" ng-init="DocIndex=$index">
                          <div ng-hide="Doc.deleted" >

                            <div class="demo-card-image mdl-card mdl-shadow--2dp">
                              <div class="mdl-card__title mdl-card--expand">{{Doc.doc_name}}</div>
                              <img ng-click="edit_doc(Doc,DocIndex);$event.preventDefault(); $event.stopPropagation();" ng-show="Doc.doc_image.length>0" ng-src ="{{Doc.doc_image.length>0 ? Doc.IMAGEURI+ Doc.doc_image :'' }}" ></img>

                              <div class="mdl-card__actions">
                                <div class="mdl-layout-spacer"></div>
                                <button ng-hide="Contract.DocsLoaded>0 " id="addDoc" class="mdl-button mdl-button--icon mdl-button--colored" ng-click="add_document(Doc);$event.preventDefault(); $event.stopPropagation();" ><i class="material-icons">add</i></button>
                                <span class="mdl-tooltip mdl-tooltip--validation" for="addDoc" >
                                  <span >{{'Aggiungi Immagine'|translate}}.</span>
                                </span>

                                <button ng-hide="Contract.DocsLoaded==0 "id="addCamera"class="mdl-button mdl-button--icon mdl-button--colored" ng-click="edit_doc(Doc,DocIndex);$event.preventDefault(); $event.stopPropagation();" ><i class="material-icons">add_a_photo</i></button>
                                <span class="mdl-tooltip mdl-tooltip--validation" for="addCamera" >
                                  <span >{{'Cambia immagine'|translate}}.</span>
                                </span>

                                <button ng-hide="Contract.DocsLoaded==0 " id="deleteDoc" class="mdl-button mdl-button--icon mdl-button--colored" ng-click="deleteDoc(Doc,DocIndex);$event.preventDefault(); $event.stopPropagation();" ><i class="material-icons">delete</i></button>
                                <span class="mdl-tooltip mdl-tooltip--validation" for="deleteDoc" >
                                  <span >{{'Cancella'|translate}}.</span>
                                </span>
                              </div>

                            </div>
                          </div>


                        </div>

                        <div ng-show="newDocs || identityDocs.length==0 "  >

                          <div class="demo-card-image mdl-card mdl-shadow--2dp">
                            <div class="mdl-card__title mdl-card--expand">{{'Documenti Società'|translate}}</div>

                            <div class="mdl-card__actions">
                              <div class="mdl-layout-spacer"></div>
                              <button  id="addDoc" class="mdl-button mdl-button--icon mdl-button--colored" ng-click="add_document();$event.preventDefault(); $event.stopPropagation();" ><i class="material-icons">add</i></button>
                              <span class="mdl-tooltip mdl-tooltip--validation" for="addDoc" >
                                <span >{{'Aggiungi Immagine'|translate}}.</span>
                              </span>

                            </div>

                          </div>
                        </fieldset>
-->
                      </div>
                      <br/>
                      <center ng-hide="page.other_data">
                        <button  id="otherdown" ng-click="other()" class=" mdl-button mdl-js-button mdl-button--fab mdl-button--colored blue-btn">
                          <i class="material-icons" >arrow_drop_down</i>
                        </button>
                        <span class="mdl-tooltip mdl-tooltip--validation" for="otherdown" >
                          <span >{{'Tutti i Dati'|translate}}.</span>
                        </span>
                      </center>
                      <center ng-show="page.other_data">
                        <button  id="otherup" ng-click="other()" class=" mdl-button mdl-js-button mdl-button--fab mdl-button--colored blue-btn">
                          <i class="material-icons" >arrow_drop_up</i>
                        </button>
                        <span class="mdl-tooltip mdl-tooltip--validation" for="otherup" >
                          <span >{{'Tutti i Dati'|translate}}.</span>
                        </span>
                      </center>
                      <br/>
                    </form>
                  </div>
                </div>
              </div>
              <br/>
              <div class="center-align">
                <a id="kyc_button1" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary orange-btn" ng-click="add_company()" href="javascript:;">
                  {{ 'Save' | translate}}
                </a>
                <a id="kyc_button2" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary blue-btn" ui-ref="my_company">
                  {{ 'Cancel' | translate}}
                </a>
              </div>

            </div>
