<div  class="mdl-card card-ax">
<div class="mdl-card mdl-shadow--2dp ">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      <form name="form" novalidate>

        <div  ui-view="01" ></div>
      </form>
    </div>
  </div>
</div>
<br/>
<div class="center-align">
  <a id="kyc_button1" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary orange-btn" ng-click="add_company()" href="javascript:;">
    {{ 'Save' | translate}}
  </a>
  <a id="kyc_button2" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary blue-btn" ng-click="back()">
    {{ 'Cancel' | translate}}
  </a>
</div>

</div>
</div>
