<div class="mdl-card mdl-shadow--2dp">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      <h5 ng-if="formStatus">{{formStatus}}</h5>
      <form name="form" novalidate >
        <div   ui-view="customer_fields"  >
        </div>






      </form>
    </div>
  </div>
  <div class="center-align">
    <a id="save_button_cust"  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary orange-btn" ng-click="add_customer()" href="javascript:;">
      {{'Save' | translate}}
    </a>
    <a id="cancel_button_cust" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary blue-btn" ng-click="back()" href="javascript:;">
      {{'Cancel' | translate}}
    </a>
  </div>

</div>
