<div class="mdl-card mdl-shadow--2dp">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      <form name="form" novalidate autocomplete="off">
        <div ng-show="showContOcc" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" style="margin-top:5px;">

          <div class="mdl-grid">
            <div class="mdl-cell ">
              <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="tipo_contratto-1">
                <input  type="radio" id="tipo_contratto-1" ng-model="Contract.tipo_contratto" class="mdl-radio__button" name="tipo_contratto" value="0" checked>
                <span class="mdl-radio__label" >{{'Rapporto Continuativo'| translate}}</span>
              </label>
            </div>

            <div class="mdl-cell">
              <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="tipo_contratto-2">
                <input type="radio" id="tipo_contratto-2" ng-model="Contract.tipo_contratto" class="mdl-radio__button" name="tipo_contratto" value="1" >
                <span class="mdl-radio__label">{{'Prestazione Professionale'| translate}}</span>
              </label>
            </div>
            <div class="mdl-cell">
              <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="tipo_contratto-3">
                <input type="radio" id="tipo_contratto-3" ng-model="Contract.tipo_contratto" class="mdl-radio__button" name="tipo_contratto" value="2">
                <span class="mdl-radio__label" >{{'Prestazione occasionale'| translate}}</span>
              </label>
            </div>
          </div>
        </div>
        <fieldset>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" autocomplete="off" id="scope_contract" name="scope_contract" value=" "  minlength="3"
            ng-keyup="showAC('Contract.scope_contract','scope_contract',{zero:true});"
            ng-model="Contract.scope_contract "
            ng-focus="showAC('Contract.scope_contract','scope_contract',{zero:true});resetAC()"
            ng-change="Contract.scope_contract=(Contract.scope_contract| capitalize)" minlength="3" ng-required="true"
            />
            <label class="mdl-textfield__label" for="scope_contract">{{'Scopo del Contratto'|translate}} *</label>
            <table class="mdl-data-table mdl-js-data-table  border-none scrolly " autocomplete="scope_contract">
              <tbody style="display:table">
                <tr ng-click="addWord('Contract.scope_contract',item.word,{id:'scope_contract'})" ng-repeat="item in word.scope_contract">
                  <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
                </tr>
              </tbody>
            </table>
            <span class="mdl-tooltip mdl-tooltip--validation" for="scope_contract" minlength="3" ng-show="form.scope_contract.$invalid && form.scope_contract.$touched">
              <span ng-show="form.scope_contract.$error.required">{{'Richiesto'|translate}}.</span>
            </span>

          </div>
        </fieldset>
        <fieldset>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" autocomplete="off" id="nature_contract" name="nature_contract" minlength="3"  value=" "
            ng-keyup="showAC('Contract.nature_contract','nature_contract',{zero:true});"
            ng-model="Contract.nature_contract " def-setting="naturaContratto"
            ng-change="Contract.nature_contract=(Contract.nature_contract| capitalize)" minlength="3"
            ng-focus="showAC('Contract.nature_contract','nature_contract',{zero:true});resetAC()"
            />
            <label class="mdl-textfield__label" for="nature_contract">{{'Natura del Contratto'|translate}} *</label>
            <table class="mdl-data-table mdl-js-data-table  border-none scrolly " autocomplete="nature_contract" tabindex="30">
              <tbody style="display:table">
                <tr tabindex="30"
                ng-click="addWord('Contract.nature_contract',item.word,{id:'nature_contract'})"
                my-Enter="addWord('Contract.nature_contract',item.word,{id:'nature_contract'})"
                ng-repeat="item in word.nature_contract">
                  <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
                </tr>
              </tbody>
            </table>
            <span class="mdl-tooltip mdl-tooltip--validation" for="nature_contract"  ng-show="form.nature_contract.$invalid && form.nature_contract.$touched">
              <span ng-show="form.nature_contract.$error.required">{{'Richiesto'|translate}}.</span>
            </span>

          </div>
        </fieldset>
        <fieldset ng-show="agent.priviledge==1 || agent.id==-1">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" autocomplete="off" id="CPU" name="CPU" minlength="3"  value=" "
            ng-model="Contract.CPU "   minlength="3" autocomplete="off"

            />
            <label class="mdl-textfield__label" for="Contract_CPU">{{'CPU'|translate}} *</label>
            <span class="mdl-tooltip mdl-tooltip--validation" for="Contract_CPU"  ng-show="form.Contract_CPU$invalid && form.Contract_CPU$touched">
              <span ng-show="form.Contract_CPU$error.required">{{'Richiesto'|translate}}.</span>
            </span>

          </div>
        </fieldset>
        <fieldset>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" autocomplete="off" id="number" name="number" minlength="3"  value=" "
            ng-model="Contract.number "   minlength="3" autocomplete="off"

            />
            <label class="mdl-textfield__label" for="Contract_number">{{'Numero del Contratto'|translate}} *</label>
            <span class="mdl-tooltip mdl-tooltip--validation" for="Contract_number"  ng-show="form.Contract_number$invalid && form.Contract_number$touched">
              <span ng-show="form.Contract_number$error.required">{{'Richiesto'|translate}}.</span>
            </span>

          </div>
        </fieldset>
        <fieldset>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="date" date-input id="Contract_contract_date"  name="Contract_contract_date"  minlength="3"  value=" "
            ng-model="Contract.contract_date"   minlength="3" autocomplete="off" ng-blur="setEoC()"
            />
            <label class="mdl-textfield__label" for="Contract_contract_date">{{'ContractDate' | translate }}*</label>
            <span class="mdl-tooltip mdl-tooltip--validation" for="Contract_contract_date" ng-show="form.Contract_contract_date.$invalid && form.Contract_contract_date.$touched">
              <span ng-show="form.Contract_contract_date.$error.required">{{'Richiesto'|translate}}.</span>
            </span>

          </div>
        </fieldset>

        <fieldset ng-show="Contract.tipo_contratto==0">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <label  id="lend_det" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="end_det">
              <input id="end_det" name="end_det"  type="checkbox" class="mdl-checkbox__input" value="1"
              autocomplete="off"
              ng-click=toogle('Contract.end_det')  modelAx="Contract.end_det"        />
              <span class="mdl-checkbox__label">{{'Fine validità determinabile'|translate}}</span>
            </label>

          </div>
        </fieldset>

        <fieldset ng-show="Contract.tipo_contratto==0 && Contract.end_det==1">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="date" date-input id="Contract_contract_eov" name="Contract_contract_eov" minlength="3"  value=" "
            ng-model="Contract.contract_eov"    autocomplete="off"
            />
            <label class="mdl-textfield__label" for="Contract_contract_value_eov">{{'ContractEOV' | translate }}*</label>
            <span class="mdl-tooltip mdl-tooltip--validation" for="Contract_contract_eov" ng-show="form.Contract_contract_eov.$invalid && form.Contract_contract_eov.$touched">
              <span ng-show="form.Contract_contract_eov.$error.required">{{'Richiesto'|translate}}.</span>
            </span>

          </div>
        </fieldset>
        <fieldset>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <label  id="lvalue_det" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="value_det">
              <input id="value_det" name="value_det"  type="checkbox" class="mdl-checkbox__input" value="1"
              autocomplete="off"
              ng-click=toogle('Contract.value_det')  modelAx="Contract.value_det"        />
              <span class="mdl-checkbox__label">{{'Valore contratto determinabile'|translate}}</span>
            </label>

          </div>
        </fieldset>

        <fieldset id="sheconomicVal" ng-show="Contract.value_det==1">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input ng-currency class="mdl-textfield__input" type="text" autocomplete="off" id="Contract_contract_value" name="Contract_contract_value" minlength="3"  value=" "
            ng-model="Contract.contract_value"   minlength="3" autocomplete="off"
            />
            <label class="mdl-textfield__label" for="Contract_contract_value">{{'EconomicValueifDeterminable' | translate }}*</label>
            <span class="mdl-tooltip mdl-tooltip--validation" for="Contract_contract__value" ng-show="form.Contract_contract_value.$invalid && form.Contract_contract_value.$touched">
              <span ng-show="form.Contract_contract_eov.$error.required">{{'Richiesto'|translate}}.</span>
            </span>

          </div>
        </fieldset>

        <fieldset>
<!--
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
            <select ng-model="Contract.activity_country" class="mdl-textfield__input" placeholder="{{'Paese dove si svolge operazione' | translate}}"
            ng-required="page.other_data "
            id="Contract_activity_country" name="Contract_activity_country">
            <option ng-repeat="option in countryList" value="{{option.country_id}}">{{option.country_name}}</option>
          </select>
          <label class="mdl-textfield__label" for="Contract_activity_country">{{'Paese dove si svolge operazione'|translate}} *</label>
          <span class="mdl-tooltip mdl-tooltip--validation" for="Kyc_name" ng-show="form.Contract_activity_country.$invalid && form.Contract_activity_country.$touched">
            <span ng-show="form.Contract_activity_country.$error.required">{{'Richiesto'| translate}}</span>
          </span>
        </div>
-->
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" autocomplete="off" id="activity_country" name="activity_country" minlength="3"  value=" "
          ng-model="Contract.activity_country"   minlength="3" autocomplete="off"
          ng-keyup="showAC('users.activity_country','activity_country',{countries:true,zero:true});"
          ng-focus="showAC('users.activity_country','activity_country',{countries:true,zero:true});resetAC()"
          />
          <label class="mdl-textfield__label" for="activity_country">{{'Paese dove si svolge operazione'|translate}} *</label>
          <table class="mdl-data-table mdl-js-data-table  border-none  scrolly" tabindex="30" autocomplete="activity_country">
            <tbody style="display:table">
              <tr
              ng-click="addWord('Contract.activity_country',item.word,{countries:true,id:'activity_country'})"
              my-Enter="addWord('Contract.activity_country',item.word,{countries:true,id:'activity_country'})"
              ng-repeat="item in word.activity_country"
              tabindex="30" >
                <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
              </tr>
            </tbody>
          </table>

          <span class="mdl-tooltip mdl-tooltip--validation" for="activity_country" ng-show="form.activity_country.$invalid && form.activity_country.$touched">
            <span ng-show="form.activity_country.$error.required">{{'Richiesto'| translate}}</span>
          </span>
        </div>
      </fieldset>
  <!--
      <fieldset>
      <div ng-class="{'mdl-grid': main.web }">
        <div ng-class="{'mdl-cell--4-col': main.web }">

          <div  ng-show="! newDocs && Contract.Docs.length>0"  ng-repeat="Doc in Contract.Docs  | filter: {doc_id: contract_id } as identityDocs" ng-init="DocIndex=$index">
            <div ng-hide="Doc.deleted" >

              <div class="demo-card-image mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand">{{Doc.doc_name}}</div>
                <img ng-click="edit_doc(Doc,DocIndex);$event.preventDefault(); $event.stopPropagation();"  class="toload" ng-show="Doc.isImage && Doc.doc_image.length>0"
                ng-src ="{{Doc.doc_image.length>0 ? Doc.IMAGEURI+ Doc.doc_image :'' }}" ></img>
                <center>  <img style="display:none;height:50px;width:50px;margin-top:20px;" id="loader_img_int" src="ui-amlapp/img/loader2.gif"  /> </center>
                <img class="toload" ng-show="! Doc.isImage && Doc.doc_image.length>0" ng-src ="{{'/ui-amlapp/img/'+ Doc.file_type.substr(1)+'.png' }}" ></img>

                <img ng-click="edit_doc(Doc,DocIndex);$event.preventDefault(); $event.stopPropagation();" ng-show="Doc.doc_image.length>0" ng-src ="{{Doc.doc_image.length>0 ? Doc.IMAGEURI+ Doc.doc_image :''}}" ></img>
                <center>  <img style="display:none;height:50px;width:50px;margin-top:20px;" id="loader_img" src="ui-amlapp/img/loader2.gif"  > </center>

                <div class="mdl-card__actions">
                  <div class="mdl-layout-spacer"></div>
                  <button ng-hide="Contract.DocsLoaded>0 " id="addDoc" class="mdl-button mdl-button--icon mdl-button--colored" ng-click="add_document(Doc);$event.preventDefault(); $event.stopPropagation();" ><i class="material-icons">add</i></button>
                  <span class="mdl-tooltip mdl-tooltip--validation" for="addDoc" >
                    <span >{{'Aggiungi Immagine'|translate}}.</span>
                  </span>

                  <button ng-hide="Contract.DocsLoaded==0 "id="addCamera"class="mdl-button mdl-button--icon mdl-button--colored" ng-click="edit_doc(Doc,DocIndex);$event.preventDefault(); $event.stopPropagation();" ><i class="material-icons">add_a_photo</i></button>
                  <span class="mdl-tooltip mdl-tooltip--validation" for="addCamera" >
                    <span >{{'Cambia immagine'|translate}}.</span>
                  </span>

                  <button ng-hide="Contract.DocsLoaded==0 " id="deleteDoc" class="mdl-button mdl-button--icon mdl-button--colored" ng-click="deleteDoc(Doc,DocIndex);$event.preventDefault(); $event.stopPropagation();" ><i class="material-icons">delete</i></button>
                  <span class="mdl-tooltip mdl-tooltip--validation" for="deleteDoc" >
                    <span >{{'Cancella'|translate}}.</span>
                  </span>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div ng-show="newDocs || identityDocs.length==0"  >

        <div class="demo-card-image mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title mdl-card--expand">{{'Documenti Contratto'|translate}}</div>
          <center>  <img style="display:none;height:50px;width:50px;margin-top:20px;" id="loader_img" src="ui-amlapp/img/loader2.gif"  > </center>

          <div class="mdl-card__actions">
            <div class="mdl-layout-spacer"></div>
            <button  id="addDoc" class="mdl-button mdl-button--icon mdl-button--colored" ng-click="add_document(Doc);$event.preventDefault(); $event.stopPropagation();" >
              <i class="material-icons">add</i>
            </button>
            <span class="mdl-tooltip mdl-tooltip--validation" for="addDoc" >
              <span >{{'Aggiungi Immagine'|translate}}.</span>
            </span>

          </div>

        </div>
      </div>
      </fieldset>
-->
      <fieldset>
        <div class="gridAx">
          <div class="gridAx-item70">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" style="margin-top:5px;">
              <input class="mdl-textfield__input" ng-keyup="showContractorList();"
              ng-model="Contract.contractor_name"  type="text" autocomplete="off"
              ng-focus="showContractorList();resetAC()"
              id="searchContractor" name="searchContractor" ng-required="true" />
              <input type="text" autocomplete="off" ng-model="Contract.contractor_id" style="display:none" ng-required="true" id="Contractor" name="Contractor" />
              <label  for="searchContractor" class="mdl-textfield__label" >{{'Cerca Firmatario' | translate }}</label>
              <table class="mdl-data-table mdl-js-data-table  border-none scrolly " autocomplete="searchContractor" tabindex="30">
                <tbody>
                  <tr ng-click="addContractorItem(item.user_id,item.fullname)"
                      my-Enter="addContractorItem(item.user_id,item.fullname)"
                  ng-repeat="item in list"  tabindex="30">
                    <td style="display:none" >{{item.user_id}}</td>
                    <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.fullname}}</td>
                    <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.email}}</td>
                  </tr>
                </tbody>
              </table>
              <span class="mdl-tooltip mdl-tooltip--validation" for="searchContractor" ng-show="form.Contractor.$invalid && form.Contractor.$touched">
                <span ng-show="form.Contractor.$error.required">la persona deve essere censita.</span>
              </span>
              </div>
          </div>
          <div  class="margin-left-auto">
            <button ng-focus="resetAC()"  id="add_customer" ng-click="add_customer()" class="right mdl-button mdl-js-button mdl-button--fab   mdl-button--mini-fab mdl-button--colored blue-btn">
              <i class="material-icons">add</i>
            </button>
            <span class="mdl-tooltip mdl-tooltip--validation" for="add_customer" >
              <span >{{'Aggiungi Cliente non Censito'|translate}}.</span>
            </span>

          </div>
        </div>

        </fieldset>
        <div ng-focus="resetAC()" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" style="margin-top:5px;">

          <div class="mdl-grid">
            <div class="mdl-cell ">
              <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
                <input  type="radio" id="option-1" ng-model="Contract.act_for_other" class="mdl-radio__button" name="act_for" value="0" checked>
                <span class="mdl-radio__label" >{{'Agisce per se stesso'| translate}}</span>
              </label>
            </div>

            <div class="mdl-cell">
              <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
                <input type="radio" id="option-2" ng-model="Contract.act_for_other" class="mdl-radio__button" name="act_for" value="1" >
                <span class="mdl-radio__label">{{'Agisce per soggetto giuridico'| translate}}</span>
              </label>
            </div>
            <div class="mdl-cell">
              <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-3">
                <input type="radio" id="option-3" ng-model="Contract.act_for_other" class="mdl-radio__button" name="act_for" value="2">
                <span class="mdl-radio__label" >{{'Agisce per altra persona'| translate}}</span>
              </label>
            </div>
          </div>
        </div>

        <fieldset>
          <div id="show_Role" style="width:100%" ng-show="Contract.act_for_other>0">

            <div class="gridAx">
              <div  class="gridAx-item  " style="padding-right:16px;">
                <label  id="lprocura" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="procura">
                  <input id="procura" name="procura"  type="checkbox" class="mdl-checkbox__input" value="1"
                  autocomplete="off"
                  ng-click="toogle('Contract.procura');changeProcura()"  modelAx="Contract.procura"        />
                  <span class="mdl-checkbox__label">{{'Procuratore'|translate}}</span>
                </label>
            </div>
              <div class="gridAx-item100">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
              <input class="mdl-textfield__input" type="text" autocomplete="off" ng-model="Contract.role_for_other" ng-keyup="showAC('Contract.role_for_other','role_for_other',{zero:true});"
              id="role_for_other" name="role_for_other"  ng-required="Contract.act_for_other>0" autocomplete="off"
              ng-focus="showAC('Contract.role_for_other','role_for_other',{zero:true});resetAC()"
              />
              <label for="role_for_other" class="mdl-textfield__label" >{{'kindofDelegation' | translate }}</label>
              <table class="mdl-data-table mdl-js-data-table  border-none scrolly  ">
                <tbody style="display:table">
                  <tr ng-click="addWord('Contract.role_for_other',item.word,{id:'role_for_other'})" ng-repeat="item in word.role_for_other">
                    <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
                  </tr>
                </tbody>
              </table>
              <span class="mdl-tooltip mdl-tooltip--validation" for="role_for_other" ng-show="form.role_for_other.$invalid && form.role_for_other.$touched">
                <span ng-show="form.role_for_other.$error.required">{{'Richiesto'|translate}}.</span>
              </span>
              </div>
            </div>
            </div>
          </fieldset>

          <fieldset>

            <div id="show_forCompany" ng-show="Contract.act_for_other==1" style="width:100%">
              <div class="gridAx">
                <div class="gridAx-item70">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                    <input class="mdl-textfield__input" ng-keyup="showCompanyList();"
                    ng-model="Contract.name" autocomplete="off"
                    type="text" autocomplete="off" placeholder=" {{'SearchCompanyByEmail' | translate }}"
                    ng-focus="showCompanyList();resetAC()"
                    id="FindCompany" name="FindCompany" ng-required=" {{Contract.act_for_other==1}}" />
                    <input ng-model="Contract.company_id" autocomplete="off"
                    type="text" style="display:none" id="Company" name="Company"
                    ng-required="Contract.act_for_other==1"/>
                    <label class="mdl-textfield__label" for="FindCompany" >{{'SearchCompanyByEmail' | translate }}</label>
                    <table class="mdl-data-table mdl-js-data-table  border-none  scrolly">
                      <tbody>
                        <tr ng-click="addCompanyItem(item)" ng-repeat="item in listCompany">
                          <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.name}}</td>
                          <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.fiscal_id}}</td>
                        </tr>
                      </tbody>
                    </table>
                    <span class="mdl-tooltip mdl-tooltip--validation" for="FindCompany" ng-show="form.Company.$invalid ">
                      <span ng-show="form.Company.$error.required">{{'La società deve essere censita'|translate}}.</span>
                      </span>
                  </div>
                </div>
                <div  class="margin-left-auto">
                <button ng-focus="resetAC()"  id="add_company" ng-click="add_company()" class="right mdl-button mdl-js-button mdl-button--fab   mdl-button--mini-fab mdl-button--colored blue-btn">
                  <i class="material-icons">add</i>
                </button>
                <span class="mdl-tooltip mdl-tooltip--validation" for="add_company" >
                  <span >{{'Aggiungi Società non Censita'|translate}}.</span>
                </span>
              </div>
              </div>
            </fieldset>

            <fieldset>

              <div id="show_forPerson" ng-show="Contract.act_for_other==2" style="width:100%">
                <div class="gridAx">
                  <div class="gridAx-item70">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                      <input class="mdl-textfield__input" ng-keyup="showOtherList();"
                      ng-model="Contract.other_name" autocomplete="off"
                      type="text" autocomplete="off" ng-required=" {{Contract.act_for_other==2}}"
                      ng-focus="showOtherList();resetAC()" autocomplete="off"
                      id="FindOther" name="FindOther"/>
                      <input ng-model="Contract.user_id"  type="text" autocomplete="off" style="display:none" ng-required="Contract.act_for_other==2"
                      autocomplete="off" id="other_id" id="other_id" />
                      <label class="mdl-textfield__label" for="FindOther" >{{'Cerca delegante' | translate }}</label>
                      <table class="mdl-data-table mdl-js-data-table  border-none  ">
                        <tbody>
                          <tr ng-click="addOtherItem(item)" ng-repeat="item in listOther">
                            <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.fullname}}</td>
                            <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.email}}</td>
                          </tr>
                        </tbody>
                      </table>
                      <span class="mdl-tooltip mdl-tooltip--validation" for="FindCompany" ng-show="form.other_id.$invalid ">
                        <span ng-show="form.other_id.$error.required">{{'Richiesto'|translate}}.</span>
                      </span>
                    </div>
                  </div>
                  <div  class="margin-left-auto">
                  <button ng-focus="resetAC()"  id="add_owner" ng-click="add_other()" class="right mdl-button mdl-js-button mdl-button--fab   mdl-button--mini-fab mdl-button--colored blue-btn">
                    <i class="material-icons">add</i>
                  </button>
                  <span class="mdl-tooltip mdl-tooltip--validation" for="add_owner" >
                    <span >{{'Aggiungi Delegante non Censita'|translate}}.</span>
                  </span>
                </div>
              </div>
              </fieldset>
              <fieldset ng-show="agent.priviledge==1 || agent.id==-1">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                  <select ng-model="Contract.agent_id" class="mdl-textfield__input"
                  ng-required="page.other_data "
                  id="agent_id" name="agent_id">
                  <option value="{{agent.user_id}}" ng-selected="agenti.length==0 || Contract.agent_id==agent.user_id">{{agent.name}} </option>
                  <option ng-repeat="agenti in agentList" value="{{agenti.agent_id}}" ng-selected="Contract.agent_id==agenti.agent_id">{{agenti.name}} {{agenti.surname}}</option>
                </select>
                <label class="mdl-textfield__label" for="agent_id">{{'Agente di riferimento '|translate}} *</label>
                <span class="mdl-tooltip mdl-tooltip--validation" for="Kyc_name" ng-show="form.agent_id.$invalid && form.agent_id.$touched">
                  <span ng-show="form.agent_id.$error.required">{{'Richiesto'| translate}}</span>
                </span>
              </div>
              </fieldset>
            </div>
          </div>
        </form>

      </div>

      <br/>
        <div ng-show="action=='edit' && 1==0" class="mdl-grid">
          <div class="mdl-cell mdl-cell--12-col ">
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="aggKyc-1">
              <input type="checkbox" id="aggKyc-1" ng-model="aggKyc" class="mdl-checkbox__input" checked>
              <span class="mdl-checkbox__label">{{'Aggiorna Anagrafiche Kyc'| translate}}</span>
            </label>
          </div>
        </div>
      <br/>


      <div style="clear:both" class="center-align">
        <a id="save_button_cust" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary orange-btn" ng-click="add_contract()" href="javascript:;">
          {{'Save' | translate }}
        </a>
        <a id="cancel_button_cust" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary blue-btn" ng-click="back()" href="javascript:;">
          {{'Cancel' | translate }}
        </a>

      </div>
      <div class="clr"></div>
