<div class="mdl-card mdl-shadow--2dp ">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      <form name="form" novalidate>
        <fieldset>
          <div class="gridAx">
            <div class="gridAx-item70">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" style="margin-top:5px;">
                <input class="mdl-textfield__input" ng-keyup="showContractorList();"
                ng-model="Owner.fullname"  type="text" autocomplete="off"
                ng-focus="showContractorList();resetAC()"
                id="searchContractor" name="searchContractor" ng-required="!add_customer" />
                <input type="text" autocomplete="off" ng-model="Owner.user_id" style="display:none" ng-required="!add_customer" id="Contractor" name="Contractor" />
                <label  for="searchContractor" class="mdl-textfield__label" >{{ findPerson | translate }}</label>
                <table class="mdl-data-table mdl-js-data-table  border-none scrolly " autocomplete="searchContractor" tabindex="30">
                  <tbody>
                    <tr ng-click="addContractorItem(item.user_id,item.fullname)"
                        my-Enter="addContractorItem(item.user_id,item.fullname)"
                    ng-repeat="item in list"  tabindex="30">
                      <td style="display:none" >{{item.user_id}}</td>
                      <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.fullname}}</td>
                      <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.email}}</td>
                    </tr>
                  </tbody>
                </table>
                <span class="mdl-tooltip mdl-tooltip--validation" for="searchContractor" ng-show="form.Contractor.$invalid && form.Contractor.$touched">
                  <span ng-show="form.Contractor.$error.required">la persona deve essere censita.</span>
                </span>
                </div>
            </div>
            <div  class="margin-left-auto">
              <button ng-focus="resetAC()"  id="add_customer" ng-click="new_customer()" class="right mdl-button mdl-js-button mdl-button--fab   mdl-button--mini-fab mdl-button--colored blue-btn">
                <i class="material-icons">add</i>
              </button>
              <span class="mdl-tooltip mdl-tooltip--validation" for="add_customer" >
                <span >{{'Aggiungi TE non Censito'|translate}}.</span>
              </span>

            </div>
          </div>

          </fieldset>
<!--
          <fieldset id="perc" ng-hide="page.type=='owners'  ">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">

              <input ng-currency currency-symbol="%" min=0 max=100 class="mdl-textfield__input" autocomplete="off" ng-model="Owner.percentuale"  type="text"
              id="Percentuale" name="Percentuale" />
              <label  for="Percentuale" class="mdl-textfield__label">{{'Percentuale' | translate}} </label>
              <span class="mdl-tooltip mdl-tooltip--validation" for="Percentuale"  ng-show="form.Percentuale.$invalid && form.Percentuale.$touched">
                <span ng-show="form.Percentuale.$error.required">{{'Richiesto'| translate}}.</span>

              </tbody>
            </table>
          </div>
        </fieldset>
        <fieldset>
          <div ng-show="page.type=='owners' " class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">

            <input  class="mdl-textfield__input"  ng-model="Owner.percentuale"  type="text"
            id="tipote" name="tipote" />
            <label  for="tipote" class="mdl-textfield__label">{{'Tipo TE' | translate}} </label>
            <span class="mdl-tooltip mdl-tooltip--validation" for="tipote"  ng-show="form.Percentuale.$invalid && form.Percentuale.$touched">
              <span ng-show="form.Percentuale.$error.required">{{'Richiesto'| translate}}.</span>

            </tbody>
          </table>
        </div>
      </fieldset>
    -->
    <h5 ng-show="(Owner.user_id>0 || add_customer)">{{add_edit |translate}}</h5>
    <div ng-show="(Owner.user_id>0 || add_customer)"  ui-view="customer_fields" >
    </div>


    </form>


  </div>

</div>

</div>


<br/>

<div class="center-align">
  <a id="save_button_cust" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary orange-btn" ng-click="add_owner()" href="javascript:;">
    {{'Save' | translate}}
  </a>
  <a id="cancel_button_cust" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary blue-btn" ng-click="back()" href="javascript:;">
    {{'Cancel' | translate}}
  </a>
</div>
