<div class="mdl-card mdl-shadow--2dp ">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      <form name="form"  novalidate>
        <div ng-hide="Doc.showOnlyImage">
          <fieldset>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
              <input type="hidden" ng-model="Doc.per" val="contract">
              <input class="mdl-textfield__input" type="text" autocomplete="off"
              ng-model="Doc.doc_name "
              id="Doc_doc_name" name="Doc_doc_name" />
              <label  for="Doc_doc_name" class="mdl-textfield__label" >{{'Nome documento' | translate }}</label>
              <span class="mdl-tooltip mdl-tooltip--validation" for="Doc_doc_name" ng-show="form.Doc_doc_name.$invalid && form.Doc_doc_name.$touched">
                <span ng-show="form.Doc_doc_name.$error.required">Required.</span>
              </span>

            </div>
          </fieldset>
          <fieldset>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
              <input class="mdl-textfield__input" type="text" autocomplete="off"
              ng-keyup="showAC('documents.doc_type', 'doc_type',{zero:true});"
              ng-focus="showAC('documents.doc_type', 'doc_type',{zero:true})"
              ng-model="Doc.doc_type "
              id="doc_type" name="doc_type" />
              <label  for="doc_type" class="mdl-textfield__label" >{{'Tipo documento' | translate }}</label>
              <table class="mdl-data-table mdl-js-data-table  border-none  scrolly" tabindex="30" autocomplete="doc_type">
                <tbody style="display:table">
                  <tr tabindex="30"
                  ng-click="addWord('Doc.doc_type',item.word,{id:'doc_type'})"
                  my-Enter="addWord('Doc.doc_type',item.word,{id:'doc_type'})"
                  ng-repeat="item in word.doc_type">
                    <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
                  </tr>
                </tbody>
              </table>
              <span class="mdl-tooltip mdl-tooltip--validation" for="doc_type" ng-show="form.doc_type.$invalid && form.doc_type.$touched">
                <span ng-show="form.doc_type.$error.required">Required.</span>
              </span>
            </div>
          </fieldset>
          <fieldset>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
              <input class="mdl-textfield__input" type="date" date-input id="Doc_doc_date" name="Doc_doc_date"
              value=" "   ng-keyup="showAC($event,'contract');"
              ng-model="Doc.doc_date"   ng-required="true"
              />
              <label class="mdl-textfield__label" for="Contract_contract_value_eov">{{'Data Documento' | translate }}*</label>
              <span class="mdl-tooltip mdl-tooltip--validation" for="Doc_doc_date" ng-show="form.Doc_doc_date.$invalid && form.Doc_doc_date.$touched">
                <span ng-show="form.Doc_doc_date.$error.required">{{'Richiesto'|translate}}.</span>
              </span>

            </div>
          </fieldset>
        </div>
        <div ng-class="{'mdl-grid': main.web }">
        <div ng-class="{'mdl-cell--4-col': main.web }">

        <fieldset>
          <div class="demo-card-image mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">Immagine</div>

            <div class="mdl-image" ng-click="download(Doc)">
            <img class="load" ng-show="Doc.doc_image.length>0" ng-src ="{{imageurl(Doc) }}" ></img>
            <center>  <img style="display:none;height:50px;width:50px;margin-top:20px;" id="loader_img_int" src="img/loader2.gif"  /> </center>
            </div>

            <div class="mdl-card__actions">
              <div class="mdl-layout-spacer"></div>
              <input ng-show="main.web"  type="file" id="msds"  name="msds" ng-model="fileweb"/>
              <button ng-show="main.web" id="addfileweb"class="mdl-button mdl-button--icon mdl-button--colored" ng-click="uploadfileweb()" ><i class="material-icons">file_upload</i></button>
              <span class="mdl-tooltip mdl-tooltip--validation" for="addfileweb" >
                <span >{{'Carica da WEB'|translate}}.</span>
              </span>
              <button ng-hide="main.web"  id="addCamera"class="mdl-button mdl-button--icon mdl-button--colored" ng-click="add_photo()" ><i class="material-icons">add_a_photo</i></button>
              <span class="mdl-tooltip mdl-tooltip--validation" for="addCamera" >
                <span >{{'Scatta una foto'|translate}}.</span>
              </span>
              <button ng-hide="main.web" class="mdl-button mdl-button--icon mdl-button--colored" ng-click="uploadfromgallery()" ><i class="material-icons">insert_photo</i></button>
              <span class="mdl-tooltip mdl-tooltip--validation" for="addGallery" >
                <span >{{'Scegli da Galleria'|translate}}.</span>
              </span>
              <button ng-show="loaded" id="deleteDoc" class="mdl-button mdl-button--icon mdl-button--colored" ng-click="deleteDoc()" ><i class="material-icons">delete</i></button>
              <span class="mdl-tooltip mdl-tooltip--validation" for="deleteDoc" >
                <span >{{'Cancella'|translate}}.</span>
              </span>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
        <fieldset>
          <div class="center-align" style="margin-top:20px">
            <a id="kyc_button1" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary orange-btn" ng-click="add_document()" href="javascript:;">
              {{"Save"|translate}}
            </a>
          </div>
        </fieldset>

      </form>
    </div>

  </div>

</div>
