<div class="mdl-card mdl-shadow--2dp ">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      <form id="form" name="form" novalidate>

        <fieldset>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
              <input  ng-model="Ob.email_type"
              class="mdl-textfield__input" type="text"
              id="email_type" name="email_type" />

              <label class="mdl-textfield__label" for="email_type">{{'Nome Template'|translate}} *</label>
              <span class="mdl-tooltip mdl-tooltip--validation" for="email_type" ng-show="form.email_type.$invalid && form.email_type.$touched">
                <span ng-show="form.email_type.$error.required">{{'Richiesto'| translate}}</span>
              </span>
            </div>
          </fieldset>
          <fieldset>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                <input  ng-model="Ob.from_name"
                class="mdl-textfield__input" type="text"
                id="from_name" name="from_name" />

                <label class="mdl-textfield__label" for="from_name">{{'Nome di invio email'|translate}} *</label>
                <span class="mdl-tooltip mdl-tooltip--validation" for="from_name" ng-show="form.from_name.$invalid && form.from_name.$touched">
                  <span ng-show="form.from_name.$error.required">{{'Richiesto'| translate}}</span>
                </span>
              </div>
            </fieldset>
            <fieldset>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                  <input  ng-model="Ob.from_email"
                  class="mdl-textfield__input" type="text"
                  id="from_email" name="from_email" />

                  <label class="mdl-textfield__label" for="from_email">{{'Indirizzo di invio'|translate}} *</label>
                  <span class="mdl-tooltip mdl-tooltip--validation" for="from_email" ng-show="form.from_email.$invalid && form.from_email.$touched">
                    <span ng-show="form.from_email.$error.required">{{'Richiesto'| translate}}</span>
                  </span>
                </div>
              </fieldset>
              <fieldset>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                  <textarea  ng-model="Ob.it_subject"
                  class="mdl-textfield__input" type="text" rows= "3"
                  id="it_subject" name="it_subject" >
                </textarea>
                <label for="notes" class="mdl-textfield__label">{{ 'Oggetto Email' | translate}}</label>
                <span class="mdl-tooltip mdl-tooltip--validation" for="it_subject" minlength="3" ng-show="form.it_subject.$invalid && form.it_subject.$touched">
                  <span ng-show="form.it_subject.$error.required">{{'Richiesto'|translate}}.</span>
                </div>
              </fieldset>
              <fieldset>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                  <text-angular  style="width: 100%;" ng-model="Ob.it_body"
                  type="text" rows= "3" id="it_body" name="it_body" ></text-angular>
                  <label for="it_body"  class="mdl-textfield__label   " style="margin-top:-10px;color: #3f51b5;font-size: 12px;top: 4px;visibility: visible;">{{ 'Contenuto Email' | translate}}</label>
                  <span class="mdl-tooltip mdl-tooltip--validation" for="it_body" minlength="3" ng-show="form.it_body.$invalid && form.it_body.$touched">
                    <span ng-show="form.it_body.$error.required">{{'Richiesto'|translate}}.</span>
                  </div>
                </div>
              </fieldset>

            </form>
          </div>
        </div>
      </div>
      <br/>
      <div class="center-align">
        <a id="kyc_button1" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary orange-btn" ng-click="saveOb()" href="javascript:;">
          {{ 'Save' | translate}}
        </a>
        <a id="kyc_button2" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary blue-btn" ng-click="back()">
          {{ 'Cancel' | translate}}
        </a>
      </div>
