<div class="mdl-card mdl-shadow--2dp ">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      <form id="form" name="form" novalidate ng-controller="add_agency" ng-submit="saveOb()">

        <fieldset>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
              <input  ng-model="Ob.name"  ng-required="true"
              ng-change="Ob.name=(Ob.name| capitalize)"
              class="mdl-textfield__input" type="text" autocomplete="off"
              id="name" name="name" />

              <label class="mdl-textfield__label" for="name">{{'Denominazione Cliente/Ragione Sociale'|translate}} *</label>
              <span class="mdl-tooltip mdl-tooltip--validation" for="name" ng-show="form.name.$invalid && form.name.$touched">
                <span ng-show="form.name.$error.required">{{'Richiesto'| translate}}</span>
              </span>
            </div>
          </fieldset>
          <fieldset ng-hide="action=='signUp'">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                <input  ng-model="Ob.address"
                class="mdl-textfield__input" type="text" ng-required="action!='signUp'" autocomplete="off"
                id="address" name="address" />

                <label class="mdl-textfield__label" for="address">{{'Indirizzo'|translate}} *</label>
                <span class="mdl-tooltip mdl-tooltip--validation" for="address" ng-show="form.address.$invalid && form.address.$touched">
                  <span ng-show="form.address.$error.required">{{'Richiesto'| translate}}</span>
                </span>
              </div>
            </fieldset>
            <fieldset ng-hide="action=='signUp'">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="town" name="town" minlength="3"  value=" "
                ng-model="Ob.town"   minlength="3"  ng-required="action!='signUp'"
                ng-keyup="showAC('users.town','town',{zero:true});"
                ng-focus="showAC('users.town','town',{zero:true});resetAC()" autocomplete="off"
                />
                <label class="mdl-textfield__label" for="town">{{'Città Sede'|translate}} *</label>
                <table class="mdl-data-table mdl-js-data-table  border-none  scrolly" autocomplete="town">
                  <tbody style="display:table">
                    <tr ng-click="addWord('Ob.town',item.word,{countries:true,id:'town'})" ng-repeat="item in word.town">
                      <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
                    </tr>
                  </tbody>
                </table>

                <span class="mdl-tooltip mdl-tooltip--validation" for="town" ng-show="form.town.$invalid && form.town.$touched">
                  <span ng-show="form.town.$error.required">{{'Richiesto'| translate}}</span>
                </span>
              </div>
            </fieldset>
          <fieldset ng-hide="action=='signUp'">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="country" name="country" minlength="3"  value=" "
              ng-model="Ob.country"   minlength="3"  ng-required="action!='signUp'"  autocomplete="off"
              ng-keyup="showAC('users.country','country',{countries:true,zero:true});"
              ng-focus="showAC('users.country','country',{countries:true,zero:true});resetAC()"
              />
              <label class="mdl-textfield__label" for="country">{{'Paese Cliente'|translate}} *</label>
              <table class="mdl-data-table mdl-js-data-table  border-none  scrolly" autocomplete="country">
                <tbody style="display:table">
                  <tr tabindex="30"
                      ng-click="addWord('Ob.country',item.word,{countries:true,id:'country'})"
                      my-Enter="addWord('Ob.country',item.word,{countries:true,id:'country'})"
                    ng-repeat="item in word.country"
                    >
                    <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
                  </tr>
                </tbody>
              </table>

              <span class="mdl-tooltip mdl-tooltip--validation" for="country" ng-show="form.country.$invalid && form.country.$touched">
                <span ng-show="form.country.$error.required">{{'Richiesto'| translate}}</span>
              </span>
            </div>
          </fieldset>
          <fieldset ng-hide="action=='signUp'">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="tipo_cliente_app" name="tipo_cliente_app" minlength="3"  value=" "
              ng-model="Ob.tipo_cliente_app"     ng-required="action!='signUp'"  autocomplete="off"
              ng-keyup="showAC('agency.tipo_cliente_app','tipo_cliente_app',{zero:true});" autocomplete="tipo_cliente_app"
              ng-focus="showAC('agency.tipo_cliente_app','tipo_cliente_app',{zero:true});resetAC()"
              />
              <label class="mdl-textfield__label"  for="tipo_cliente_app">{{'Tipo Cliente APP'|translate}} *</label>

              <table class="mdl-data-table mdl-js-data-table  border-none  scrolly" autocomplete="tipo_cliente_app"   tabindex="30" >
                <tbody style="display:table">
                  <tr tabindex="30"
                      ng-click="addWord('Ob.tipo_cliente_app',item.word,{id:'tipo_cliente_app'})"
                       my-Enter="addWord('Ob.tipo_cliente_app',item.word,{id:'tipo_cliente_app'})"
                       ng-repeat="item in word.tipo_cliente_app"
                      >
                    <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
                  </tr>
                </tbody>
              </table>

              <span class="mdl-tooltip mdl-tooltip--validation" for="tipo_cliente_app" ng-show="form.tipo_cliente_app.$invalid && form.tipo_cliente_app.$touched">
                <span ng-show="form.tipo_cliente_app.$error.required">{{'Richiesto'| translate}}</span>
              </span>
            </div>
          </fieldset>
          <fieldset>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                <input  ng-model="Ob.email" ng-required="true" autocomplete="off"
                class="mdl-textfield__input" type="email"
                id="email" name="email" />

                <label class="mdl-textfield__label" for="email">{{'email Cliente'|translate}} *</label>
                <span class="mdl-tooltip mdl-tooltip--validation" for="email" ng-show="form.email.$invalid && form.email.$touched">
                  <span ng-show="form.email.$error.required">{{'Richiesto'| translate}}</span>
                </span>
              </div>
            </fieldset>
            <div ng-show="action=='signUp'" id="rechaptcha"></div>

            <br/>
            <div class="center-align">
              <button id="kyc_button1" type="submit"
              class=" mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary orange-btn"
              ng-disabled="form.invalid"
              >
                {{ 'Save' | translate}}
              </button>
              <button id="kyc_button2" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary blue-btn" ng-click="back()">
                {{ 'Cancel' | translate}}
              </button>
            </div>
          </form>
          </div>
        </div>
      </div>
