<table class="mdl-data-table mdl-js-data-table  border-none  " >
  <tbody>
    <tr

      ng-repeat="item in list"  tabindex="30">
      <td style="display:none" >{{item.id}}</td>
      <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
      <td class="mdl-data-table__cell--non-numeric">
        <button ng-show="agent.user_type==3"  id="{{ 'share' + ContractIndex }}" name="{{ 'share' + ContractIndex }}"
          class="right mdl-button mdl-js-button mdl-button--fab   mdl-button--mini-fab mdl-button--colored blue-btn" ng-click="share(Contract,ContractIndex)" >
          <i class="material-icons">share</i>
        </button>
        <span ng-show="ob.share==3" class="mdl-tooltip mdl-tooltip--large" for="{{ 'share' + ContractIndex }}" >
          <span >{{'Condividi i Dati'|translate}}.</span>
        </span>
      </td>
    </tr>
  </tbody>
</table>
