<!-- cards grid -->
<br/>
<center>
<span style="font-size:18px;font-weight:bold" class="blue" id="name_agent">{{Contract.CPU}} - {{Contract.fullname}}</span>
</center>
<br/>


<div infinite-scroll='ObAmlApp.nextPage()' infinite-scroll-disabled='ObAmlApp.busy' infinite-scroll-distance='0'
infinite-scroll-parent="true" infinite-scroll-immediate-check='true'  infinite-scroll-container="'.add-customer-data'">
<div ng-hide="ObAmlApp.Ob.length == 0 " class="ng-hide"  class="mdl-grid hidden" 0
 ng-repeat="Ob in ObAmlApp.Ob | filterMultiple: {name:searchText,address:searchText,email:searchText}" ng-init="ObIndex=$index">
  <div class="mdl-cell mdl-cell--12-col">
    <div class="mdl-card amazing mdl-shadow--2dp">
      <div  style="padding:4px" class="mdl-card__supporting-text mdl-color-text--grey-600">

        <div class="card-author">
        </div>
        <div class="mdl-grid">
          <div class="mdl-cell--12-col"  ng-click="toOb(Ob,ObIndex)">
            <span style="cursor:pointer;" >
              <strong class="blue first_letter_cap">{{stato(Ob,ObIndex)}}</strong>
            </span>
            <br/>
            <span style="cursor:pointer;" >
            {{' Eseguita il:  '|translate}}{{Ob.kyc_date | dateToISO | date:'d/M/yyyy  HH:mm:ss'}}
            </span><br/>
            <span style="cursor:pointer;" >
              {{Ob.town}} - {{Ob.country}}
            </span><br/>

            <span style="cursor:pointer;" >
              {{Ob.email}}
            </span><br/>
        </div>
        <div class="mdl-card__actions mdl-card--border " style="font-size:12px">
          <div class="mdl-cell--12-col">
            <button  ng-show="ObIndex==0" tooltip id="{{ 'restore' + ObIndex }}" name="documents"
            class="right mdl-button mdl-button--icon mdl-button--colored" ng-click="ripristia(Ob)" >
              <i class="material-icons">restore</i>
            </button>
            <span class=" mdl-tooltip mdl-tooltip--validation" for="{{ 'restore' + ObIndex }}" >
              <span >{{'Ripristina come attuale cancellando quella in corso'|translate}}.</span>
            </span>
            <button  tooltip id="{{ 'documents' + ObIndex }}" name="documents" class="right mdl-button mdl-button--icon mdl-button--colored" ng-click="toDocs(Ob)" >
              <i class="material-icons">attachment</i>
            </button>
            <span class=" mdl-tooltip mdl-tooltip--validation" for="{{ 'documents' + ObIndex }}" >
              <span >{{'Documenti Contratto'|translate}}.</span>
            </span>
            <button tooltip ng-show="Ob.kyc_status==1"   id="{{ 'print_kyc' + ObIndex }}"  ng-click="print_kyc(Ob,ObIndex)" class="right  mdl-button  mdl-button--fab mdl-button--icon mdl-button--colored orange-btn">
              <i class="material-icons">printer</i>
            </button>
            <span  class=" mdl-tooltip mdl-tooltip--validation" for="{{ 'print_kyc' + ObIndex }}" >
              <span >{{'Stampa Adeguata verifica Kyc'|translate}}.</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<center ng-hide="ObAmlApp.loaded < 5">
  <a  ng-click="ObAmlApp.nextPage()"  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">
    Altri>>
  </a>
</center>
<div   ng-show="ObAmlApp.loaded!=0 && ObAmlApp.Ob.length==0"  >
  <div  class="mdl-cell mdl-cell--12-col">
    <div class="mdl-card amazing mdl-shadow--2dp">
      <div  style="padding:4px" class="mdl-card__supporting-text mdl-color-text--grey-600">
        <div class="mdl-grid">
          <div class="mdl-cell">
            <span style="cursor:pointer;" >
              <strong class="blue first_letter_cap">{{'Nessun aggiornamento inserito ancora'| translate}}</strong>
            </span><br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
