<center>
<span style="font-size:18px;font-weight:bold" class="orange" id="name_agent">{{'Adeguata Verifica'|translate}}</span><br/>
<span style="font-size:18px;font-weight:bold" class="blue" id="name_agent">{{Contract.CPU}} - {{Contract.fullname}}</span>
</center>

<div id="containerf">
  <div>
    <div ng-hide="Contract.shared>0">
      <i class="orange material-icons" id="auth">warning</i>
      <span class="mdl-tooltip mdl-tooltip--validation" for="auth" >
        <span >{{'Il firmatario non ha ancora autorizzato condivisione dati'|translate}}.</span>
      </span>

    </div>
    <div ng-show="Contract.shared>0" >
        <button  id="add_customer" ng-click="loadCustomer()" class=" mdl-button mdl-js-button mdl-button--fab   mdl-button--mini-fab mdl-button--colored orange-btn">
          <i class="material-icons">replay</i>
        </button>
        <span class="mdl-tooltip mdl-tooltip--validation" for="add_customer" >
          <span >{{'Ricarica dati dal Firmatario'|translate}}.</span>
        </span>


    </div>


  </div>
  <div>
    <center>
    <button  ng-show="Customer.fiscal_number.length >0 && kyc_data.fiscal_number.length >0"  id="fillData" ng-click="fillKycData()"
       class=" mdl-button mdl-js-button mdl-button--fab   mdl-button--mini-fab mdl-button--colored blue-btn">
      <i class="material-icons">replay</i>
    </button>
    <span class="mdl-tooltip mdl-tooltip--validation" for="fillData" >
      <span >{{'Carica -dati firmatari da precedente AV'|translate}}.</span>
    </span>
  </center>
  </div>
  <div ng-class="(Kyc.kyc_status==0) ? 'Alto' : 'Basso'" style="text-align:right!important">
    <i ng-show="Kyc.kyc_status==1" class="Basso material-icons" id="AVOK">done</i>
    <span class="mdl-tooltip mdl-tooltip--validation" for="AVOK" >
      <span >{{'Ultima AV eseguita il:  '|translate}}{{Kyc.kyc_date | dateToISO | date:'d/M/yyyy  HH:mm:ss'}}</span>
    </span>


    <i ng-show="Kyc.kyc_status==0" class="Alto material-icons" id="AVNO">warning</i>
    <span class="mdl-tooltip mdl-tooltip--validation" for="AVNO" >
      <span >{{'AV non ancora completata '|translate}}.</span>
    </span>


  </div>
</div>

  <div class="mdl-card mdl-shadow--2dp ">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        <h5 style"text-color:red" ng-if="formStatus">{{formStatus}}</h5>
        <form id="form" name="form" action="#" novalidate="">
          <fieldset ng-show="passo==1 && Kyc.kyc_update.state=='aggiornamento'">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
              <text-angular   class="textwidth100" style="width: 100% !important;" ng-class="{'imported': imported.updatereason }" ng-model="Kyc.kyc_update.updateReasons" ng-required="pass==1 && Kyc.kyc_update.state=='aggiornamento'"
              type="text" rows= "3" id="reason" name="reason" ></text-angular>
              <label for="reason"  class="mdl-textfield__label   " style="margin-top:-10px;color: #3f51b5;font-size: 12px;top: 4px;visibility: visible;">
                {{ 'Motivo del Aggiornamento' | translate}}</label>
              <span class="mdl-tooltip mdl-tooltip--validation" for="reason" minlength="3" ng-show="form.reason.$invalid && form.reason.$touched">
                <span ng-show="form.reason.$error.required">{{'Richiesto'|translate}}.</span>
              </div>
          </fieldset>

          <fieldset ng-show="passo==1">
            <div ng-show="passo==1" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" autocomplete="off" id="Kyc_poi" name="Kyc_poi"  pattern="[A-Za-z\s]*"
              ng-model="Kyc.place_of_identification"  ng-change="Kyc.place_of_identification=(Kyc.place_of_identification| capitalize)"
              minlength="3" ng-required="true"
              ng-keyup="showAC('kyc.place_of_identification','Kyc_poi',{zero:true});"
              def-setting="luogoIdentificazione"
              ng-focus="showAC('kyc.place_of_identification','Kyc_poi',{zero:true});resetAC()" autocomplete="off"
              />
              <label class="mdl-textfield__label" for="Kyc_poi">{{'luogo di identificazione'|translate}}</label>
              <table class="mdl-data-table mdl-js-data-table  border-none  scrolly" tabindex="30" autocomplete="Kyc_poi">
                <tbody style="display:table">
                  <tr tabindex="30"
                  ng-click="addWord('Kyc.place_of_identification',item.word,{id:'Kyc_poi'})"
                  my-Enter="addWord('Kyc.place_of_identification',item.word,{id:'Kyc_poi'})"
                  ng-repeat="item in word.place_of_identification">
                    <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
                  </tr>
                </tbody>
              </table>
              <span class="mdl-tooltip mdl-tooltip--validation" for="Kyc_poi" ng-show="form.Kyc_poi.$invalid && form.Kyc_poi.$touched">
                <span ng-show="form.Kyc_poi.$error.required">{{'Richiesto'| translate}}</span>
              </span>
            </div>
          </fieldset>

          <fieldset ng-show="passo==1">
            <div ng-show="passo==1" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="date" date-input id="Kyc_doi" name="Kyc_doi"
              ng-model="Kyc.date_of_identification"   ng-required="true" autocomplete="off" def-setting
              />
              <label class="mdl-textfield__label" for="Kyc_doi">{{'Data di identificazione'|translate}} *</label>
              <span class="mdl-tooltip mdl-tooltip--validation" for="Kyc_doi" ng-show="form.Kyc_doi.$invalid && form.Kyc_doi.$touched">
                <span ng-show="form.Kyc_doi.$error.required">{{'Richiesto'| translate}}</span>
              </span>
            </div>
          </fieldset>
<!--
          <fieldset>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="Kyc_name" name="Kyc_name"  pattern="[A-Za-z\s]*"
              ng-model="Kyc.contractor_data.name"  ng-change="Kyc.name=(Kyc.name| capitalize)" minlength="3" ng-required="true"
              ng-keyup="showAC('users.Kyc_name','Kyc_name',{ob:searchContractor,zero:true});"autocomplete="off"
              ng-focus="showAC('users.Kyc_name','Kyc_name',{ob:searchContractor,zero:true});resetAC()"
              />
              <input type="text" autocomplete="off" ng-model="Kyc.contractor_data.contractor_id" style="display:none" ng-required="true" id="Contractor" name="Contractor" />

              <label class="mdl-textfield__label" for="Kyc_name">{{'Cerca firmatario'|translate}} *</label>
              <table class="mdl-data-table mdl-js-data-table  border-none scrolly " autocomplete="searchContractor" tabindex="30">
                <tbody>
                  <tr ng-click="addWord('Kyc.contractor_data.name',item.name,{res:'Kyc_name',other:[{s:'user_id',d:'Kyc.contractor_data.contractor_id'}],id:'Kyc_name'})"
                      my-Enter="addWord('Kyc.contractor_data.name',item.name,{res:'Kyc_name',other:[{s:'user_id',d:'Kyc.contractor_data.contractor_id'}],id:'Kyc_name'})"
                  ng-repeat="item in  word.Kyc_name"  tabindex="30">
                    <td style="display:none" >{{item.user_id}}</td>
                    <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.name}}</td>
                    <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.email}}</td>
                  </tr>
                </tbody>
              </table>
              <span class="mdl-tooltip mdl-tooltip--validation" for="Kyc_name" ng-show="form.Kyc_name.$invalid && form.Kyc_name.$touched">
                <span ng-show="form.Kyc_name.$error.required">{{'Richiesto'| translate}}</span>
              </span>
            </div>
          </fieldset>
-->
        <div  ui-view="01" ></div>
        <div  ui-view="02" ></div>

        </form>
      </div>
    </div>
    <div class="clr"></div>

  </div>

  <br/>
  <div class="center-align">
    <button ng-show="passo>1" id="save_prev" ng-click="save_kyc(-1)" class="left mdl-button mdl-js-button mdl-button--fab mdl-button--colored orange-btn">
      <i class="material-icons">arrow_left_thick</i>
    </button>
    <span class="mdl-tooltip mdl-tooltip--validation" for="save_prev" >
      <span >{{'SavePrev'|translate}}.</span>
    </span>

    <button  ng-hide="page.view && passo>1" id="save_next" ng-click="save_kyc(2)" class="right mdl-button mdl-js-button mdl-button--fab mdl-button--colored blue-btn">
      <i class="material-icons">arrow_right_thick</i>
    </button>
    <span class="mdl-tooltip mdl-tooltip--validation" for="save_next" >
      <span >{{'SaveNext'|translate}}.</span>
    </span>
    <button  id="save_exit" ng-click="save_kyc(-2)" class="right mdl-button mdl-js-button mdl-button--fab mdl-button--colored gray-btn ">
      <i class="material-icons">exit_to_app</i>
    </button>
    <span class="mdl-tooltip mdl-tooltip--validation" for="save_exit" >
      <span >{{'SaveExit'|translate}}.</span>
    </span>
  </div>
  <br/>
  <br/>
