<center>
<span style="font-size:18px;font-weight:bold" class="orange" id="name_agent">{{'Adeguata Verifica'|translate}}</span><br/>
<span style="font-size:18px;font-weight:bold" class="blue" id="name_agent">{{Contract.CPU}} - {{Contract.fullname}}</span>
</center>

<div id="containerf">
  <div>
    <div ng-hide="Contract.shared>0">


    </div>
    <div ng-show="Contract.shared>0" >
        <button  id="add_customer" ng-click="loadCustomer()" class=" mdl-button mdl-js-button mdl-button--fab   mdl-button--mini-fab mdl-button--colored orange-btn">
          <i class="material-icons">replay</i>
        </button>
        <span class="mdl-tooltip mdl-tooltip--validation" for="add_customer" >
          <span >{{'Ricarica dati dal Firmatario'|translate}}.</span>
        </span>


    </div>

  </div>
  <div>
  </div>
  <div ng-class="(Kyc.kyc_status==0) ? 'Alto' : 'Basso'" style="text-align:right!important">
    <i ng-show="Kyc.kyc_status==1" class="Basso material-icons" id="AVOK">done</i>
    <span class="mdl-tooltip mdl-tooltip--validation" for="AVOK" >
      <span >{{'Ultima AV eseguita il:  '|translate}}{{Kyc.kyc_date | dateToISO | date:'d/M/yyyy  HH:mm:ss'}}</span>
    </span>


    <i ng-show="Kyc.kyc_status==0" class="Alto material-icons" id="AVNO">warning</i>
    <span class="mdl-tooltip mdl-tooltip--validation" for="AVNO" >
      <span >{{'AV non ancora completata '|translate}}.</span>
    </span>


  </div>
</div>

<div class="mdl-card mdl-shadow--2dp ">
  <form name="form" id= "form" action="javascript:;" novalidate>
    <br/>



    <center>
    <span style="font-size:14px;font-weight:bold" class="orange" id="name_agent">{{'Fai inserire  la Firma del sottoscrittore '|translate}}</span><br/>

      <div  id="signature-pad" class="signature-pad  "  >
        <div class="signature-pad--body signature">

        <canvas id="canvas2" > </canvas>
      </div>

        <input style="display:none" type="text" ng-model="Kyc.contractor_data.sign" name="sig" id="sig" />

      <div class="signature-pad--actions">
         <div>
           <button id="clearCanvas" ng-click="showCanvas()" href="javascript:;" data-action="clear"  class="mdl-button mdl-js-button mmdl-button--mini-fab mdl-button--colored orange-btn">
             <i class="material-icons">clear</i>
           </button>
           <span class="mdl-tooltip mdl-tooltip--validation" for="clearCanvas" >
             <span >  {{'Pulisci'|translate}}.</span>
           </span>

         </div>
         <div>
         </div>
       </div>
     </div>
   </center>
 </form>
 </div>
 <div id="containerf">
   <div>
     <button  id="save_prev" ng-click="save_kyc('-1')" class="left mdl-button mdl-js-button mdl-button--fab mdl-button--colored orange-btn">
       <i class="material-icons">arrow_left_thick</i>
     </button>
     <span class="mdl-tooltip mdl-tooltip--validation" for="save_prev" >
       <span >{{'Salva e Torna a precedente'|translate}}.</span>
     </span>
   </div>
   <div>
     <center>
     <a id="cancel_button_cust" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary blue-btn" ng-click="save_kyc('0');" href="javascript:;">
       {{'Concludi AV' |translate}}
     </a>
   </div>
 </center>
   <div>

   </div>


 </div>
