<div id="containerf">
  <div></div>
  <div>
    <center>
    <span style="font-size:18px;font-weight:bold" class="orange" id="name_agent">{{'Adeguata Verifica'|translate}}</span><br/>
    <span style="font-size:18px;font-weight:bold" class="blue" id="name_agent">{{Contract.CPU}} - {{Contract.Owner}}</span>
  </center>
  </div>
  <div ng-class="(Kyc.kyc_status==0) ? 'Alto' : 'Basso'" style="text-align:right!important">
    <span ng-show="Kyc.kyc_status==1" >Ultima AV eseguita il: {{Kyc.kyc_date | dateToISO | date:'M/d/yyyy  HH:mm:ss'}} </span>
    <span ng-show="Kyc.kyc_status==0" >AV non ancora completata </span>

  </div>
</div>
<div class="mdl-card mdl-shadow--2dp ">
  <form name="form" id= "form" action="javascript:;" novalidate>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" >
      <img id="sign" ng-src="{{oldSign}}" ng-show="oldSign.length>7" height="20%">
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
      <div style="padding:16px;" id="signature-pad" class="m-signature-pad" ng-hide="oldSign.length>7" >
        <canvas id="canvas2" style="border:1px solid #cbcbcb" class="mdl-textfield__input" height="300"> </canvas> <br>
        <canvas id='blank' style='display:none'></canvas>

        <input style="display:none" type="text" ng-model="Kyc.contractor_data.sign" name="sig" id="sig" />
      </div>
      <center><a id="clearCanvas" ng-click="showCanvas()" href="javascript:;" data-action="clear" style="color:#1C224B;font-size:18px;">{{'Pulisci'|translate}}</a></center>
    </div>

  </form>


</div>
<br/>
<button  id="save_prev" ng-click="back(-1)" class="left mdl-button mdl-js-button mdl-button--fab mdl-button--colored orange-btn">
  <i class="material-icons">arrow_left_thick</i>
</button>
<span class="mdl-tooltip mdl-tooltip--validation" for="save_prev" >
  <span >{{'Torna a precedente'|translate}}.</span>
</span>
<br/>
<div style="clear:both" class="center-align">

  <a id="cancel_button_cust" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary blue-btn" ng-click="save_kyc('0');" href="javascript:;">
    {{'Concludi KYC' |translate}}
  </a>

</div>
<br/>
<br/>
