<div id="containerf">
  <div>
    <div ng-hide="Contract.shared>0">
      <span class=orange>Il firmatario non ha ancora autorizzato condivisione dati</span>
    </div>
    <div ng-show="Contract.shared>0" >
        <button ng-focus="resetAC()"  id="add_customer" ng-click="loadCompany()" class=" mdl-button mdl-js-button mdl-button--fab   mdl-button--mini-fab mdl-button--colored orange-btn">
          <i class="material-icons">replay</i>
        </button>
        <span class="mdl-tooltip mdl-tooltip--validation" for="add_customer" >
          <span >{{'Ricarica dati dal Firmatario'|translate}}.</span>
        </span>


    </div>
    </div>

  <div>
    <center>
    <span style="font-size:18px;font-weight:bold" class="orange" id="name_agent">{{'Adeguata Verifica'|translate}}</span><br/>
    <span style="font-size:18px;font-weight:bold" class="blue" id="name_agent">{{Contract.CPU}} - {{Contract.Owner}}</span>
  </center>
  </div>
  <div ng-class="(Kyc.kyc_status==0) ? 'Alto' : 'Basso'" style="text-align:right!important">
    <span ng-show="Kyc.kyc_status==1" >Ultima AV eseguita il: {{Kyc.kyc_date | dateToISO | date:'d/M/yyyy  HH:mm:ss'}} </span>
    <span ng-show="Kyc.kyc_status==0" >AV non ancora completata </span>

  </div>
</div>
    <div class="mdl-card mdl-shadow--2dp ">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
          <form id="form" name="form" novalidate>

            <div  ui-view="01" ></div>


          </form>
        </div>
      </div>
    </div>
    <br/>
    <div class="center-align">
      <button  id="save_prev" ng-click="save_kyc(-1)" class="left mdl-button mdl-js-button mdl-button--fab mdl-button--colored orange-btn">
        <i class="material-icons">arrow_left_thick</i>
      </button>
      <button  id="save_next" ng-click="save_kyc(4)" class="right mdl-button mdl-js-button mdl-button--fab mdl-button--colored blue-btn">
        <i class="material-icons">arrow_right_thick</i>
      </button>
      <span class="mdl-tooltip mdl-tooltip--validation" for="save_prev" >
        <span >{{'SavePrev'|translate}}.</span>
      </span>
      <button  id="save_exit" ng-click="save_kyc(0)" class="right mdl-button mdl-js-button mdl-button--fab mdl-button--colored ">
        <i class="material-icons">exit_to_app</i>
      </button>
      <span class="mdl-tooltip mdl-tooltip--validation" for="save_exit" >
        <span >{{'SaveExit'|translate}}.</span>
      </span>

      <img style="height:50px;width:50px;display:none;" id="loader_img" src="img/loader2.gif"  >
    </div>

  </div>
  <br/>
  <br/>
