<<center>
<span style="font-size:18px;font-weight:bold" class="orange" id="name_agent">{{'Adeguata Verifica'|translate}}</span><br/>
<span style="font-size:18px;font-weight:bold" class="blue" id="name_agent">{{Contract.CPU}} - {{Contract.fullname}}</span>
</center>

<div id="containerf">
  <div>
    <div ng-hide="Contract.shared>0">
      <i class="orange material-icons" id="auth">warning</i>
      <span class="mdl-tooltip mdl-tooltip--validation" for="auth" >
        <span >{{'Il firmatario non ha ancora autorizzato condivisione dati'|translate}}.</span>
      </span>

    </div>
    <div ng-show="Contract.shared>0" >
        <button  id="add_customer" ng-click="loadCustomer()" class=" mdl-button mdl-js-button mdl-button--fab   mdl-button--mini-fab mdl-button--colored orange-btn">
          <i class="material-icons">replay</i>
        </button>
        <span class="mdl-tooltip mdl-tooltip--validation" for="add_customer" >
          <span >{{'Ricarica dati dal Firmatario'|translate}}.</span>
        </span>


    </div>

  </div>
  <div>
  </div>
  <div ng-class="(Kyc.kyc_status==0) ? 'Alto' : 'Basso'" style="text-align:right!important">
    <i ng-show="Kyc.kyc_status==1" class="Basso material-icons" id="AVOK">done</i>
    <span class="mdl-tooltip mdl-tooltip--validation" for="AVOK" >
      <span >{{'Ultima AV eseguita il:  '|translate}}{{Kyc.kyc_date | dateToISO | date:'d/M/yyyy  HH:mm:ss'}}</span>
    </span>


    <i ng-show="Kyc.kyc_status==0" class="Alto material-icons" id="AVNO">warning</i>
    <span class="mdl-tooltip mdl-tooltip--validation" for="AVNO" >
      <span >{{'AV non ancora completata '|translate}}.</span>
    </span>


  </div>
</div>


<div  class="mdl-grid"       >

  <div ng-hide="Kyc.Docs.length == 0 " ng-class="{'mdl-cell--3-col-desktop mdl-cell-12-col-phone mdl-cell-6-col-tablet': main.web }"   id="list_doc"
  ng-hide="Kyc.Docs.length == 0 " class="ng-hide" ng-repeat="Doc in Kyc.Docs track by $index  "   ng-init="DocIndex=$index">

    <div ng-hide="Doc.deleted" style="padding-left:10px" >

      <div class="demo-card-image mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand">{{Doc.doc_name}}</div>
        <div class="mdl-image center-cropped" ng-click="edit_document(Doc,DocIndex)">
        <img  class="loadImg" ng-show="Doc.doc_image.length>0" ng-src ="{{imageurl(Doc)}}" ></img>
        <center>  <img style="display:none;height:50px;width:50px;margin-top:20px;" id="loader_img_int" src="ui-amlapp/img/loader2.gif"  /> </center>
      </div>
        <div class="mdl-card__actions">

          <div class="mdl-layout-spacer"></div>
          <button tooltip ng-hide="Doc.isImage" id="{{'download'+DocIndex}}"class="mdl-button mdl-button--icon mdl-button--colored" ng-click="download(Doc)" >
            <i class="material-icons">file_download</i>
          </button>
          <span class="mdl-tooltip mdl-tooltip--validation" for="{{'download'+DocIndex}}" >
            <span >{{'download file'|translate}}.</span>
          </span>
           <button tooltip id="{{'addCamera'+DocIndex}}"class="mdl-button mdl-button--icon mdl-button--colored" ng-click="edit_documentb(Doc,DocIndex)" >
            <i class="material-icons">mode_edit</i>
          </button>
          <span class="mdl-tooltip mdl-tooltip--validation" for="{{'addCamera'+DocIndex}}" >
            <span >{{'Modifica Documento'|translate}}.</span>
          </span>
          <button tooltip id="{{'deleteDoc'+DocIndex}}" class="mdl-button mdl-button--icon mdl-button--colored" ng-click="deleteDoc(Doc,DocIndex)" ><i class="material-icons">delete</i></button>
          <span class="mdl-tooltip mdl-tooltip--validation" for="{{'deleteDoc'+DocIndex}}" >
            <span >{{'Cancella Documento'|translate}}.</span>
          </span>
        </div>
        <div class="mdl-card__actions" style="background-color:white" ng-click="edit_doc(Doc,DocIndex)">

          {{Doc.doc_type}}<div class="mdl-layout-spacer"></div>
          {{Doc.doc_date |  date : 'shortDate'}}<br/>
        </div>

      </div>
    </div>


  </div>

  <div id="no_contract" ng-show="Kyc.Docs.length == 0 "  >
    <div  class="mdl-cell mdl-cell--12-col">
      <div class="mdl-card amazing mdl-shadow--2dp">
        <div  style="padding:4px" class="mdl-card__supporting-text mdl-color-text--grey-600">
          <div class="mdl-grid">
            <div class="mdl-cell">
              <span style="cursor:pointer;" >
                <strong class="blue first_letter_cap">Nessun Documento inserito ancora</strong>
              </span><br/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<br/>
<div ng-hide="page.view" class="center-align">
  <button  id="save_prev" ng-click="save_kyc(-1)" class="left mdl-button mdl-js-button mdl-button--fab mdl-button--colored orange-btn">
    <i class="material-icons">arrow_left_thick</i>
  </button>
  <button  id="save_next" ng-click="save_kyc(4)" class="right mdl-button mdl-js-button mdl-button--fab mdl-button--colored blue-btn">
    <i class="material-icons">arrow_right_thick</i>
  </button>
  <span class="mdl-tooltip mdl-tooltip--validation" for="save_prev" >
    <span >{{'SavePrev'|translate}}.</span>
  </span>
  <button  id="save_exit" ng-click="save_kyc(0)" class="right mdl-button mdl-js-button mdl-button--fab mdl-button--colored ">
    <i class="material-icons">exit_to_app</i>
  </button>
  <span class="mdl-tooltip mdl-tooltip--validation" for="save_exit" >
    <span >{{'SaveExit'|translate}}.</span>
  </span>
</div>
<br/>
<br/>
