<div class="account-data add-customer-data"> <!-- text fields -->
  <center><h5 class="orange" id="name_agent">{{Contract.CPU}} - {{Contract.owner}}</h5>
    <h4>{{'Adeguata Verifica'|translate}}</h4></center>

    <div class="mdl-card mdl-shadow--2dp ">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
          <form id="form" name="form" novalidate>
            <fieldset>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                <input class="mdl-textfield__input"  ng-model="Kyc.contractor_data.owner "
                type="text" ng-required="true" id="company_name" name="company_name" />
                <label for="company_name" class="mdl-textfield__label">{{ 'Companyname' | translate}}</label>
                <span class="mdl-tooltip mdl-tooltip--validation" for="company_name" minlength="3" ng-show="form.company_name.$invalid && form.company_name.$touched">
                  <span ng-show="form.company_name.$error.required">{{'Richiesto'|translate}}.</span>
                </div>
              </fieldset>
              <fieldset>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="text" id="company_type" name="company_type"
                  ng-model="Kyc.company_data.company_type"   minlength="3" ng-required="true"
                  ng-keyup="showAC('company.company_type','company_type',{zero:true});"
                  ng-focus="resetAC();showAC('company.company_type','company_type',{zero:true});" />
                  <label class="mdl-textfield__label" for="company_type">{{'Tipologia Soggetto Giuridico'|translate}} *</label>
                  <table class="mdl-data-table mdl-js-data-table  border-none scrolly ">
                    <tbody style="display:table">
                      <tr ng-click="addWord('Kyc.company_data.company_type',item.word,{id:'company_type'})" ng-repeat="item in word.company_type">
                        <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <span class="mdl-tooltip mdl-tooltip--validation" for="type" ng-show="form.company_type.$invalid && form.company_type.$touched">
                    <span ng-show="form.company_type.$error.required">{{'Richiesto'| translate}}</span>
                  </span>
                </div>
              </fieldset>
              <fieldset>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                  <input class="mdl-textfield__input"   ng-model="Kyc.company_data.address "   type="text"
                  id="company_address" name="company_address" ng-required="true" />
                  <label for="company_address" class="mdl-textfield__label">{{ 'Indirizzo Società' | translate}}</label>
                  <span class="mdl-tooltip mdl-tooltip--validation" for="company_address" minlength="3" ng-show="form.company_address.$invalid && form.company_address.$touched">
                    <span ng-show="form.company_address.$error.required">{{'Richiesto'|translate}}.</span>
                  </div>
                </fieldset>
                <fieldset>
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="company_town" name="company_town"
                    ng-model="Kyc.company_data.town_resi"  ng-change="Kyc.company_data.town_resi=(Kyc.contractor_data.town_resi| capitalize)"
                    minlength="3" ng-required="true"
                    ng-keyup="showAC('company.town','company_town');"
                    ng-focus="resetAC()"
                    />
                    <label class="mdl-textfield__label" for="company_town">{{'Città  Sede Principale'|translate}} *</label>
                    <table class="mdl-data-table mdl-js-data-table  border-none  ">
                      <tbody style="display:table">
                        <tr ng-click="addWord('Kyc.contractor_data.town_resi',item.word)" ng-repeat="item in word.town_resi">
                          <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
                        </tr>
                      </tbody>
                    </table>
                    <span class="mdl-tooltip mdl-tooltip--validation" for="company_town" ng-show="form.company_town.$invalid && form.company_town.$touched">
                      <span ng-show="form.company_town.$error.required">{{'Richiesto'| translate}}</span>
                    </span>
                  </div>
                </fieldset>
                <fieldset>
<!--
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                    <select ng-model="Kyc.company_data.country" class="mdl-textfield__input" placeholder="{{'Paese principale attività' | translate}}"
                    ng-required="true"
                    id="company_country" name="company_country">
                    <option ng-repeat="option in countryList" value="{{option.country_id}}">{{option.country_name}}</option>
                  </select>
                  <label class="mdl-textfield__label" for="company_country">{{'ResidenceCountry'|translate}} *</label>
                  <span class="mdl-tooltip mdl-tooltip--validation" for="Kyc_name" ng-show="form.company_country.$invalid && form.company_country.$touched">
                    <span ng-show="form.company_country.$error.required">{{'Richiesto'| translate}}</span>
                  </span>
                </div>
-->
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="text" id="country" name="country" minlength="3"  value=" "
                  ng-model="Kyc.company_data.country"   minlength="3"
                  ng-keyup="showAC('company.country','country',{countries:true,zero:true});"
                  ng-focus="showAC('company.country','country',{countries:true,zero:true});resetAC()"
                  />
                  <label class="mdl-textfield__label" for="country">{{'Paese sede Principale'|translate}} *</label>
                  <table class="mdl-data-table mdl-js-data-table  border-none  scrolly">
                    <tbody style="display:table">
                      <tr ng-click="addWord('Kyc.company_data.country',item.word,{countries:true,id:'country'})" ng-repeat="item in word.country">
                        <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
                      </tr>
                    </tbody>
                  </table>

                  <span class="mdl-tooltip mdl-tooltip--validation" for="country" ng-show="form.country.$invalid && form.country.$touched">
                    <span ng-show="form.country.$error.required">{{'Richiesto'| translate}}</span>
                  </span>
                </div>
              </fieldset>
              <fieldset>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                  <input class="mdl-textfield__input"  ng-model="Kyc.company_data.fiscal_id"  ng-change="Kyc.company_data.fiscal_id=(Kyc.company_data.fiscal_id| uppercase) "
                  type="text" placeholder=" {{ 'PIVA' | translate}}"
                  id="company_fiscal_id" name="company_fiscal_id" />
                  <label for="company_fiscal_id" class="mdl-textfield__label">{{ 'PIVA' | translate}}</label>
                  <span class="mdl-tooltip mdl-tooltip--validation" for="company_fiscal_id" minlength="3" ng-show="form.company_fiscal_id.$invalid && form.company_fiscal_id.$touched">
                    <span ng-show="form.company_fiscal_id.$error.required">{{'Richiesto'|translate}}.</span>
                  </div>
                </fieldset>

                <fieldset>
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                    <input class="mdl-textfield__input"  type="text" ng-model="Kyc.company_data.authorised_by" ng-keyup="showAC($event,'company');"
                    placeholder=" {{ 'Companyauthorizedby' | translate}}"
                    id="authorised_by" name="authorised_by" />
                    <label for="authorised_by" class="mdl-textfield__label">{{ 'Companyauthorizedby' | translate}}</label>
                    <table class="mdl-data-table mdl-js-data-table  border-none  ">
                      <tbody style="display:table">
                        <tr ng-click="addWord('authorised_by',item.word)" ng-repeat="item in word.authorised_by">
                          <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
                        </tr>
                      </tbody>
                    </table>
                    <span class="mdl-tooltip mdl-tooltip--validation" for="authorised_by" minlength="3" ng-show="form.authorised_by.$invalid && form.authorised_by.$touched">
                      <span ng-show="form.authorised_by.$error.required">{{'Richiesto'|translate}}.</span>
                    </div>
                  </fieldset>
                  <fieldset>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                      <input class="mdl-textfield__input"  type="date" date-input ng-model="Kyc.company_data.authorisation_date"
                      placeholder=" {{ 'DateofAutorized' | translate}}"
                      id="authorisation_date" name="authorisation_date" />
                      <label for="authorisation_date" class="mdl-textfield__label" >{{ 'DateofAutorized' | translate}}</label>
                      <span class="mdl-tooltip mdl-tooltip--validation" for="authorisation_date" minlength="3" ng-show="form.authorisation_date.$invalid && form.authorisation_date.$touched">
                        <span ng-show="form.authorisation_date.$error.required">{{'Richiesto'|translate}}.</span>
                      </div>
                    </fieldset>
                    <fieldset>

                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                        <input ng-currency class="mdl-textfield__input"   ng-model="Kyc.company_data.fiscal_budget"
                        placeholder=" {{ 'FiscalBudget' | translate}}" id="fiscal_budget" name="fiscal_budget" />
                        <label for="fiscal_budget" class="mdl-textfield__label" >{{ 'FiscalBudget' | translate}}</label>
                        <span class="mdl-tooltip mdl-tooltip--validation" for="fiscal_budget" minlength="3" ng-show="form.fiscal_budget.$invalid && form.fiscal_budget.$touched">
                          <span ng-show="form.fiscal_budget.$error.required">{{'Richiesto'|translate}}.</span>
                        </div>
                      </fieldset>
<!--
                      <fieldset>
                        <div id="list_doc" ng-show="Kyc.company_data.Docs.length>0"  ng-repeat="Doc in Kyc.company_data.Docs  | filter: {per_id: Kyc.company_data.company_id } as identityDocs" ng-init="DocIndex=$index">
                          <div ng-hide="Doc.deleted" >

                            <div class="demo-card-image mdl-card mdl-shadow--2dp">
                              <div class="mdl-card__title mdl-card--expand">{{Doc.doc_name}}</div>
                              <img ng-click="edit_doc(Doc,DocIndex);$event.preventDefault(); $event.stopPropagation();" ng-show="Doc.doc_image.length>0" ng-src ="{{Doc.doc_image.length>0 ? Doc.IMAGEURI+ Doc.doc_image :'' }}" ></img>
                              <center>  <img style="display:none;height:50px;width:50px;margin-top:20px;" id="loader_img" src="ui-amlapp/img/loader2.gif"  > </center>

                              <div class="mdl-card__actions">
                                <div class="mdl-layout-spacer"></div>
                                <button ng-hide="Contract.DocsLoaded>0 " id="addDoc" class="mdl-button mdl-button--icon mdl-button--colored" ng-click="add_document(Doc);$event.preventDefault(); $event.stopPropagation();" ><i class="material-icons">add</i></button>
                                <span class="mdl-tooltip mdl-tooltip--validation" for="addDoc" >
                                  <span >{{'Aggiungi Immagine'|translate}}.</span>
                                </span>

                                <button ng-hide="Contract.DocsLoaded==0 "id="addCamera"class="mdl-button mdl-button--icon mdl-button--colored" ng-click="edit_doc(Doc,DocIndex);$event.preventDefault(); $event.stopPropagation();" ><i class="material-icons">add_a_photo</i></button>
                                <span class="mdl-tooltip mdl-tooltip--validation" for="addCamera" >
                                  <span >{{'Cambia immagine'|translate}}.</span>
                                </span>

                                <button ng-hide="Contract.DocsLoaded==0 " id="deleteDoc" class="mdl-button mdl-button--icon mdl-button--colored" ng-click="deleteDoc(Doc,DocIndex);$event.preventDefault(); $event.stopPropagation();" ><i class="material-icons">delete</i></button>
                                <span class="mdl-tooltip mdl-tooltip--validation" for="deleteDoc" >
                                  <span >{{'Cancella'|translate}}.</span>
                                </span>
                              </div>

                            </div>
                          </div>


                        </div>

                        <div ng-show="newDocs || identityDocs.length==0"  >

                          <div class="demo-card-image mdl-card mdl-shadow--2dp">
                            <div class="mdl-card__title mdl-card--expand">{{'Documento identità'|translate}}</div>
                            <center>  <img style="display:none;height:50px;width:50px;margin-top:20px;" id="loader_img" src="ui-amlapp/img/loader2.gif"  > </center>

                            <div class="mdl-card__actions">
                              <div class="mdl-layout-spacer"></div>
                              <button ng-hide="Contract.DocsLoaded>0 " id="addDoc" class="mdl-button mdl-button--icon mdl-button--colored" ng-click="add_document(Doc);$event.preventDefault(); $event.stopPropagation();" ><i class="material-icons">add</i></button>
                              <span class="mdl-tooltip mdl-tooltip--validation" for="addDoc" >
                                <span >{{'Aggiungi Immagine'|translate}}.</span>
                              </span>

                            </div>

                          </div>
                        </div>
                      </fieldset>
-->

                    </form>
                  </div>
                </div>
              </div>
              <br/>
              <div class="center-align">
                <button  id="save_prev" ng-click="save_kyc(-1)" class="left mdl-button mdl-js-button mdl-button--fab mdl-button--colored orange-btn">
                  <i class="material-icons">arrow_left_thick</i>
                </button>
                <button  id="save_next" ng-click="save_kyc(4)" class="right mdl-button mdl-js-button mdl-button--fab mdl-button--colored blue-btn">
                  <i class="material-icons">arrow_right_thick</i>
                </button>
                <span class="mdl-tooltip mdl-tooltip--validation" for="save_prev" >
                  <span >{{'SavePrev'|translate}}.</span>
                </span>
                <button  id="save_exit" ng-click="save_kyc(0)" class="right mdl-button mdl-js-button mdl-button--fab mdl-button--colored gray-btn ">
                  <i class="material-icons">exit_to_app</i>
                </button>
                <span class="mdl-tooltip mdl-tooltip--validation" for="save_exit" >
                  <span >{{'SaveExit'|translate}}.</span>
                </span>

                <img style="height:50px;width:50px;display:none;" id="loader_img" src="ui-amlapp/img/loader2.gif"  >
              </div>

            </div>
            <br/>
            <br/>
