<div  class="mdl-card card-ax">

  <table align="center" class="tview mdl-data-table mdl-js-data-table  mdl-shadow--2dp">
    <tbody>
      <tr>
        <td  >
          <button  id="profile"  class="center mdl-button mdl-js-button  mdl-button--colored green">
                <i class="material-icons">business</i>
          </button>

        </td>      <td style="text-align:left;font-size:16px"class="green"><b>{{'Dati Persona Giuiridica' |translate}} </b></td>

      </tr>
      <tr>
        <td  >{{'CPU' | translate}} :</td>
        <td class="blue">{{Contract.CPU}}</td>

      </tr>
      <tr>
        <td  >{{'Cliente' | translate}} :</td>
        <td class="blue" style="font-size:24px;"><b>{{Contract.Owner}}</b></td>

      </tr>
  </tbody>
  </table>

<div id="containerf">
  <div>
    <div ng-hide="Contract.shared>0">
      <i class="orange material-icons" id="auth">warning</i>
      <span class="mdl-tooltip mdl-tooltip--validation" for="auth" >
        <span >{{'Il firmatario non ha ancora autorizzato condivisione dati'|translate}}.</span>
      </span>

    </div>
    <div ng-show="Contract.shared>0" >
        <button  id="add_customer" ng-click="loadCustomer()" class=" mdl-button mdl-js-button mdl-button--fab   mdl-button--mini-fab mdl-button--colored orange-btn">
          <i class="material-icons">replay</i>
        </button>
        <span class="mdl-tooltip mdl-tooltip--validation" for="add_customer" >
          <span >{{'Ricarica dati dal Firmatario'|translate}}.</span>
        </span>


    </div>

  </div>
  <div>
    <center>
    <button  ng-show="Company.fiscal_id.length >0 && kyc_data.fiscal_id.length >0"  id="fillData" ng-click="fillKycData()"
       class=" mdl-button mdl-js-button mdl-button--fab   mdl-button--mini-fab mdl-button--colored blue-btn">
      <i class="material-icons">replay</i>
    </button>
    <span class="mdl-tooltip mdl-tooltip--validation" for="fillData" >
      <span >{{'Carica -dati firmatari da precedente AV'|translate}}.</span>
    </span>
  </div>
  <div ng-class="(Kyc.kyc_status==0) ? 'Alto' : 'Basso'" style="text-align:right!important">
    <i ng-show="Kyc.kyc_status==1" class="Basso material-icons" id="AVOK">done</i>
    <span class="mdl-tooltip mdl-tooltip--validation" for="AVOK" >
      <span >{{'Ultima AV eseguita il:  '|translate}}{{Kyc.kyc_date | dateToISO | date:'d/M/yyyy  HH:mm:ss'}}</span>
    </span>


    <i ng-show="Kyc.kyc_status==0" class="Alto material-icons" id="AVNO">warning</i>
    <span class="mdl-tooltip mdl-tooltip--validation" for="AVNO" >
      <span >{{'AV non ancora completata '|translate}}.</span>
    </span>


  </div>
</div>
    <div class="mdl-card mdl-shadow--2dp ">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
          <form id="form" name="form" novalidate>

            <div  ui-view="01" ></div>


          </form>
        </div>
      </div>
    </div>
    <br/>
    <div ng-if="!page.view" class="center-align">
      <button  id="save_prev" ng-click="save_kyc(-1)" class="left mdl-button mdl-js-button  mdl-button--colored orange ">
        <i class="material-icons size24">keyboard_arrow_left</i>
      </button>
      <span class="mdl-tooltip mdl-tooltip--validation" for="save_prev" >
        <span >{{'SavePrev'|translate}}.</span>
      </span>
      <button   id="save_next" ng-click="save_kyc(4)" class="right mdl-button mdl-js-button  mdl-button--colored blue">
        <i class="material-icons size24">keyboard_arrow_right</i>
      </button>
      <span class="mdl-tooltip mdl-tooltip--validation" for="save_next" >
        <span >{{'SaveNext'|translate}}.</span>
      </span>
      <button  id="save_exit" ng-click="save_kyc(0)" class="left mdl-button mdl-js-button  mdl-button--colored gray ">
        <i class="material-icons size24">subdirectory_arrow_left</i>
      </button>
      <span class="mdl-tooltip mdl-tooltip--validation" for="save_exit" >
        <span >{{'SaveExit'|translate}}.</span>
      </span>

    </div>
    <div ng-if=" page.view" class="center-align">
      <button  id="save_exit" ng-click="save_kyc(0)" class="left mdl-button mdl-js-button  mdl-button--colored gray ">
        <i class="material-icons size24">subdirectory_arrow_left</i>
      </button>
      <span class="mdl-tooltip mdl-tooltip--validation" for="save_exit" >
        <span >{{'SaveExit'|translate}}.</span>
      </span>
     </div>

  </div>
  <br/>
  <br/>
</div>
