
<fieldset>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <input class="mdl-textfield__input" type="text" autocomplete="off" id="customer_address_resi" name="customer_address_resi"
  ng-model="Customer.address_resi"  ng-change="Customer.address_resi=(Customer.address_resi| capitalize)" minlength="3"
  ng-required="page.other_data "
  ng-keyup="showAC('users.address_resi','address_resi',{zero:true});"
  ng-focus="showAC('users.address_resi','address_resi',{zero:true});resetAC()"
  />
  <label class="mdl-textfield__label" for="customer_address_resi">{{'Addressofresidence'|translate}} *</label>
  <table class="mdl-data-table mdl-js-data-table  border-none scrolly " tabindex="30" autocomplete="customer_address_resi">
    <tbody style="display:table">
      <tr tabindex="30"
      ng-click="addWord('Customer.address_resi',item.word,{id:'address_resi'})"
      my-Enter="addWord('Customer.address_resi',item.word,{id:'address_resi'})"
      ng-repeat="item in word.address_resi">
        <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
      </tr>
    </tbody>
  </table>
  <span class="mdl-tooltip mdl-tooltip--validation" for="customer_address_resi" ng-show="form.customer_address_resi.$invalid && form.customer_address_resi.$touched">
    <span ng-show="form.customer_address_resi.$error.required">{{'Richiesto'| translate}}</span>
  </span>
</div>
</fieldset>
<fieldset>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <input class="mdl-textfield__input" type="text" autocomplete="off" id="resi_town" name="resi_town"
  ng-model="Customer.resi_town"  ng-change="Customer.resi_town=(Customer.resi_town| capitalize)"
  minlength="3" ng-required="page.other_data "
  ng-keyup="showAC('users.resi_town','resi_town',{zero:true});"
  ng-focus="showAC('users.resi_town','resi_town',{zero:true});resetAC()"
  />
  <label class="mdl-textfield__label" for="resi_town">{{'Città di residenza'|translate}} *</label>
  <table class="mdl-data-table mdl-js-data-table  border-none scrolly " tabindex="30" autocomplete="resi_town">
    <tbody style="display:table">
      <tr tabindex="30"
      ng-click="addWord('Customer.resi_town',item.word,{id:'resi_town'})"
      my-Enter="addWord('Customer.resi_town',item.word,{id:'resi_town'})"
      ng-repeat="item in word.resi_town">
        <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
      </tr>
    </tbody>
  </table>
  <span class="mdl-tooltip mdl-tooltip--validation" for="resi_town" ng-show="form.resi_town.$invalid && form.resi_town.$touched">
    <span ng-show="form.resi_town.$error.required">{{'Richiesto'| translate}}</span>
  </span>

</fieldset>
<fieldset>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" autocomplete="off" id="resi_country" name="resi_country" minlength="3"  value=" "
    ng-model="Customer.resi_country"   minlength="3"  ng-required="passo==2" def-setting="country"
    ng-keyup="showAC('users.resi_country','resi_country',{countries:true,zero:true});"
    ng-focus="showAC('users.resi_country','resi_country',{countries:true,zero:true});resetAC()"
    />
    <label class="mdl-textfield__label" for="resi_country">{{'Paese di Residenza'|translate}} *</label>
    <table class="mdl-data-table mdl-js-data-table  border-none  scrolly" tabindex="30" autocomplete="resi_country">
      <tbody style="display:table">
        <tr tabindex="30"
        ng-click="addWord('Customer.resi_country',item.word,{countries:true,id:'resi_country'})"
        my-Enter="addWord('Customer.resi_country',item.word,{countries:true,id:'resi_country'})"
        ng-repeat="item in word.resi_country">
          <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
        </tr>
      </tbody>
    </table>

    <span class="mdl-tooltip mdl-tooltip--validation" for="resi_country" ng-show="form.resi_country.$invalid && form.resi_country.$touched">
      <span ng-show="form.resi_country.$error.required">{{'Richiesto'| translate}}</span>
    </span>
  </div>
</fieldset>
<fieldset>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="check_residence">
    <input id="check_residence" name="check_residence" ng-true-value="1"  type="checkbox" class="mdl-checkbox__input"
    ng-model="Customer.check_residence"
    />
    <span class="mdl-checkbox__label">{{'weatherdomiciledifferentfromresedence'|translate}}</span>
  </label>

</div>
</fieldset>
<div ng-show="Customer.check_residence==1">
<fieldset>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <input class="mdl-textfield__input" type="text" autocomplete="off" id="domi_country" name="domi_country" minlength="3"  value=" "
  ng-model="Customer.domi_country"   minlength="3"  ng-required="passo==2 && Customer.check_residence==1"
  ng-keyup="showAC('users.domi_country','domi_country',{countries:true,zero:true});"
  ng-focus="showAC('users.domi_country','domi_country',{countries:true,zero:true});resetAC()"
  />
  <label class="mdl-textfield__label" for="domi_country">{{'Paese di Domicilio'|translate}} *</label>
  <table class="mdl-data-table mdl-js-data-table  border-none  scrolly" tabindex="30" autocomplete="domi_country">
    <tbody style="display:table">
      <tr tabindex="30"
      ng-click="addWord('Customer.domi_country',item.word,{countries:true,id:'domi_country'})"
      my-Enter="addWord('Customer.domi_country',item.word,{countries:true,id:'domi_country'})"
       ng-repeat="item in word.domi_country">
        <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
      </tr>
    </tbody>
  </table>

  <span class="mdl-tooltip mdl-tooltip--validation" for="domi_country" ng-show="form.domi_country.$invalid && form.domi_country.$touched">
    <span ng-show="form.domi_country.$error.required">{{'Richiesto'| translate}}</span>
  </span>
</div>

</fieldset>
<fieldset>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <input class="mdl-textfield__input" type="text" autocomplete="off" id="customer_address_domi" name="customer_address_domi"
  ng-model="Customer.domi_address"  ng-change="Customer.domi_address=(Customer.domi_address| capitalize)"
  minlength="3"      ng-required="passo==2 && Customer.check_residence==1"

  />
  <label class="mdl-textfield__label" for="customer_address_domi">{{'Indirizzo Domicilio'|translate}} *</label>
  <span class="mdl-tooltip mdl-tooltip--validation" for="customer_address_domi" ng-show="form.customer_address_domi.$invalid && form.customer_address_domi.$touched">
    <span ng-show="form.customer_address_domi.$error.required">{{'Richiesto'| translate}}</span>
  </span>
</div>
</fieldset>
<fieldset>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <input class="mdl-textfield__input" type="text" autocomplete="off" id="domi_town" name="domi_town"
  ng-model="Customer.domi_town"  ng-change="Customer.domi_town=(Customer.domi_town| capitalize)"
  minlength="3"   ng-required="passo==2 && Customer.check_residence==1"
  ng-keyup="showAC('users.domi_down','domi_town',{zero:true});"
  ng-focus="resetAC()"
  />
  <label class="mdl-textfield__label" for="domi_town">{{'Città di Domicilio'|translate}} *</label>
  <table class="mdl-data-table mdl-js-data-table  border-none  scrolly " tabindex="30" autocomplete="domi_town">
    <tbody style="display:table">
      <tr tabindex="30"
      ng-click="addWord('Customer.town_domi',item.word,{id:'domi_town'})"
      my-Enter="addWord('Customer.town_domi',item.word,{id:'domi_town'})"
      ng-repeat="item in word.domi_town">
        <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
      </tr>
    </tbody>
  </table>
  <span class="mdl-tooltip mdl-tooltip--validation" for="domi_town" ng-show="form.domi_town.$invalid && form.domi_town.$touched">
    <span ng-show="form.domi_town.$error.required">{{'Richiesto'| translate}}</span>
  </span>
</div>
</fieldset>


</div>
<fieldset>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
<input class="mdl-textfield__input" type="text" autocomplete="off" id="main_nationality" name="main_nationality"
ng-model="Customer.main_nationality"  ng-change="Customer.main_nationality=(Customer.main_nationality| capitalize)"
minlength="3"   ng-required="{{Customer.check_residence==1}}"
ng-keyup="showAC('users.main_nationality','main_nationality',{zero:true});"
ng-focus="showAC('users.main_nationality','main_nationality',{zero:true});resetAC()"
/>
<label class="mdl-textfield__label" for="main_nationality">{{'MainNationality'|translate}} *</label>
<table class="mdl-data-table mdl-js-data-table  border-none  scrolly" tabindex="30" autocomplete="main_nationality">
  <tbody style="display:table">
    <tr tabindex="30"
    ng-click="addWord('Customer.main_nationality',item.word,{id:'main_nationality'})"
    my-Enter="addWord('Customer.main_nationality',item.word,{id:'main_nationality'})"
    ng-repeat="item in word.main_nationality">
      <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
    </tr>
  </tbody>
</table>
<span class="mdl-tooltip mdl-tooltip--validation" for="main_nationality" ng-show="form.main_nationality.$invalid && form.main_nationality.$touched">
  <span ng-show="form.main_nationality.$error.required">{{'Richiesto'| translate}}</span>
</span>
</div>
</fieldset>

<fieldset>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" style="margin-top:5px;">

<div class="mdl-grid">
  <div class="mdl-cell ">
    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="PEP-1">
      <input type="radio" id="PEP-1" ng-model="Customer.check_pep" class="mdl-radio__button" name="PEP" value="1"  >
      <span class="mdl-radio__label" >{{'dichiara di essere PEP'| translate}}</span>
    </label>
  </div>

  <div class="mdl-cell">
    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="PEP-0">
      <input type="radio" id="PEP-0" ng-model="Customer.check_pep" class="mdl-radio__button" name="PEP" value="0"  checked>
      <span class="mdl-radio__label">{{'Dichiara di Non Essere PEP '| translate}}</span>
    </label>
  </div>
</div>
</div>
</fieldset>
<fieldset ng-show="Customer.check_pep==1">
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
<input class="mdl-textfield__input" type="text" autocomplete="off" id="pep_charge" name="pep_charge"
ng-model="Customer.pep_charge "
minlength="3"   ng-required="Customer.check_pep==1 && passo==2"
ng-keyup="showAC('users.pep_charge','pep_charge',{zero:true});"
ng-focus="showAC('users.pep_charge','pep_charge',{zero:true});resetAC()"
/>
<label class="mdl-textfield__label" for="pep_charge">{{'Tipo di carica ricoperta'|translate}} *</label>
<table class="mdl-data-table mdl-js-data-table  border-none scrolly " tabindex="30" autocomplete="pep_charge">
  <tbody style="display:table">
    <tr tabindex="30"
    ng-click="addWord('Customer.pep_charge',item.word,{id:'pep_charge'})"
    my-Enter="addWord('Customer.pep_charge',item.word,{id:'pep_charge'})"
    ng-repeat="item in word.pep_charge">
      <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
    </tr>
  </tbody>
</table>
<span class="mdl-tooltip mdl-tooltip--validation" for="pep_charge" ng-show="form.pep_charge.$invalid && form.pep_charge.$touched">
  <span ng-show="form.pep_charge.$error.required">{{'Richiesto'| translate}}</span>
</span>
</div>
</fieldset>

<fieldset ng-show="Customer.check_pep==1">
<!--
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" style="margin-top:5px;">

<div class="mdl-grid">
  <div class="mdl-cell ">
    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="PEPDOM-1">
      <input type="radio" id="PEPDOM-1" ng-model="Customer.pep_domestic" class="mdl-radio__button" name="PEPDOM" value="1" >
      <span class="mdl-radio__label" >{{'PEP Domestico'| translate}}</span>
    </label>
  </div>

  <div class="mdl-cell">
    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="PEPDOM-0">
      <input type="radio" id="PEPDOM-0" ng-model="Customer.pep_domestic" class="mdl-radio__button" name="PEPDOM" value="0"  checked>
      <span class="mdl-radio__label">{{'PEP estero'| translate}}</span>
    </label>
  </div>
</div>
</div>
-->
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
<input class="mdl-textfield__input" type="text" autocomplete="off" id="pep_type" name="pep_type"
ng-model="Customer.pep_type"
minlength="3" ng-required="Customer.check_pep==1 && passo==2"
ng-focus="resetAC();showAC('users.pep_type','pep_type',{zero:true});"
ng-keyup="showAC('users.pep_type','pep_type',{zero:true});"  />
<label class="mdl-textfield__label" for="Kyc_ard">{{'Tipologia PEP'|translate}} *</label>
<table class="mdl-data-table mdl-js-data-table  border-none scrolly " tabindex="30" autocomplete="pep_type">
  <tbody style="display:table">
    <tr tabindex="30"
    ng-click="addWord('Customer.pep_type',item.word,{id:'pep_type'})"
    my-enter="addWord('Customer.pep_type',item.word,{id:'pep_type'})"
    ng-repeat="item in word.pep_type">
      <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
    </tr>
  </tbody>
</table>
<span class="mdl-tooltip mdl-tooltip--validation" for="pep_type" ng-show="form.pep_type.$invalid && form.pep_type.$touched">
  <span ng-show="form.pep_type.$error.required">{{'Richiesto'| translate}}</span>
</span>
</div>

</fieldset>
<fieldset>
<!--

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
<input class="mdl-textfield__input" type="text" autocomplete="off" id="customer_profession" name="customer_profession"
ng-model="Customer.profession"
minlength="3"   ng-required="page.other_data && ! page.owners"
ng-keyup="showAC('users.profession','customer_profession');"

ng-focus="resetAC()"
/>
<label class="mdl-textfield__label" for="customer_profession">{{'Professione'|translate}} *</label>
<table class="mdl-data-table mdl-js-data-table  border-none  ">
  <tbody style="display:table">
    <tr ng-click="addWord('Customer.profession',item.word)" ng-repeat="item in word.profession">
      <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
    </tr>
  </tbody>
</table>
<span class="mdl-tooltip mdl-tooltip--validation" for="customer_profession" ng-show="form.customer_profession.$invalid && form.customer_profession.$touched">
  <span ng-show="form.customer_profession.$error.required">{{'Richiesto'| translate}}</span>
</span>
</div>
-->
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
<input class="mdl-textfield__input" type="text" autocomplete="off" id="profession" name="profession"
ng-model="Customer.profession"
minlength="3"   ng-required="page.other_data && ! page.owners"
ng-keyup="showAC('users.profession','profession', {zero:true,order:1});"
ng-focus="resetAC();showAC('users.profession','profession', {zero:true,order:1})"
/>
<label class="mdl-textfield__label" for="profession">{{'Professione'|translate}} *</label>
<table class="mdl-data-table mdl-js-data-table  border-none scrolly " tabindex="30" autocomplete="profession">
  <tbody style="display:table">
    <tr tabindex="30"
    ng-click="addWord('Customer.profession',item.word,{id:'profession'})"
    my-Enter="addWord('Customer.profession',item.word,{id:'profession'})"
    ng-repeat="item in word.profession">
      <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
    </tr>
  </tbody>
</table>
<span class="mdl-tooltip mdl-tooltip--validation" for="profession" ng-show="form.profession.$invalid && form.profession.$touched">
  <span ng-show="form.profession.$error.required">{{'Richiesto'| translate}}</span>
</span>
</div>
</fieldset>
<fieldset>
<!--
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
<select ng-model="Customer.main_activity_country" class="mdl-textfield__input"
ng-required="page.other_data && ! page.owners"
id="customer_main_activity_country" name="customer_main_activity_country" >
<option ng-repeat="option in countryList" value="{{option.country_id}}">{{option.country_name}}</option>

</select>
<label class="mdl-textfield__label" for="customer_main_activity_country">{{'Paese di prevalente attività economica'|translate}} *</label>
<span class="mdl-tooltip mdl-tooltip--validation" for="customer_main_activity_country" ng-show="form.customer_main_activity_country.$invalid && form.customer_main_activity_country.$touched">
<span ng-show="form.customer_main_activity_country.$error.required">{{'Richiesto'| translate}}</span>
</span>
</div>
-->
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
<input class="mdl-textfield__input" type="text" autocomplete="off" id="main_activity_country" name="main_activity_country" minlength="3"  value=" "
ng-model="Customer.main_activity_country"   minlength="3"  ng-required="passo==2" def-setting="country"
ng-keyup="showAC('users.main_activity_country','main_activity_country',{countries:true,zero:true});"
ng-focus="showAC('users.main_activity_country','main_activity_country',{countries:true,zero:true});resetAC()"
/>
<label class="mdl-textfield__label" for="main_activity_country">{{'Paese di prevalente attività economica'|translate}} *</label>
<table class="mdl-data-table mdl-js-data-table  border-none  scrolly" tabindex="30" autocomplete="main_activity_country">
<tbody style="display:table">
  <tr tabindex="30"
  ng-click="addWord('Customer.main_activity_country',item.word,{countries:true,id:'main_activity_country'})"
  my-Enter="addWord('Customer.main_activity_country',item.word,{countries:true,id:'main_activity_country'})"
  ng-repeat="item in word.main_activity_country">
    <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
  </tr>
</tbody>
</table>

<span class="mdl-tooltip mdl-tooltip--validation" for="main_activity_country" ng-show="form.main_activity_country.$invalid && form.main_activity_country.$touched">
<span ng-show="form.main_activity_country.$error.required">{{'Richiesto'| translate}}</span>
</span>
</div>

</fieldset>
<!--
<fieldset>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
<input class="mdl-textfield__input" type="text" autocomplete="off" id="customer_fiscal_number" name="customer_fiscal_number"
ng-model="Customer.fiscal_number"
minlength="3"   ng-required="passo==2 && ! page.owners"

ng-focus="resetAC()"
/>
<label class="mdl-textfield__label" for="customer_fiscal_number">{{'Codice ISS/Codice Fiscale'|translate}} *</label>
<span class="mdl-tooltip mdl-tooltip--validation" for="customer_fiscal_number" ng-show="form.customer_fiscal_number.$invalid && form.customer_fiscal_number.$touched">
  <span ng-show="form.customer_fiscal_number.$error.required">{{'Richiesto'| translate}}</span>
</span>
</div>
</fieldset>
-->
<fieldset>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
<input class="mdl-textfield__input" type="text" autocomplete="off" id="annual_income" name="annual_income" minlength="3"  value=" "
ng-model="Customer.annual_income"   minlength="3"
ng-keyup="showAC('users.annual_income','annual_income',{order:1,zero:true});"
ng-focus="resetAC();showAC('users.annual_income','annual_income',{order:1,zero:true})"
/>
<label class="mdl-textfield__label" for="annual_income">{{'Annualincome' | translate }}*</label>
<table class="mdl-data-table mdl-js-data-table  border-none scrolly " tabindex="30" autocomplete="annual_income">
  <tbody style="display:table">
    <tr tabindex="30"
    ng-click="addWord('Customer.annual_income',item.word,false,{countries:true,id:'annual_income'})"
    my-Enter="addWord('Customer.annual_income',item.word,false,{countries:true,id:'annual_income'})"
     ng-repeat="item in word.annual_income">
      <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
    </tr>
  </tbody>
</table>
<span class="mdl-tooltip mdl-tooltip--validation" for="annual_income" ng-show="form.annual_income.$invalid && form.annual_income.$touched">
  <span ng-show="form.annual_income.$error.required">{{'Richiesto'|translate}}.</span>
</span>

</div>
</fieldset>

<fieldset>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
<input class="mdl-textfield__input" type="text" autocomplete="off" id="income_source" name="income_source" minlength="3"  value=" "
ng-model="Customer.income_source"   minlength="3"
ng-keyup="showAC('users.income_source','income_source',{order:1,zero:true});"
ng-focus="resetAC();showAC('users.income_source','income_source',{order:1,zero:true})"
/>
<label class="mdl-textfield__label" for="income_source">{{'Fonte di Reddito' | translate }}*</label>
<table class="mdl-data-table mdl-js-data-table  border-none scrolly " tabindex="30" autocomplete="income_source">
  <tbody style="display:table">
    <tr tabindex="30"
    ng-click="addWord('Customer.income_source',item.word,false,{countries:true,id:'income_source'})"
    my-Enter="addWord('Customer.income_source',item.word,false,{countries:true,id:'income_source'})"
     ng-repeat="item in word.income_source">
      <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
    </tr>
  </tbody>
</table>
<span class="mdl-tooltip mdl-tooltip--validation" for="income_source" ng-show="form.income_source.$invalid && form.income_source.$touched">
  <span ng-show="form.income_source.$error.required">{{'Richiesto'|translate}}.</span>
</span>

</div>
</fieldset>
<fieldset>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
<input class="mdl-textfield__input" type="text" autocomplete="off" id="found_source" name="found_source" minlength="3"  value=" "
ng-model="Customer.found_source"   minlength="3"
ng-keyup="showAC('users.found_source','found_source',{order:1,zero:true});"
ng-focus="resetAC();showAC('users.found_source','found_source',{order:1,zero:true})"
/>
<label class="mdl-textfield__label" for="found_source">{{'Origine dei fondi' | translate }}*</label>
<table class="mdl-data-table mdl-js-data-table  border-none scrolly " tabindex="30" autocomplete="found_source">
  <tbody style="display:table">
    <tr
    ng-click="addWord('Customer.found_source',item.word,false,{countries:true,id:'found_source'})"
    my-Enter="addWord('Customer.found_source',item.word,false,{countries:true,id:'found_source'})"
    ng-repeat="item in word.found_source">
      <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
    </tr>
  </tbody>
</table>
<span class="mdl-tooltip mdl-tooltip--validation" for="found_source" ng-show="form.found_source.$invalid && form.found_source.$touched">
  <span ng-show="form.found_source.$error.required">{{'Richiesto'|translate}}.</span>
</span>

</div>
</fieldset>
<fieldset>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
    <text-angular   class="textwidth100" style="width: 100% !important;" ng-model="Customer.notes"
    type="text" rows= "3" id="notes" name="notes" ></text-angular>
    <label for="notes"  class="mdl-textfield__label   " style="margin-top:-10px;color: #3f51b5;font-size: 12px;top: 4px;visibility: visible;">{{ 'Note' | translate}}</label>
    <span class="mdl-tooltip mdl-tooltip--validation" for="notes" minlength="3" ng-show="form.notes.$invalid && form.notes.$touched">
      <span ng-show="form.notes.$error.required">{{'Richiesto'|translate}}.</span>
    </div>

</fieldset>
