<div style="position:fixed;top:0px;width:100%;z-index:99999" class="dark-blue-bg">
  <div class="dark-blue-bg" style="heigt:600px;">
    <div style="padding:20px" class="add-account-container" >
      <div ng-click="clang('en');$event.preventDefault(); $event.stopPropagation();"  class="add-account">
        <img id="view_profile_image" src="img/englandflag.png">
      </div>
    </div>
    <div style="padding:20px"  class="add-account-container">
      <div  ng-click="clang('it');$event.preventDefault(); $event.stopPropagation();" class="add-account">
        <img id="view_profile_image" src="img/italyflag.png">
      </div>
    </div>
  </div>
</div>
