<div lass="dark-blue-bg" style="position:fixed;  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 23px;top:-60px;width:100%;z-index:999999">
      <div class="dark-blue-bg tax-login" style="margin-top:60px;padding:20px;color:white">
        <h3>{{'Amlapp' |translate}}</h3>
        <div class="font18">{{'Logintoyouracount'|translate}}</div>
        <div class="clr"></div>
        <form  name="form" id="form" ng-submit="loginf()" ng-controller="login" novalidate >
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
            <input class="mdl-textfield__input"  ng-required="true" autocorrect="off" autocapitalize="off"
            type="email" placeholder="{{'EmailID'|translate}}" id="username" name="username" />
              <span class="mdl-tooltip mdl-tooltip--validation" for="username" ng-show="form.username.$invalid && form.username.$touched">
              <span ng-show="form.username.$error.required">{{'Richiesto'| translate}}</span>
            </span>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
            <input class="mdl-textfield__input" ng-required="true" type="{{inputType}}" placeholder="{{'Password'|translate}}" id="password" name="password"/>
            <span class="mdl-tooltip mdl-tooltip--validation" for="password" ng-show="form.password.$invalid && form.password.$touched">
              <span ng-show="form.password.$error.required">{{'Richiesto'| translate}}</span>
            </span>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
          <input type="checkbox" ng-click="hideShowPassword()" ng-checked="false"> Show Password
          </div>
          <div style="display:inline-block" class="tax-login-button">

            <button ng-disabled="form.$invalid" type="submit" id="submitbtn"  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary orange-btn" href="javascript:void(0)">
              {{'Login'|translate}}
              <span class="mdl-button__ripple-container"><span style="width: 270.147px; height: 270.147px; transform: translate(-50%, -50%) translate(29px, 22px);" class="mdl-ripple is-animating"></span></span></button>
            </div>
            <div class="forgot-pwd">
              <center><a class=""  href="javascript:;" ui-sref="forgot">{{'Forgotpassword' |translate}}</a></center>
            </div>

          </form>
        </div>
        <div  style="padding:20px" class="center-align signup-container">
          <h6>{{'Notmemberyet' |translate}}</h6>
          <div>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary blue-btn" ng-click="signUp()">{{'Signup'| translate}}</button>
          </div>
        </div>
</div>
