
      <div class="dark-blue-bg tax-login" style="margin-top:-20px;padding:20px;color:white">
        <h3>{{'Amlapp' |translate}}</h3>
        <div class="font18">{{'Logintoyouracount'|translate}}</div>
        <div class="clr"></div>
        <form action="#">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
            <input class="mdl-textfield__input"  autocorrect="off" autocapitalize="off" type="text" placeholder="{{'EmailID'|translate}}" id="username" />

          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
            <input class="mdl-textfield__input" type="password" placeholder="{{'Password'|translate}}" id="password" />

          </div>
          <div style="display:inline-block" class="tax-login-button">

            <a data-upgraded=",MaterialButton,MaterialRipple" id="submitbtn" ng-Click="loginf()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary orange-btn" href="javascript:void(0)">
              {{'Login'|translate}}
              <span class="mdl-button__ripple-container"><span style="width: 270.147px; height: 270.147px; transform: translate(-50%, -50%) translate(29px, 22px);" class="mdl-ripple is-animating"></span></span></a>
            </div>
            <div class="forgot-pwd">
              <a class=""  href="javascript:;" ui-sref="forgot">{{'Forgotpassword' |translate}}</a>
            </div>

          </form>
        </div>
      </div>

      <div class="center-align signup-container">
        <h6>{{'Notmemberyet' |translate}}</h6>
        <div>
          <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary blue-btn" href="#">{{'Signup'| translate}}</a>
        </div>
      </div>
