<!-- cards grid -->
<div id="no_customer" ng-hide="Customers_inf.Customers.length != 0 " class="ng-hide"  >
  <div  class="mdl-cell mdl-cell--12-col">
    <div class="mdl-card amazing mdl-shadow--2dp">
      <div  style="padding:4px" class="mdl-card__supporting-text mdl-color-text--grey-600">
        <div class="mdl-grid">
          <div class="mdl-cell">
            <span style="cursor:pointer;" >
              <strong class="blue first_letter_cap">Nessun cliente inserito ancora</strong>
            </span><br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div  infinite-scroll='Customers_inf.nextPage(true)' infinite-scroll-disabled='Customers_inf.busy' infinite-scroll-distance='0'
infinite-scroll-parent="true" infinite-scroll-immediate-check='true'  infinite-scroll-container="'.add-customer-data'"
ng-hide="Customers_inf.Customers.length == 0 " class="ng-hide"  class="mdl-grid hidden" >

<div id="list_customer"  ng-repeat="Customer in Customers_inf.Customers | filter:searchText "
ng-init="CustomerIndex=$index">

<div class="mdl-cell mdl-cell--12-col">
  <div class="mdl-card amazing mdl-shadow--2dp">
    <div  style="padding:4px" class="mdl-card__supporting-text mdl-color-text--grey-600">
      <div   ng-click="tocustomer(Customer)" style="cursor:pointer;"  class="minilogo customer-listing1"  back-img="{{imageurl(Customer)}}">
      </div>
      <div class="card-author">


      </div>
      <div   ng-click="tocustomer(Customer)" class="mdl-grid">
        <div class="mdl-cell">
          <span style="cursor:pointer;" >
            <strong class="blue first_letter_cap">{{Customer.fullname}}</strong>
          </span><br/>
          <span style="cursor:pointer;" >
            <span class="orange first_letter_cap">{{decode_priv(Customer.priviledge)}}</span>
          </span><br/>
          <span class="green" style=" cursor:pointer;"  >
            {{Customer.mobile_number}}
          </span><br/>
          <span class="green" style=" cursor:pointer;"  class="long-email">
            {{Customer.email}}
          </span>
        </div>
      </div>
      <div class="mdl-card__actions mdl-card--border " style="font-size:12px">


        <div class="mdl-cell--12-col">
          <button  name="deleteOwn" class="right mdl-button mdl-button--icon mdl-button--colored" ng-click="deleteCustomer(Customer,CustomerIndex)" >
            <i class="material-icons">delete</i>
          </button>
          <span class="mdl-tooltip mdl-tooltip--validation" for="deleteDoc" >
            <span >{{'Cancella'|translate}}.</span>
          </span>
          <button  name="document" class="right mdl-button mdl-button--icon mdl-button--colored" ng-click="toDocs(Customer)" >
            <i class="material-icons">attachment</i>
          </button>
          <span class="mdl-tooltip mdl-tooltip--validation" for="document" >
            <span >{{'Documenti Cliente'|translate}}.</span>
          </span>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
</div>
<center  ng-hide="Customers_inf.loaded<5">
  <a  ng-click="'Customers_inf.nextPage(true)''"  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">
    Altri>>
  </a>
</center>
</div>
