<div id="no_company" ng-hide="Companies_inf.Companies.length != 0 "   >
  <div  class="mdl-cell mdl-cell--12-col">
    <div class="mdl-card amazing mdl-shadow--2dp">
      <div  style="padding:4px" class="mdl-card__supporting-text mdl-color-text--grey-600">
        <div class="mdl-grid">
          <div class="mdl-cell">
            <span style="cursor:pointer;" >
              <strong class="blue first_letter_cap">Nessuna società inserita ancora</strong>
            </span>
            <br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div infinite-scroll='Companies_inf.nextPage()' infinite-scroll-disabled='Companies_inf.busy' infinite-scroll-distance='0'
infinite-scroll-parent="true" infinite-scroll-immediate-check='true'  infinite-scroll-container="'.add-customer-data'">
<div ng-hide="Companies_inf.Companies.length == 0 " class="ng-hide"  class="mdl-grid hidden"  ng-repeat="Company in Companies_inf.Companies " ng-init="CompanyIndex=$index">
  <div class="mdl-cell mdl-cell--12-col">
    <div class="mdl-card amazing mdl-shadow--2dp">
      <div  style="padding:4px" class="mdl-card__supporting-text mdl-color-text--grey-600">
        <div style="cursor:pointer;"  class="minilogo customer-listing1" back-img="{{imageurl(Company.image)}}"></div>
        <div class="card-author">
        </div>
        <div class="mdl-grid">
          <div class="mdl-cell--12-col"  ng-click="tocompany(Company)">
            <span style="cursor:pointer;" >
              <strong class="blue first_letter_cap">{{Company.name}}</strong>
            </span><br/>
            <span style="cursor:pointer;" >
              <strong class="azure first_letter_cap">{{Company.fiscal_id}}</strong>
            </span><br/>
            <span class="green" style=" cursor:pointer;"  >
              {{Company.address}}
            </span><br/>
            <span class="green" style=" cursor:pointer;"  class="long-email">
              {{Company.fiscal_id}}
            </span>
          </div>
        </div>
        <div class="mdl-card__actions mdl-card--border " style="font-size:12px">
          <div class="mdl-cell--12-col">
            <button  tooltip id="{{'deleteCompany'+CompanyIndex}}" name="deleteCompany" class="right mdl-button mdl-button--icon mdl-button--colored" ng-click="deleteCompany(Company,CompanyIndex)" >
              <i class="material-icons">delete</i>
            </button>
            <span class="mdl-tooltip mdl-tooltip--validation" for="{{'deleteCompany'+CompanyIndex}}" >
              <span >{{'Cancella'|translate}}.</span>
            </span>
            <button tooltip  id="{{'document'+CompanyIndex}}" name="document" class="right mdl-button mdl-button--icon mdl-button--colored" ng-click="toDocs(Company)" >
              <i class="material-icons">attachment</i>
            </button>
            <span class="mdl-tooltip mdl-tooltip--validation" for="{{'document'+CompanyIndex}}" >
              <span >{{'Documenti Cliente'|translate}}.</span>
            </span>
            <button tooltip  name="{{'owner'+CompanyIndex}}" id="{{'owner'+CompanyIndex}}" class="right mdl-button mdl-button--icon mdl-button--colored"
                ng-click="toowners(Company)" >
              <i class="material-icons">accessibility</i>
            </button>
            <span class="mdl-tooltip mdl-tooltip--validation" for="{{'owner'+CompanyIndex}}" >
              <span >{{'titolari effettifi  '|translate}}.</span>
            </span>
            <button tooltip name="{{'role'+CompanyIndex}}" id="{{'role'+CompanyIndex}}" ng-click="toRole(Company,CompanyIndex)" class="right mdl-button mdl-button--icon  mdl-button--colored green">
              <i class="material-icons">perm_identity</i>
            </button>
            <span class="mdl-tooltip mdl-tooltip--validation" for="{{'role'+CompanyIndex}}" >
              <span >{{'Censisci Deleghe sociali'|translate}}.</span>
            </span>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
</div>
<center ng-hide="Companies_inf.loaded < 5">
  <a  ng-click="Contracts_inf.nextPage()"  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">
    Altri>>
  </a>
</center>
