<!-- cards grid -->
<div  infinite-scroll='Contracts_inf.nextPage()' infinite-scroll-disabled='Contracts_inf.busy' infinite-scroll-distance='0'
infinite-scroll-parent="true" infinite-scroll-immediate-check='true'  infinite-scroll-container="'.add-customer-data'" ng-cloack>
<div id="list_contract"   ng-repeat="Contract in Contracts_inf.Contracts |filterMultiple: {fullname:searchText,contractor_name:searchText,email:searchText,CPU:searchText,number:searchText} " ng-show="Contracts_inf.Contracts.length>0"
  ng-init="ContractIndex=$index">

  <div  class="mdl-cell mdl-cell--12-col">
    <div class="mdl-card amazing mdl-shadow--2dp">
      <div  style="padding:4px" class="mdl-card__supporting-text mdl-color-text--grey-600">
        <div style="cursor:pointer;"  class="minilogo customer-listing1" back-img="{{imageurl(Contract)}}"></div>
        <div   ng-click="tocontract(Contract)" class="card-author">


        </div>
        <div   class="mdl-grid">
          <div class="gridAx">
            <div class="gridAx-item70" ng-click="tocontract(Contract)">
            <span ng-hide="agent.user_type==3" style="cursor:pointer;" >
              <strong class="blue first_letter_cap">{{Contract.Owner}}</strong>
            </span>
            <span ng-hide="agent.user_type!=3" style="cursor:pointer;" >
              Contraente:
              <strong class="blue first_letter_cap">{{Contract.agency_name}}</strong>
              <br ng-show="Contract.act_for_other>0"/>
              delega per:
              <span style="cursor:pointer;" class="orange first_letter_cap" >
                <strong ng-show="Contract.act_for_other==2">{{Contract.other_name}}</strong>
                <strong ng-show="Contract.act_for_other==1">{{Contract.name}}</strong>
              </span>
            </span>
            <br/>
            <span style="cursor:pointer;" >
              {{Contract.CPU}} - {{Contract.number}}
            </span><br/>
            <span ng-show="Contract.act_for_other>0 && agent.user_type!=3" style="cursor:pointer;"  >
              {{'firmatario' | translate}}: <strong class="orange first_letter_cap">{{Contract.contractor_name}}</strong>
            </span>
            <!--
            <br ng-show="Contract.act_for_other>0 && agent.user_type!=3 "/>
            <span ng-show="Contract.act_for_other>0 && agent.user_type!=3" style="cursor:pointer;" class="orange first_letter_cap" >
              delega per:<strong ng-show="Contract.act_for_other==2">{{Contract.other_name}}</strong>
              <strong ng-show="Contract.act_for_other==1">{{Contract.name}}</strong>
            </span>
            <br ng-show="Contract.act_for_other>0"/>
            -->

            <span style="cursor:pointer;" class="orange first_letter_cap" >
              <strong>{{Contract.nature_contract}}</strong>
            </span><br>
            <span class="green" style=" cursor:pointer;"  class="long-email">
              {{Contract.email}}
            </span>

          </div>
          <div  class="margin-left-auto">

            <button ng-show="agent.user_type==3 && !(Contract.share>0)"  id="{{ 'share' + ContractIndex }}"  name="{{ 'share' + ContractIndex }}" tooltip
              class="right mdl-button mdl-js-button mdl-button--fab tooltip  mdl-button--mini-fab mdl-button--colored blue-btn" ng-click="share(Contract,ContractIndex)" >
              <i class="material-icons">share</i>
            </button>
            <span ng-show="agent.user_type==3 && !(Contract.share>0) " class="toright1   mdl-tooltip mdl-tooltip--large"  for="{{ 'share' + ContractIndex }}" >
              <span >{{'Condividi i Dati'|translate}}.</span>
            </span>
            <button ng-show="agent.user_type==3 && (Contract.share>0)"  id="{{ 'remshare' + ContractIndex }}"  name="{{ 'remshare' + ContractIndex }}" tooltip
              class="right mdl-button mdl-js-button mdl-button--fab    mdl-button--mini-fab mdl-button--colored red-btn" ng-click="removeShare(Contract,ContractIndex)" >
              <i class="material-icons">delete</i>
            </button>
            <span ng-show="agent.user_type==3 && (Contract.share>0)" class="toright1 mdl-tooltip mdl-tooltip--large"  for="{{ 'remshare' + ContractIndex }}" >
              <span >{{'Rimuovi Condivizione Dati'|translate}}.</span>
            </span>
          </div>
        </div>
        </div>
        <div class="mdl-card__actions mdl-card--border " style="font-size:12px">
          <div class="mdl-cell">
            <span class="orange">Adeguata Verifica </span><br/>
            <span ng-show="Contract.kyc_status==1">Approved<span class="green-checkbox"><img src="img/green-check.png"></span></span>
            <span ng-show="Contract.kyc_status==0">In Process</span>
          </div>
          <div class="mdl-cell">
            <div ng-hide="agent.user_type==3 ">
            &nbsp;
            <span class="blue">Risk Analysis </span><br/>
            <span ng-show="Contract.status ==1">Approved<span class="green-checkbox"><img src="img/green-check.png"></span></span>
            <span ng-show="Contract.status ==0">In Process</span>
            <span ng-show="Contract.status ==1" ng-class="Contract.risk_defined">{{Contract.risk_defined}}</span>
          </div>
          </div>
          <div class="mdl-cell">


            <button tooltip ng-hide="agent.user_type==3"  id="{{ 'delete' + ContractIndex }}" name="delete" class="right mdl-button mdl-button--icon mdl-button--colored" ng-click="deleteContract(Contract,ContractIndex)" >
              <i class="material-icons">delete</i>
            </button>
            <span ng-hide="agent.user_type==3" class="toright1 mdl-tooltip mdl-tooltip--validation" for="{{ 'delete' + ContractIndex }}" >
              <span >{{'Cancella Contratto'|translate}}.</span>
            </span>
            <button  tooltip id="{{ 'documents' + ContractIndex }}" name="documents" class="right mdl-button mdl-button--icon mdl-button--colored" ng-click="toDocs(Contract)" >
              <i class="material-icons">attachment</i>
            </button>
            <span class=" mdl-tooltip mdl-tooltip--validation" for="{{ 'documents' + ContractIndex }}" >
              <span >{{'Documenti Contratto'|translate}}.</span>
            </span>
            <button tooltip ng-show="Contract.kyc_status==1"   id="{{ 'print_kyc' + ContractIndex }}"  ng-click="print_kyc(Contract,ContractIndex)" class="right  mdl-button  mdl-button--fab mdl-button--icon mdl-button--colored orange-btn">
              <i class="material-icons">printer</i>
            </button>
            <span  class=" mdl-tooltip mdl-tooltip--validation" for="{{ 'print_kyc' + ContractIndex }}" >
              <span >{{'Stampa Adeguata verifica Kyc'|translate}}.</span>
            </span>
            <button tooltip ng-show="Contract.status==1"   id="{{ 'print_risk' + ContractIndex }}"  ng-click="print_risk(Contract,ContractIndex)" class="right  mdl-button  mdl-button--fab mdl-button--icon mdl-button--colored  blue-btn">
              <i class="material-icons">printer</i>
            </button>
            <span  class=" mdl-tooltip mdl-tooltip--validation" for="{{ 'print_risk' + ContractIndex }}" >
              <span >{{'Stampa Risk'|translate}}.</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<center ng-Show="Contracts_inf.loaded >= 5 " ng-cloack>
  <br/>
  <a  ng-click="Contracts_inf.nextPage()"  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">
    {{'Altri' | translate }}
  </a>
  <br/>
</center>

<div id="no_contract"  ng-show="Contracts_inf.Contracts.length==0" >
  <div  class="mdl-cell mdl-cell--12-col">
    <div class="mdl-card amazing mdl-shadow--2dp">
      <div  style="padding:4px" class="mdl-card__supporting-text mdl-color-text--grey-600">
        <div class="mdl-grid">
          <div class="mdl-cell">
            <span style="cursor:pointer;" >
              <strong class="blue first_letter_cap">{{'Nessun Contratto inserito ancora'| translate}}</strong>
            </span><br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
