          <center style="maginn-top:16px;">
            <h5 class="orange" >{{DocFor}}</h5>
          </center>
          <div  infinite-scroll="Docs_inf.nextPage('Doc')" infinite-scroll-disabled='Docs_inf.busy' infinite-scroll-distance='0'
           infinite-scroll-parent="true" infinite-scroll-immediate-check='true'  infinite-scroll-container="'.add-customer-data'"
           ng-hide="Docs_inf.Customers.length == 0 " class="ng-hide"  class="mdl-grid hidden" >
          <div id="list_doc" class="mdl-grid"  ng-hide="Docs_inf.Docs.length == 0 " class="ng-hide" ng-repeat="Doc in Docs_inf.Docs |   filter : searchDoc "
          ng-init="DocIndex=$index">

            <div ng-hide="Doc.deleted" class="mdl-cell mdl-cell--12-col">

              <div class="demo-card-image mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand">{{Doc.doc_name}}</div>
                <img ng-click="edit_doc(Doc,DocIndex)" ng-show="Doc.doc_image.length>0" ng-src ="{{Doc.doc_image.length>0 ? Doc.IMAGEURI+ Doc.doc_image :'' }}" ></img>

                <div class="mdl-card__actions">
                  <div class="mdl-layout-spacer"></div>
                  <button id="addCamera"class="mdl-button mdl-button--icon mdl-button--colored" ng-click="add_photo(Doc)" ><i class="material-icons">add_a_photo</i></button>
                  <span class="mdl-tooltip mdl-tooltip--validation" for="addCamera" >
                    <span >{{'Scatta una foto'|translate}}.</span>
                  </span>
                  <button id="addGallery" class="mdl-button mdl-button--icon mdl-button--colored" ng-click="uploadfromgallery(Doc)" ><i class="material-icons">insert_photo</i></button>
                  <span class="mdl-tooltip mdl-tooltip--validation" for="addGallery" >
                    <span >{{'Scegli da Galleria'|translate}}.</span>
                  </span>
                  <button id="deleteDoc" class="mdl-button mdl-button--icon mdl-button--colored" ng-click="deleteDoc(Doc,DocIndex)" ><i class="material-icons">delete</i></button>
                  <span class="mdl-tooltip mdl-tooltip--validation" for="deleteDoc(Doc)" >
                    <span >{{'Cancella'|translate}}.</span>
                  </span>
                </div>
                <div class="mdl-card__actions" style="background-color:white" ng-click="edit_doc(Doc,DocIndex)">

                  {{Doc.doc_type}}<div class="mdl-layout-spacer"></div>
                  {{Doc.doc_date |  date : 'shortDate'}}<br/>
                </div>

              </div>
            </div>

            <br/>
            <center ng-hide="Docs_inf.loaded < 5">
              <a  ng-click="Doc_inf.nextPage('Doc')"  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">
                Altri>>
              </a>
            </center>
          </div>

          <div id="no_contract" ng-show="Docs_inf.Docs.length == 0 "  >
            <div  class="mdl-cell mdl-cell--12-col">
              <div class="mdl-card amazing mdl-shadow--2dp">
                <div  style="padding:4px" class="mdl-card__supporting-text mdl-color-text--grey-600">
                  <div class="mdl-grid">
                    <div class="mdl-cell">
                      <span style="cursor:pointer;" >
                        <strong class="blue first_letter_cap">Nessun Documento inserito ancora</strong>
                      </span><br/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
