<center style="maginn-top:16px;">
  <h5 class="orange" >{{DocFor}}</h5>
</center>
<div >
  <div  class="mdl-grid"  infinite-scroll="Docs_inf.nextPage('Doc')" infinite-scroll-disabled='Docs_inf.busy' infinite-scroll-distance='0'
  infinite-scroll-parent="true" infinite-scroll-immediate-check='true'  infinite-scroll-container="'.add-customer-data'"
   ng-hide="Docs_inf.Customers.length == 0 "    >

    <div ng-class="{'mdl-cell--3-col-desktop mdl-cell-12-col-phone mdl-cell-6-col-tablet': main.web }"   id="list_doc"
    ng-hide="Docs_inf.Docs.length == 0 " class="ng-hide" ng-repeat="Doc in Docs_inf.Docs |   filter : searchDoc "   ng-init="DocIndex=$index">

      <div ng-hide="Doc.deleted" style="padding-left:10px" >

        <div class="demo-card-image mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title mdl-card--expand">{{Doc.doc_name}}</div>
          <div class="mdl-image center-cropped">
          <img class="loadImg" ng-click="edit_doc(Doc,DocIndex)" ng-show="Doc.isImage && Doc.doc_image.length>0" ng-src ="{{imageurl(Doc)}}" ></img>
          <center>  <img style="display:none;height:50px;width:50px;margin-top:20px;" id="loader_img_int" src="ui-amlapp/img/loader2.gif"  /> </center>
          <img ng-click=download(Doc) class="toload" ng-show="! Doc.isImage && Doc.doc_image.length>0" ng-src ="{{'/ui-amlapp/img/'+ Doc.file_type.substr(1)+'.png' }}" ></img>
          </div>
          <div class="mdl-card__actions">

            <div class="mdl-layout-spacer"></div>
            <button tooltip ng-hide="Doc.isImage" id="{{'download'+DocIndex}}"class="mdl-button mdl-button--icon mdl-button--colored" ng-click="download(Doc)" >
              <i class="material-icons">file_download</i>
            </button>
            <span class="mdl-tooltip mdl-tooltip--validation" for="{{'download'+DocIndex}}" >
              <span >{{'download file'|translate}}.</span>
            </span>
             <button tooltip id="{{'addCamera'+DocIndex}}"class="mdl-button mdl-button--icon mdl-button--colored" ng-click="edit_doc(Doc,DocIndex)" >
              <i class="material-icons">mode_edit</i>
            </button>
            <span class="mdl-tooltip mdl-tooltip--validation" for="{{'addCamera'+DocIndex}}" >
              <span >{{'Scatta una foto'|translate}}.</span>
            </span>
            <button tooltip id="{{'deleteDoc'+DocIndex}}" class="mdl-button mdl-button--icon mdl-button--colored" ng-click="deleteDoc(Doc,DocIndex)" ><i class="material-icons">delete</i></button>
            <span class="mdl-tooltip mdl-tooltip--validation" for="{{'deleteDoc'+DocIndex}}" >
              <span >{{'Cancella'|translate}}.</span>
            </span>
          </div>
          <div class="mdl-card__actions" style="background-color:white" ng-click="edit_doc(Doc,DocIndex)">

            {{Doc.doc_type}}<div class="mdl-layout-spacer"></div>
            {{Doc.doc_date |  date : 'shortDate'}}<br/>
          </div>

        </div>
      </div>

      <br/>
      <center ng-hide="Docs_inf.loaded < 5">
        <a  ng-click="Doc_inf.nextPage('Doc')"  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">
          Altri>>
        </a>
      </center>
    </div>

    <div id="no_contract" ng-show="Docs_inf.Docs.length == 0 "  >
      <div  class="mdl-cell mdl-cell--12-col">
        <div class="mdl-card amazing mdl-shadow--2dp">
          <div  style="padding:4px" class="mdl-card__supporting-text mdl-color-text--grey-600">
            <div class="mdl-grid">
              <div class="mdl-cell">
                <span style="cursor:pointer;" >
                  <strong class="blue first_letter_cap">Nessun Documento inserito ancora</strong>
                </span><br/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
