<center class="orange">  <h4>{{tipo_ruolo |translate  }} </h4></center>
<div  infinite-scroll="Owners_inf.nextPage('Owners')" infinite-scroll-disabled='Owners_inf.busy' infinite-scroll-distance='0'
 infinite-scroll-parent="true" infinite-scroll-immediate-check='true'  infinite-scroll-container="'.add-customer-data'"
 ng-hide="Owners_inf.Ob.length == 0 " class="ng-hide"  class="mdl-grid hidden" >

<div id="list_owner"   ng-repeat="Owner in Owners_inf.Ob "
 ng-init="index=$index">
<div class="mdl-cell mdl-cell--12-col">
  <div class="mdl-card amazing mdl-shadow--2dp">
    <div  ng-click="edit_owner(Owner,ownerIndex)" style="padding:4px" class="mdl-card__supporting-text mdl-color-text--grey-600">
      <div style="cursor:pointer;"  class="minilogo customer-listing1" back-img="{{imageurl(Owner)}}"></div>
      <div class="card-author">


      </div>
      <div ng-click="edit_owner(Owner)" class="mdl-grid">
        <div class="mdl-cell--12-col"  ng-click="edit_owner(Owner,ownerIndex)">
          <span style="cursor:pointer;" >
            <strong class="blue first_letter_cap">{{Owner.fullname}}</strong>
            <br/>
          </span>
          <span ng-show="state=='role_list'" class="green" style=" cursor:pointer;"  >
            {{ Owner.ruolo   }}
          <br/>
          </span>

          <span ng-show="state=='owners_list'" class="green" style=" cursor:pointer;"  >
            {{ Owner.percentuale | currency : '%' }}
            <br/>
          </span>
          <span class="gray" style=" cursor:pointer;"  >
            {{Owner.email}}
          </span><br/>
          {{'Fiscalid' |translate}} &nbsp;
          <span class="azure" style=" cursor:pointer;"  class="long-email">
            {{Owner.fiscal_number}}
          </span>
        </div>
      </div>
    </div>
    <div class="mdl-card__actions mdl-card--border " style="font-size:12px">
      <div class="mdl-layout-spacer"></div>

      <button  name="deleteOwn" class="mdl-button mdl-button--icon mdl-button--colored" ng-click="deleteOwn(Owner,index)" >
        <i class="material-icons">delete</i>
      </button>
      <span class="mdl-tooltip mdl-tooltip--validation" for="deleteDoc" >
        <span >{{'Cancella'|translate}}.</span>
      </span>
    </div>
  </div>

</div>
</div>
</div>
<div id="no_Owner" ng-hide="Owners_inf.Ob.length != 0 " class="ng-hide"  >
  <div  class="mdl-cell mdl-cell--12-col">
    <div class="mdl-card amazing mdl-shadow--2dp">
      <div  style="padding:4px" class="mdl-card__supporting-text mdl-color-text--grey-600">
        <div class="mdl-grid">
          <div class="mdl-cell-12-col">
            <span style="cursor:pointer;" >
              <strong class="blue first_letter_cap">Nessun Titolare Effettivo per {{Company.name}} ancora inserito</strong>
            </span><br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<br/>
<center ng-Show="Owners_inf.loaded >= 5 ">
  <a  ng-click="Owners_inf.nextPage('Owners')"  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">
    {{'Altri' | translate }}
  </a>
</center>
