<fieldset>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" autocomplete="off" id="Customer_name" name="Customer_name"  pattern="[A-Za-z\s]*"
    ng-model="Customer.name"  ng-change="Customer.name=(Customer.name| capitalize)" minlength="3" ng-required="true "
    />
    <label class="mdl-textfield__label" for="Customer_name">{{'Name'|translate}} *</label>
    <span class="mdl-tooltip mdl-tooltip--validation" for="Customer_name" ng-show="form.Customer_name.$invalid && form.Customer_name.$touched">
      <span ng-show="form.Customer_name.$error.required">{{'Richiesto'| translate}}</span>
    </span>
  </div>
</fieldset>
<fieldset>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" autocomplete="off" id="Customer_surname" name="Customer_surname"value=" "  pattern="[A-Za-z\s]*"
    ng-model="Customer.surname"  ng-change="Customer.surname=(Customer.surname| capitalize)" minlength="3"
    ng-required="true " />
    <label class="mdl-textfield__label" for=""Customer_surname"">{{'Surname'|translate}} *</label>
    <span class="mdl-tooltip mdl-tooltip--validation" for="Custome_surname" ng-show="form.Customer_surname.$invalid && form.Customer_surname.$touched">
      <span ng-show="form.Customer_surname.$error.required">{{'Richiesto'| translate}}</span>
    </span>
  </div>
</fieldset>
<fieldset ng-show="page.owners && page.type=='companyTE'" id="perc" >
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">

    <input ng-currency currency-symbol="%" min=0 max=100 class="mdl-textfield__input" autocomplete="off"
    ng-model="Owner.percentuale"  type="text" ng-required="page.owners"
    id="Percentuale" name="Percentuale" />
    <label  for="Percentuale" class="mdl-textfield__label">{{'Percentuale di possesso della società' | translate}} </label>
    <span class="mdl-tooltip mdl-tooltip--validation" for="Percentuale"  ng-show="form.Percentuale.$invalid && form.Percentuale.$touched">
      <span ng-show="form.Percentuale.$error.required">{{'Richiesto'| translate}}.</span>

    </div>
</fieldset>
<fieldset>
<div ng-show="page.owners &&  page.type=='otherPersonTE' " class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">

  <input  class="mdl-textfield__input"  ng-model="Owner.percentuale"  type="text" ng-required="page.owners"
  id="tipote" name="tipote" />
  <label  for="tipote" class="mdl-textfield__label">{{'Tipo Titolare Effettivo' | translate}} </label>
  <span class="mdl-tooltip mdl-tooltip--validation" for="tipote"  ng-show="form.Percentuale.$invalid && form.Percentuale.$touched">
    <span ng-show="form.Percentuale.$error.required">{{'Richiesto'| translate}}.</span>

</div>
</fieldset>

<fieldset>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="email" id="Customer_email" name="Customer_email" value=" "
    ng-model="Customer.email" ng-change="Customer.email=(Customer.email| capitalize)" ng-required="!page.owners" />
    <label class="mdl-textfield__label" for="email">{{'EmailID' | translate}}*</label>
    <span class="mdl-tooltip mdl-tooltip--validation" for="Customer_email" ng-show="form.Customer_email.$invalid && form.Customer_email.$touched">
      <span ng-show="form.Customer_email.$error.required">{{'Richiesta.'| translate}}</span>
      <span ng-show="form.Customer_email.$error.pattern">{{'mail non valida.'| translate}}</span>
    </span>
  </div>
</fieldset>

<fieldset>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" autocomplete="off" id="Customer_mobile"  name="Customer_mobile" value=" "
    ng-model="Customer.mobile"  />
    <label class="mdl-textfield__label" for="mobile">{{'Mobile' | translate}}*</label>
    <span class="mdl-tooltip mdl-tooltip--validation" for="Customer_mobile" ng-show="form.Customer_mobile.$invalid && form.Customer_mobile.$touched">
      <span ng-show="form.Customer_mobile.$error.required">Required.</span>
      <span ng-show="form.Customer_mobile.$error.pattern">{{' numero telefono non valido.'| translate}}</span>
    </span>
  </div>
</fieldset>
<!-- image profile -->
<br/>
<center ng-hide="page.other_data">
  <button  id="otherdown" ng-click="other()" class=" mdl-button mdl-js-button mdl-button--fab mdl-button--colored blue-btn">
    <i class="material-icons" >arrow_drop_down</i>
  </button>
  <span class="mdl-tooltip mdl-tooltip--validation" for="otherdown" >
    <span >{{'Tutti i Dati'|translate}}.</span>
  </span>
</center>
<center ng-show="page.other_data">
  <button  id="otherup" ng-click="other()" class=" mdl-button mdl-js-button mdl-button--fab mdl-button--colored blue-btn">
    <i class="material-icons" >arrow_drop_up</i>
  </button>
  <span class="mdl-tooltip mdl-tooltip--validation" for="otherup" >
    <span >{{'Tutti i Dati'|translate}}.</span>
  </span>
</center>
<br/>

<div ng-show="page.other_data">
  <br/>
<!--- -->
  <fieldset>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="date" date-input id="Kyc_dob" name="Kyc_dob"
      ng-model="Customer.dob"   ng-required="page.other_data"
      />
      <label class="mdl-textfield__label" for="Kyc_dob">{{'Dob'|translate}} *</label>
      <span class="mdl-tooltip mdl-tooltip--validation" for="Kyc_dob" ng-show="form.Kyc_dob.$invalid && form.Kyc_dob.$touched">
        <span ng-show="form.Kyc_dob.$error.required">{{'Richiesto'| translate}}</span>
      </span>
    </div>
  </fieldset>
  <fieldset>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" autocomplete="off" id="tob" name="tob"  pattern="[A-Za-z\s]*"
      ng-model="Customer.birth_town"  ng-change="Customer.birth_town=(Customer.birth_town| capitalize)"
      minlength="3" ng-required="page.other_data"
      ng-keyup="showAC('users.birth_town','tob',{zero:true});"
      ng-focus="showAC('users.birth_town','tob',{zero:true});resetAC()"
      />
      <label class="mdl-textfield__label" for="tob">{{'Città di Nascita'|translate}} *</label>
      <table class="mdl-data-table mdl-js-data-table  border-none scrolly " tabindex="30" autocomplete="tob">
        <tbody style="display:table">
          <tr tabindex="30"
          ng-click="addWord('users.birth_town',item.word,{id:'tob'})"
          my-Enter="addWord('users.birth_town',item.word,{id:'tob'})"
          ng-repeat="item in word.birth_town">
            <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
          </tr>
        </tbody>
      </table>
      <span class="mdl-tooltip mdl-tooltip--validation" for="tob" ng-show="form.tob.$invalid && form.tob.$touched">
        <span ng-show="form.tob.$error.required">{{'Richiesto'| translate}}</span>
      </span>
    </div>
  </fieldset>
  <fieldset>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" autocomplete="off" id="birth_country" name="birth_country" minlength="3"  value=" "
    ng-model="Customer.birth_country"   minlength="3"  ng-required="page.other_data"
    ng-keyup="showAC('users.birth_country','birth_country',{countries:true,zero:true});"
    ng-focus="showAC('users.birth_country','birth_country',{countries:true,zero:true});resetAC()"
    />
    <label class="mdl-textfield__label" for="birth_country">{{'Paese di Nascita'|translate}} *</label>
    <table class="mdl-data-table mdl-js-data-table  border-none  scrolly" tabindex="30" autocomplete="birth_country">
      <tbody style="display:table">
        <tr tabindex="30"
        ng-click="addWord('Customer.birth_country',item.word,{countries:true,id:'birth_country'})"
        my-Enter="addWord('Customer.birth_country',item.word,{countries:true,id:'birth_country'})"
        ng-repeat="item in word.birth_country">
          <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
        </tr>
      </tbody>
    </table>

    <span class="mdl-tooltip mdl-tooltip--validation" for="birth_country" ng-show="form.birth_country.$invalid && form.birth_country.$touched">
      <span ng-show="form.birth_country.$error.required">{{'Richiesto'| translate}}</span>
    </span>
  </div>
</fieldset>
<!--- -->
  <fieldset>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" autocomplete="off" id="id_type" name="id_type"
      ng-model="Customer.id_type"  ng-change="Kyc.contractor_data.id_type=(Kyc.contractor_data.id_type| capitalize)" minlength="3"
      ng-required="page.other_data"
      ng-keyup="showAC('users.id_type','id_type',{zero:true});"
      ng-focus="resetAC();showAC('users.id_type','id_type',{zero:true});" />
      <label class="mdl-textfield__label" for="id_type">{{'Tipo documento identità'|translate}} *</label>
      <table class="mdl-data-table mdl-js-data-table  border-none scrolly " tabindex="30" autocomplete="id_type">
        <tbody style="display:table">
          <tr tabindex="30"
          ng-click="addWord('Customer.id_type',item.word,{id:'id_type'})"
          my-Enter="addWord('Customer.id_type',item.word,{id:'id_type'})"
          ng-repeat="item in word.id_type">
            <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
          </tr>
        </tbody>
      </table>
      <span class="mdl-tooltip mdl-tooltip--validation" for="id_type" ng-show="form.id_type.$invalid && form.id_type.$touched">
        <span ng-show="form.id_type.$error.required">{{'Richiesto'| translate}}</span>
      </span>
    </div>
  </fieldset>
  <fieldset>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" autocomplete="off" id="id_authority_name" name="id_authority_name"
      ng-model="Customer.id_authority_name"  ng-change="Kyc.contractor_data.id_authority_name=(Kyc.contractor_data.id_authority_name| capitalize)"
      minlength="3" ng-required="page.other_data"
      ng-focus="resetAC();showAC('users.id_authority_name','id_authority_name',{zero:true});"
      ng-keyup="showAC('users.id_authority_name','id_authority_name',{zero:true});"  />
      <label class="mdl-textfield__label" for="id_authority_name">{{'AuthoritythatreleasedIdentityDocument'|translate}} *</label>
      <table class="mdl-data-table mdl-js-data-table  border-none scrolly " tabindex="30" autocomplete="id_authority_name">
        <tbody style="display:table">
          <tr  tabindex="30"
          ng-click="addWord('Customer.id_authority_name',item.word,{id:'id_authority_name'})"
          my-Enter="addWord('Customer.id_authority_name',item.word,{id:'id_authority_name'})"
          ng-repeat="item in word.id_authority_name">
            <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
          </tr>
        </tbody>
      </table>
      <span class="mdl-tooltip mdl-tooltip--validation" for="id_authority_name" ng-show="form.id_authority_name.$invalid && form.id_authority_name.$touched">
        <span ng-show="form.id_authority_name.$error.required">{{'Richiesto'| translate}}</span>
      </span>
    </div>
  </fieldset>
  <fieldset>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" autocomplete="off" id="Kyc_ndoc" name="Kyc_ndoc"
      ng-model="Customer.id_number"   ng-required="page.other_data "
      />
      <label class="mdl-textfield__label" for="Kyc_doi">{{'Numero del documento di identità'|translate}} *</label>
      <span class="mdl-tooltip mdl-tooltip--validation" for="Kyc_ndoc" ng-show="form.Kyc_ndoc.$invalid && form.Kyc_ndoc.$touched">
        <span ng-show="form.Kyc_ndoc.$error.required">{{'Richiesto'| translate}}</span>
      </span>
    </div>
  </fieldset>                  <fieldset>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="date" date-input id="Kyc_ddoc" name="Kyc_ddoc"
      ng-model="Customer.id_release_date"   ng-required="page.other_data "
      />
      <label class="mdl-textfield__label" for="Kyc_doi">{{'ReleaseDateofIdentityDocument'|translate}} *</label>
      <span class="mdl-tooltip mdl-tooltip--validation" for="Kyc_ddoc" ng-show="form.Kyc_ddoc.$invalid && form.Kyc_ddoc.$touched">
        <span ng-show="form.Kyc_ddoc.$error.required">{{'Richiesto'| translate}}</span>
      </span>
    </div>
  </fieldset>

  <fieldset>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="date" date-input id="Kyc_eovdoc" name="Kyc_eovdoc"
      ng-model="Customer.id_validity"   ng-required="page.other_data "
      />
      <label class="mdl-textfield__label" for="Kyc_doi">{{'Data Scandenza Documento'|translate}} *</label>
      <span class="mdl-tooltip mdl-tooltip--validation" for="Kyc_eovdoc" ng-show="form.Kyc_eovdoc.$invalid && form.Kyc_eovdoc.$touched">
        <span ng-show="form.Kyc_eovdoc.$error.required">{{'Richiesto'| translate}}</span>
      </span>
    </div>
  </fieldset>

  <fieldset>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" autocomplete="off" id="resi_country" name="resi_country" minlength="3"  value=" "
      ng-model="Customer.resi_country"   minlength="3"  ng-required="page.other_data"
      ng-keyup="showAC('users.resi_country','resi_country',{countries:true,zero:true});"
      ng-focus="showAC('users.resi_country','resi_country',{countries:true,zero:true});resetAC()"
      />
      <label class="mdl-textfield__label" for="resi_country">{{'Paese di Residenza'|translate}} *</label>
      <table class="mdl-data-table mdl-js-data-table  border-none  scrolly" tabindex="30" autocomplete="resi_country">
        <tbody style="display:table">
          <tr tabindex="30"
          ng-click="addWord('Customer.resi_country',item.word,{countries:true,id:'resi_country'})"
          my-Enter="addWord('Customer.resi_country',item.word,{countries:true,id:'resi_country'})"
          ng-repeat="item in word.resi_country">
            <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
          </tr>
        </tbody>
      </table>

      <span class="mdl-tooltip mdl-tooltip--validation" for="resi_country" ng-show="form.resi_country.$invalid && form.resi_country.$touched">
        <span ng-show="form.resi_country.$error.required">{{'Richiesto'| translate}}</span>
      </span>
    </div>
</fieldset>
<fieldset>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" autocomplete="off" id="customer_address_resi" name="customer_address_resi"
    ng-model="Customer.address_resi"  ng-change="Customer.address_resi=(Customer.address_resi| capitalize)" minlength="3" ng-required="page.other_data "
    />
    <label class="mdl-textfield__label" for="customer_address_resi">{{'Addressofresidence'|translate}} *</label>
    <span class="mdl-tooltip mdl-tooltip--validation" for="customer_address_resi" ng-show="form.customer_address_resi.$invalid && form.customer_address_resi.$touched">
      <span ng-show="form.customer_address_resi.$error.required">{{'Richiesto'| translate}}</span>
    </span>
  </div>
</fieldset>
<fieldset>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" autocomplete="off" id="resi_town" name="resi_town"
    ng-model="Customer.resi_town"  ng-change="Customer.resi_town=(Customer.resi_town| capitalize)"
    minlength="3" ng-required="page.other_data "
    ng-keyup="showAC('users.resi_town','resi_town',{zero:true});"
    ng-focus="showAC('users.resi_town','resi_town',{zero:true});resetAC()"
    />
    <label class="mdl-textfield__label" for="resi_town">{{'Città di residenza'|translate}} *</label>
    <table class="mdl-data-table mdl-js-data-table  border-none scrolly " tabindex="30" autocomplete="resi_town">
      <tbody style="display:table">
        <tr tabindex="30"
        ng-click="addWord('Customer.resi_town',item.word,{id:'resi_town'})"
        my-Enter="addWord('Customer.resi_town',item.word,{id:'resi_town'})"
        ng-repeat="item in word.town_resi">
          <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
        </tr>
      </tbody>
    </table>
    <span class="mdl-tooltip mdl-tooltip--validation" for="resi_town" ng-show="form.resi_town.$invalid && form.resi_town.$touched">
      <span ng-show="form.resi_town.$error.required">{{'Richiesto'| translate}}</span>
    </span>

</fieldset>

<fieldset>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="check_residence">
      <input id="check_residence" name="check_residence" ng-true-value="1"  type="checkbox" class="mdl-checkbox__input"
      ng-model="Customer.check_residence"
      />
      <span class="mdl-checkbox__label">{{'weatherdomiciledifferentfromresedence'|translate}}</span>
    </label>

  </div>
</fieldset>
<div ng-show="Customer.check_residence==1">
  <fieldset>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" autocomplete="off" id="domi_country" name="domi_country" minlength="3"  value=" "
    ng-model="Customer.domi_country"   minlength="3"  ng-required="page.other_data"
    ng-keyup="showAC('users.domi_country','domi_country',{countries:true,zero:true});"
    ng-focus="showAC('users.domi_country','domi_country',{countries:true,zero:true});resetAC()"
    />
    <label class="mdl-textfield__label" for="domi_country">{{'Paese di Domicilio'|translate}} *</label>
    <table class="mdl-data-table mdl-js-data-table  border-none  scrolly" tabindex="30" autocomplete="domi_country">
      <tbody style="display:table">
        <tr tabindex="30"
        ng-click="addWord('Customer.domi_country',item.word,{countries:true,id:'domi_country'})"
        my-Enter="addWord('Customer.domi_country',item.word,{countries:true,id:'domi_country'})"
         ng-repeat="item in word.domi_country">
          <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
        </tr>
      </tbody>
    </table>

    <span class="mdl-tooltip mdl-tooltip--validation" for="domi_country" ng-show="form.domi_country.$invalid && form.domi_country.$touched">
      <span ng-show="form.domi_country.$error.required">{{'Richiesto'| translate}}</span>
    </span>
  </div>

</fieldset>
<fieldset>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" autocomplete="off" id="customer_address_domi" name="customer_address_domi"
    ng-model="Customer.domi_address"  ng-change="Customer.domi_address=(Customer.domi_address| capitalize)"
    minlength="3"      ng-required="{{Customer.check_residence==1}}"

    />
    <label class="mdl-textfield__label" for="customer_address_domi">{{'Indirizzo Domicilio'|translate}} *</label>
    <span class="mdl-tooltip mdl-tooltip--validation" for="customer_address_domi" ng-show="form.customer_address_domi.$invalid && form.customer_address_domi.$touched">
      <span ng-show="form.customer_address_domi.$error.required">{{'Richiesto'| translate}}</span>
    </span>
  </div>
</fieldset>
<fieldset>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" autocomplete="off" id="domi_town" name="domi_town"
    ng-model="Customer.domi_town"  ng-change="Customer.domi_town=(Customer.domi_town| capitalize)"
    minlength="3"   ng-required="{{Customer.check_residence==1}}"
    ng-keyup="showAC('users.domi_down','domi_town',{zero:true});"
    ng-focus="resetAC()"
    />
    <label class="mdl-textfield__label" for="domi_town">{{'Città di Domicilio'|translate}} *</label>
    <table class="mdl-data-table mdl-js-data-table  border-none  scrolly " tabindex="30" autocomplete="domi_town">
      <tbody style="display:table">
        <tr tabindex="30"
        ng-click="addWord('Customer.town_domi',item.word,{id:'domi_town'})"
        my-Enter="addWord('Customer.town_domi',item.word,{id:'domi_town'})"
        ng-repeat="item in word.town_domi">
          <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
        </tr>
      </tbody>
    </table>
    <span class="mdl-tooltip mdl-tooltip--validation" for="domi_town" ng-show="form.domi_town.$invalid && form.domi_town.$touched">
      <span ng-show="form.domi_town.$error.required">{{'Richiesto'| translate}}</span>
    </span>
  </div>
</fieldset>


</div>
<fieldset>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <input class="mdl-textfield__input" type="text" autocomplete="off" id="main_nationality" name="main_nationality"
  ng-model="Customer.main_nationality"  ng-change="Customer.main_nationality=(Customer.main_nationality| capitalize)"
  minlength="3"   ng-required="{{Customer.check_residence==1}}"
  ng-keyup="showAC('users.main_nationality','main_nationality',{zero:true});"
  ng-focus="showAC('users.main_nationality','main_nationality',{zero:true});resetAC()"
  />
  <label class="mdl-textfield__label" for="main_nationality">{{'MainNationality'|translate}} *</label>
  <table class="mdl-data-table mdl-js-data-table  border-none  scrolly" tabindex="30" autocomplete="main_nationality">
    <tbody style="display:table">
      <tr tabindex="30"
      ng-click="addWord('Customer.main_nationality',item.word,{id:'main_nationality'})"
      my-Enter="addWord('Customer.main_nationality',item.word,{id:'main_nationality'})"
      ng-repeat="item in word.town_domi">
        <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
      </tr>
    </tbody>
  </table>
  <span class="mdl-tooltip mdl-tooltip--validation" for="main_nationality" ng-show="form.main_nationality.$invalid && form.main_nationality.$touched">
    <span ng-show="form.main_nationality.$error.required">{{'Richiesto'| translate}}</span>
  </span>
</div>
</fieldset>

<fieldset>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" style="margin-top:5px;">

  <div class="mdl-grid">
    <div class="mdl-cell ">
      <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="PEP-1">
        <input type="radio" id="PEP-1" ng-model="Customer.check_pep" class="mdl-radio__button" name="PEP" value="1"  >
        <span class="mdl-radio__label" >{{'dichiara di essere PEP'| translate}}</span>
      </label>
    </div>

    <div class="mdl-cell">
      <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="PEP-0">
        <input type="radio" id="PEP-0" ng-model="Customer.check_pep" class="mdl-radio__button" name="PEP" value="0"  checked>
        <span class="mdl-radio__label">{{'Dichiara di Non Essere PEP '| translate}}</span>
      </label>
    </div>
  </div>
</div>
</fieldset>
<fieldset ng-show="Customer.check_pep==1">
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <input class="mdl-textfield__input" type="text" autocomplete="off" id="pep_charge" name="pep_charge"
  ng-model="Customer.pep_charge"
  minlength="3"   ng-required="Customer.check_pep==1"
  ng-keyup="showAC('users.pep_charge','pep_charge',{zero:true});"
  ng-focus="showAC('users.pep_charge','pep_charge',{zero:true});resetAC()"
  />
  <label class="mdl-textfield__label" for="pep_charge">{{'Tipo di carica ricoperta'|translate}} *</label>
  <table class="mdl-data-table mdl-js-data-table  border-none scrolly " tabindex="30" autocomplete="pep_charge">
    <tbody style="display:table">
      <tr tabindex="30"
      ng-click="addWord('Customer.pep_charge',item.word,{id:'pep_charge'})"
      my-Enter="addWord('Customer.pep_charge',item.word,{id:'pep_charge'})"
      ng-repeat="item in word.pep_charge">
        <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
      </tr>
    </tbody>
  </table>
  <span class="mdl-tooltip mdl-tooltip--validation" for="pep_charge" ng-show="form.pep_charge.$invalid && form.pep_charge.$touched">
    <span ng-show="form.pep_charge.$error.required">{{'Richiesto'| translate}}</span>
  </span>
</div>
</fieldset>

<fieldset ng-show="Customer.check_pep==1">
<!--
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" style="margin-top:5px;">

  <div class="mdl-grid">
    <div class="mdl-cell ">
      <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="PEPDOM-1">
        <input type="radio" id="PEPDOM-1" ng-model="Customer.pep_domestic" class="mdl-radio__button" name="PEPDOM" value="1" >
        <span class="mdl-radio__label" >{{'PEP Domestico'| translate}}</span>
      </label>
    </div>

    <div class="mdl-cell">
      <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="PEPDOM-0">
        <input type="radio" id="PEPDOM-0" ng-model="Customer.pep_domestic" class="mdl-radio__button" name="PEPDOM" value="0"  checked>
        <span class="mdl-radio__label">{{'PEP estero'| translate}}</span>
      </label>
    </div>
  </div>
</div>
-->
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <input class="mdl-textfield__input" type="text" autocomplete="off" id="pep_type" name="pep_type"
  ng-model="Customer.pep_type"
  minlength="3" ng-required="Customer.check_pep==1"
  ng-focus="resetAC();showAC('users.pep_type','pep_type',{zero:true});"
  ng-keyup="showAC('users.pep_type','pep_type',{zero:true});"  />
  <label class="mdl-textfield__label" for="Kyc_ard">{{'Tipologia PEP'|translate}} *</label>
  <table class="mdl-data-table mdl-js-data-table  border-none scrolly " tabindex="30" autocomplete="pep_type">
    <tbody style="display:table">
      <tr tabindex="30"
      ng-click="addWord('Customer.pep_type',item.word,{id:'pep_type'})"
      my-enter="addWord('Customer.pep_type',item.word,{id:'pep_type'})"
      ng-repeat="item in word.pep_type">
        <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
      </tr>
    </tbody>
  </table>
  <span class="mdl-tooltip mdl-tooltip--validation" for="pep_type" ng-show="form.pep_type.$invalid && form.pep_type.$touched">
    <span ng-show="form.pep_type.$error.required">{{'Richiesto'| translate}}</span>
  </span>
</div>

</fieldset>
<fieldset>
<!--

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <input class="mdl-textfield__input" type="text" autocomplete="off" id="customer_profession" name="customer_profession"
  ng-model="Customer.profession"
  minlength="3"   ng-required="page.other_data && ! page.owners"
  ng-keyup="showAC('users.profession','customer_profession');"

  ng-focus="resetAC()"
  />
  <label class="mdl-textfield__label" for="customer_profession">{{'Professione'|translate}} *</label>
  <table class="mdl-data-table mdl-js-data-table  border-none  ">
    <tbody style="display:table">
      <tr ng-click="addWord('Customer.profession',item.word)" ng-repeat="item in word.profession">
        <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
      </tr>
    </tbody>
  </table>
  <span class="mdl-tooltip mdl-tooltip--validation" for="customer_profession" ng-show="form.customer_profession.$invalid && form.customer_profession.$touched">
    <span ng-show="form.customer_profession.$error.required">{{'Richiesto'| translate}}</span>
  </span>
</div>
-->
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <input class="mdl-textfield__input" type="text" autocomplete="off" id="profession" name="profession"
  ng-model="Customer.profession"
  minlength="3"   ng-required="page.other_data && ! page.owners"
  ng-keyup="showAC('users.profession','profession', {zero:true,order:1});"
  ng-focus="resetAC();showAC('users.profession','profession', {zero:true,order:1})"
  />
  <label class="mdl-textfield__label" for="profession">{{'Professione'|translate}} *</label>
  <table class="mdl-data-table mdl-js-data-table  border-none scrolly " tabindex="30" autocomplete="profession">
    <tbody style="display:table">
      <tr tabindex="30"
      ng-click="addWord('Customer.profession',item.word,{id:'profession'})"
      my-Enter="addWord('Customer.profession',item.word,{id:'profession'})"
      ng-repeat="item in word.profession">
        <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
      </tr>
    </tbody>
  </table>
  <span class="mdl-tooltip mdl-tooltip--validation" for="profession" ng-show="form.profession.$invalid && form.profession.$touched">
    <span ng-show="form.profession.$error.required">{{'Richiesto'| translate}}</span>
  </span>
</div>
</fieldset>
<fieldset>
<!--
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
  <select ng-model="Customer.main_activity_country" class="mdl-textfield__input"
  ng-required="page.other_data && ! page.owners"
  id="customer_main_activity_country" name="customer_main_activity_country" >
  <option ng-repeat="option in countryList" value="{{option.country_id}}">{{option.country_name}}</option>

</select>
<label class="mdl-textfield__label" for="customer_main_activity_country">{{'Paese di prevalente attività economica'|translate}} *</label>
<span class="mdl-tooltip mdl-tooltip--validation" for="customer_main_activity_country" ng-show="form.customer_main_activity_country.$invalid && form.customer_main_activity_country.$touched">
  <span ng-show="form.customer_main_activity_country.$error.required">{{'Richiesto'| translate}}</span>
</span>
</div>
-->
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
<input class="mdl-textfield__input" type="text" autocomplete="off" id="main_activity_country" name="main_activity_country" minlength="3"  value=" "
ng-model="Customer.main_activity_country"   minlength="3"  ng-required="page.other_data"
ng-keyup="showAC('users.main_activity_country','main_activity_country',{countries:true,zero:true});"
ng-focus="showAC('users.main_activity_country','main_activity_country',{countries:true,zero:true});resetAC()"
/>
<label class="mdl-textfield__label" for="main_activity_country">{{'Paese di prevalente attività economica'|translate}} *</label>
<table class="mdl-data-table mdl-js-data-table  border-none  scrolly" tabindex="30" autocomplete="main_activity_country">
  <tbody style="display:table">
    <tr tabindex="30"
    ng-click="addWord('Customer.main_activity_country',item.word,{countries:true,id:'main_activity_country'})"
    my-Enter="addWord('Customer.main_activity_country',item.word,{countries:true,id:'main_activity_country'})"
    ng-repeat="item in word.main_activity_country">
      <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
    </tr>
  </tbody>
</table>

<span class="mdl-tooltip mdl-tooltip--validation" for="main_activity_country" ng-show="form.main_activity_country.$invalid && form.main_activity_country.$touched">
  <span ng-show="form.main_activity_country.$error.required">{{'Richiesto'| translate}}</span>
</span>
</div>

</fieldset>
<fieldset>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <input class="mdl-textfield__input" type="text" autocomplete="off" id="customer_fiscal_number" name="customer_fiscal_number"
  ng-model="Customer.fiscal_number"
  minlength="3"   ng-required="page.other_data && ! page.owners"

  ng-focus="resetAC()"
  />
  <label class="mdl-textfield__label" for="customer_fiscal_number">{{'Codice ISS/Codice Fiscale'|translate}} *</label>
  <span class="mdl-tooltip mdl-tooltip--validation" for="customer_fiscal_number" ng-show="form.customer_fiscal_number.$invalid && form.customer_fiscal_number.$touched">
    <span ng-show="form.customer_fiscal_number.$error.required">{{'Richiesto'| translate}}</span>
  </span>
</div>
</fieldset>
<fieldset>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <input class="mdl-textfield__input" type="text" autocomplete="off" id="annual_income" name="annual_income" minlength="3"  value=" "
  ng-model="Customer.annual_income"   minlength="3"
  ng-keyup="showAC('users.annual_income','annual_income',{order:1,zero:true});"
  ng-focus="resetAC();showAC('users.annual_income','annual_income',{order:1,zero:true})"
  />
  <label class="mdl-textfield__label" for="annual_income">{{'Annualincome' | translate }}*</label>
  <table class="mdl-data-table mdl-js-data-table  border-none scrolly " tabindex="30" autocomplete="annual_income">
    <tbody style="display:table">
      <tr tabindex="30"
      ng-click="addWord('Customer.annual_income',item.word,false,{countries:true,id:'annual_income'})"
      my-Enter="addWord('Customer.annual_income',item.word,false,{countries:true,id:'annual_income'})"
       ng-repeat="item in word.annual_income">
        <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
      </tr>
    </tbody>
  </table>
  <span class="mdl-tooltip mdl-tooltip--validation" for="annual_income" ng-show="form.annual_income.$invalid && form.annual_income.$touched">
    <span ng-show="form.annual_income.$error.required">{{'Richiesto'|translate}}.</span>
  </span>

</div>
</fieldset>

<fieldset>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <input class="mdl-textfield__input" type="text" autocomplete="off" id="income_source" name="income_source" minlength="3"  value=" "
  ng-model="Customer.income_source"   minlength="3"
  ng-keyup="showAC('users.income_source','income_source',{order:1,zero:true});"
  ng-focus="resetAC();showAC('users.income_source','income_source',{order:1,zero:true})"
  />
  <label class="mdl-textfield__label" for="income_source">{{'Fonte di Reddito' | translate }}*</label>
  <table class="mdl-data-table mdl-js-data-table  border-none scrolly " tabindex="30" autocomplete="income_source">
    <tbody style="display:table">
      <tr tabindex="30"
      ng-click="addWord('Customer.income_source',item.word,false,{countries:true,id:'income_source'})"
      my-Enter="addWord('Customer.income_source',item.word,false,{countries:true,id:'income_source'})"
       ng-repeat="item in word.income_source">
        <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
      </tr>
    </tbody>
  </table>
  <span class="mdl-tooltip mdl-tooltip--validation" for="income_source" ng-show="form.income_source.$invalid && form.income_source.$touched">
    <span ng-show="form.income_source.$error.required">{{'Richiesto'|translate}}.</span>
  </span>

</div>
</fieldset>
<fieldset>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <input class="mdl-textfield__input" type="text" autocomplete="off" id="found_source" name="found_source" minlength="3"  value=" "
  ng-model="Customer.found_source"   minlength="3"
  ng-keyup="showAC('users.found_source','found_source',{order:1,zero:true});"
  ng-focus="resetAC();showAC('users.found_source','found_source',{order:1,zero:true})"
  />
  <label class="mdl-textfield__label" for="found_source">{{'Origine dei fondi' | translate }}*</label>
  <table class="mdl-data-table mdl-js-data-table  border-none scrolly " tabindex="30" autocomplete="found_source">
    <tbody style="display:table">
      <tr
      ng-click="addWord('Customer.found_source',item.word,false,{countries:true,id:'found_source'})"
      my-Enter="addWord('Customer.found_source',item.word,false,{countries:true,id:'found_source'})"
      ng-repeat="item in word.found_source">
        <td class="mdl-data-table__cell--non-numeric">&nbsp;{{item.word}}</td>
      </tr>
    </tbody>
  </table>
  <span class="mdl-tooltip mdl-tooltip--validation" for="found_source" ng-show="form.found_source.$invalid && form.found_source.$touched">
    <span ng-show="form.found_source.$error.required">{{'Richiesto'|translate}}.</span>
  </span>

</div>
</fieldset>
</div>
