<center><h5 class="orange" id="name_agent">{{Contract.CPU}} - {{Contract.owner}}</h5>
  <h4>{{'Analisi del Rischio'|translate}}</h4></center>
  <div class="mdl-card mdl-shadow--2dp ">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        <form id="form" name="form" novalidate>

          <div class="drawer-separator"></div>
          <fieldset>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" style="margin-top:5px;">
              <h5 class="kyc01-head">{{'Struttura Societaria non chiara e comprensibile'|translate}} </h5>

              <div class="mdl-grid">
                <div class="mdl-cell ">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="ownership_compreensive-1">
                    <input ng-change="check_risk('Company')"  type="radio"  ng-model="Risk.risk_data.Company.ownership_compreensive" class="mdl-radio__button"
                    id="ownership_compreensive-1" name="ownership_compreensive" value="1"  >
                    <span class="mdl-radio__label" >{{'HighRisk'| translate}}</span>
                  </label>
                </div>

                <div class="mdl-cell">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="ownership_compreensive-0">
                    <input ng-change="check_risk('Company')"  type="radio"  ng-model="Risk.risk_data.Company.ownership_compreensive" class="mdl-radio__button"
                    id="ownership_compreensive-0" name="ownership_compreensive" value="0"  checked>
                    <span class="mdl-radio__label">{{'HighRisk'| translate}}</span>
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="drawer-separator"></div>
          <fieldset>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" style="margin-top:5px;">
              <h5 class="kyc01-head">{{'Struttura Partecipativa Complessa'|translate}} </h5>

              <div class="mdl-grid">
                <div class="mdl-cell ">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="ownership_link-1">
                    <input ng-change="check_risk('Company')" type="radio"  ng-model="Risk.risk_data.Company.ownership_link" class="mdl-radio__button"
                    id="ownership_link-1" name="ownership_link" value="1"  >
                    <span class="mdl-radio__label" >{{'HighRisk'| translate}}</span>
                  </label>
                </div>

                <div class="mdl-cell">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="ownership_link-0">
                    <input ng-change="check_risk('Company')" type="radio"  ng-model="Risk.risk_data.Company.ownership_link" class="mdl-radio__button"
                    id="ownership_link-0" name="ownership_link" value="0"  checked>
                    <span class="mdl-radio__label">{{'HighRisk'| translate}}</span>
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="drawer-separator"></div>
          <fieldset>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" style="margin-top:5px;">
              <h5 class="kyc01-head">{{'Connessioni con Paesi a Rischio'|translate}} </h5>

              <div class="mdl-grid">
                <div class="mdl-cell ">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="ownership_country-1">
                    <input ng-change="check_risk('Company')" type="radio"  ng-model="Risk.risk_data.Company.ownership_country" class="mdl-radio__button"
                    id="ownership_country-1" name="ownership_country" value="1"  >
                    <span class="mdl-radio__label" >{{'HighRisk'| translate}}</span>
                  </label>
                </div>

                <div class="mdl-cell">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="ownership_country-0">
                    <input ng-change="check_risk('Company')" type="radio"  ng-model="Risk.risk_data.Company.ownership_country" class="mdl-radio__button"
                    id="ownership_country-0" name="ownership_country" value="0"  checked>
                    <span class="mdl-radio__label">{{'HighRisk'| translate}}</span>
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="drawer-separator"></div>

          <fieldset>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
              <textarea ng-change="check_risk('Company')"  ng-required="false" ng-model="Risk.risk_data.Company.other"
              class="mdl-textfield__input" type="text" rows= "3"
              id="Company_other" name="Company_other" >
            </textarea>
            <label for="Company_other" class="mdl-textfield__label">{{ 'Altre Osservazioni' | translate}}</label>
            <span class="mdl-tooltip mdl-tooltip--validation" for="Company_other" minlength="3" ng-show="form.Company_other.$invalid && form.Company_other.$touched">
              <span ng-show="form.Company_other.$error.required">{{'Richiesto'|translate}}.</span>
            </div>
          </fieldset>
          <span style="color:#3f51b5">{{'Rischio Parziale Profilo Società'|translate}}:</span><span ng-class="Risk.risk_data.partial.Company"> {{Risk.risk_data.partial.Company}}</span>
          <div style="background-color:#3f51b5"; class="drawer-separator"></div>


        </form>
      </div>
    </div>
  </div>
  <br/>
  <button  id="save_prev" ng-click="save_risk(-1)" class="left mdl-button mdl-js-button mdl-button--fab mdl-button--colored orange-btn">
    <i class="material-icons">arrow_left_thick</i>
  </button>
  <span class="mdl-tooltip mdl-tooltip--validation" for="save_prev" >
    <span >{{'SavePrev'|translate}}.</span>
  </span>
  <button  id="save_next" ng-click="save_risk(5)" class="right mdl-button mdl-js-button mdl-button--fab mdl-button--colored blue-btn">
    <i class="material-icons">arrow_right_thick</i>
  </button>
  <span class="mdl-tooltip mdl-tooltip--validation" for="save_next" >
    <span >{{'SaveNext'|translate}}.</span>
  </span>
  <button  id="save_exit" ng-click="save_risk(0)" class="right mdl-button mdl-js-button mdl-button--fab mdl-button--colored gray-btn ">
    <i class="material-icons">exit_to_app</i>
  </button>
  <span class="mdl-tooltip mdl-tooltip--validation" for="save_exit" >
    <span >{{'SaveExit'|translate}}.</span>
  </span>
