<center><h5 class="orange" id="name_agent">{{Contract.CPU}} - {{Contract.Owner}}</h5>
  <h4>{{'Analisi del Rischio'|translate}}</h4></center>

  <div class="mdl-card mdl-shadow--2dp ">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        <form id="form" name="form" novalidate>
          <fieldset>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" style="margin-top:5px;">
              <h5 class="kyc01-head">{{'Il Cliente risiede in Paesi a Rischio'|translate}} </h5>

              <div class="mdl-grid">
                <div class="mdl-cell ">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="riskCountry-1">
                    <input ng-change="check_risk('Residence')"  type="radio" id="riskCountry-1" name="riskCountry"
                    ng-model="Risk.risk_data.Residence.riskCountry" class="mdl-radio__button"  value="1"  >
                    <span class="mdl-radio__label" >{{'HighRisk'| translate}}</span>
                  </label>
                </div>

                <div class="mdl-cell">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="riskCountry-0">
                    <input ng-change="check_risk('Residence')" type="radio" id="riskCountry-0"  name="riskCountry"
                    ng-model="Risk.risk_data.Residence.riskCountry" class="mdl-radio__button" value="0"  checked>
                    <span class="mdl-radio__label">{{'LowRisk'| translate}}</span>
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="drawer-separator"></div>
          <fieldset>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" style="margin-top:5px;">
              <h5 class="kyc01-head">{{'Il Cliente effettua attività economiche in Paesi a Rischio'|translate}} </h5>

              <div class="mdl-grid">
                <div class="mdl-cell ">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="activityInRiskCountry-1">
                    <input ng-change="check_risk('Residence')"  type="radio" id="activityInRiskCountry-1" name="activityInRiskCountry"
                    ng-model="Risk.risk_data.Residence.activityInRiskCountry" class="mdl-radio__button"  value="1"  >
                    <span class="mdl-radio__label" >{{'HighRisk'| translate}}</span>
                  </label>
                </div>

                <div class="mdl-cell">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="activityInRiskCountry-0">
                    <input ng-change="check_risk('Residence')" type="radio" id="activityInRiskCountry-0"  name="activityInRiskCountry"
                    ng-model="Risk.risk_data.Residence.activityInRiskCountry" class="mdl-radio__button" value="0"  checked>
                    <span class="mdl-radio__label">{{'LowRisk'| translate}}</span>
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="drawer-separator"></div>
          <fieldset>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
              <textarea ng-change="check_risk('Residence')" ng-required="false" ng-model="Risk.risk_data.Residence.other"
              class="mdl-textfield__input" type="text" rows= "3"
              id="Residence_other" name="Residence_other" >
            </textarea>
            <label for="Residence_other" class="mdl-textfield__label">{{ 'Altre Osservazioni' | translate}}</label>
            <span class="mdl-tooltip mdl-tooltip--validation" for="subjective_profile_other" minlength="3" ng-show="form.Residence_other.$invalid && form.Residence_other.$touched">
              <span ng-show="form.Residence_other.$error.required">{{'Richiesto'|translate}}.</span>
            </div>
          </fieldset>
          <span style="color:#3f51b5">{{'Rischio Parziale Residenza'|translate}}:</span><span ng-class="Risk.risk_data.partial.Residence"> {{Risk.risk_data.partial.Residence}}</span>
          <div style="background-color:#3f51b5"; class="drawer-separator"></div>
          <br/>
          <br/>
          <fieldset>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" style="margin-top:5px;">
              <h5 class="kyc01-head">{{'Il Cliente possiede le competenze per svolgere l\'attività principale'|translate}} </h5>

              <div class="mdl-grid">
                <div class="mdl-cell ">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="skills-1">
                    <input ng-change="check_risk('mainActivity')" type="radio" id="skills-1" name="skills"
                    ng-model="Risk.risk_data.mainActivity.skills" class="mdl-radio__button"  value="1"  >
                    <span class="mdl-radio__label" >{{'HighRisk'| translate}}</span>
                  </label>
                </div>

                <div class="mdl-cell">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="skills-0">
                    <input ng-change="check_risk('mainActivity')" type="radio" id="skills-0"  name="skills"
                    ng-model="Risk.risk_data.mainActivity.skills" class="mdl-radio__button" value="0"  checked>
                    <span class="mdl-radio__label">{{'LowRisk'| translate}}</span>
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="drawer-separator"></div>
          <fieldset>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" style="margin-top:5px;">
              <h5 class="kyc01-head">{{'Attività principale con alto volume finanziario'|translate}} </h5>

              <div class="mdl-grid">
                <div class="mdl-cell ">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="highFinancialMovment-1">
                    <input ng-change="check_risk('mainActivity')" type="radio" id="highFinancialMovment-1" ng-model="Risk.risk_data.mainActivity.highFinancialMovment" class="mdl-radio__button"
                    name="highFinancialMovment" value="1"  >
                    <span class="mdl-radio__label" >{{'HighRisk'| translate}}</span>
                  </label>
                </div>

                <div class="mdl-cell">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="highFinancialMovment-0">
                    <input ng-change="check_risk('mainActivity')" type="radio" id="highFinancialMovment-0" ng-model="Risk.risk_data.mainActivity.highFinancialMovment" class="mdl-radio__button" name="highFinancialMovment" value="0"  checked>
                    <span class="mdl-radio__label">{{'LowRisk'| translate}}</span>
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="drawer-separator"></div>
          <fieldset>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" style="margin-top:5px;">
              <h5 class="kyc01-head">{{'Attività principale finanziata con fondi pubblici'|translate}} </h5>

              <div class="mdl-grid">
                <div class="mdl-cell ">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="pubblicSectorFinancing-1">
                    <input ng-change="check_risk('mainActivity')" type="radio" id="pubblicSectorFinancing-1" ng-model="Risk.risk_data.mainActivity.pubblicSectorFinancing" class="mdl-radio__button" name="pubblicSectorFinancing" value="1"  >
                    <span class="mdl-radio__label" >{{'HighRisk'| translate}}</span>
                  </label>
                </div>

                <div class="mdl-cell">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="pubblicSectorFinancing-0">
                    <input ng-change="check_risk('mainActivity')" type="radio" id="pubblicSectorFinancing-0" ng-model="Risk.risk_data.mainActivity.pubblicSectorFinancing" class="mdl-radio__button" name="pubblicSectorFinancing" value="0"  checked>
                    <span class="mdl-radio__label">{{'LowRisk'| translate}}</span>
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="drawer-separator"></div>
          <fieldset>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" style="margin-top:5px;">
              <h5 class="kyc01-head">{{'Attività principale finanziata con fondi europei'|translate}} </h5>
              <div class="mdl-grid">
                <div class="mdl-cell ">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="EUFinancing-1">
                    <input ng-change="check_risk('mainActivity')" type="radio" id="EUFinancing-1" ng-model="Risk.risk_data.mainActivity.EUFinancing" class="mdl-radio__button" name="EUFinancing" value="1"  >
                    <span class="mdl-radio__label" >{{'HighRisk'| translate}}</span>
                  </label>
                </div>

                <div class="mdl-cell">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="EUFinancing-0">
                    <input ng-change="check_risk('mainActivity')" type="radio" id="EUFinancing-0" ng-model="Risk.risk_data.mainActivity.EUFinancing" class="mdl-radio__button" name="EUFinancing" value="0"  checked>
                    <span class="mdl-radio__label">{{'LowRisk'| translate}}</span>
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="drawer-separator"></div>
          <fieldset>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" style="margin-top:5px;">
              <h5 class="kyc01-head">{{'Attività principale con alto uso di contante'|translate}} </h5>
              <div class="mdl-grid">
                <div class="mdl-cell ">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="cash-1">
                    <input ng-change="check_risk('mainActivity')" type="radio" id="cash-1" ng-model="Risk.risk_data.mainActivity.cash" class="mdl-radio__button" name="cash" value="1"  >
                    <span class="mdl-radio__label" >{{'HighRisk'| translate}}</span>
                  </label>
                </div>

                <div class="mdl-cell">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="cash-0">
                    <input ng-change="check_risk('mainActivity')" type="radio" id="cash-0" ng-model="Risk.risk_data.mainActivity.cash" class="mdl-radio__button" name="cash" value="0"  checked>
                    <span class="mdl-radio__label">{{'LowRisk'| translate}}</span>
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="drawer-separator"></div>
          <fieldset>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
              <textarea ng-change="check_risk('mainActivity')" ng-required="false" ng-model="Risk.risk_data.mainActivity.other"
              class="mdl-textfield__input" type="text" rows= "3"
              id="main_activity_other" name="main_activity_other" >
            </textarea>
            <label for="main_activity_other" class="mdl-textfield__label">{{ 'Altre Osservazioni' | translate}}</label>
            <span class="mdl-tooltip mdl-tooltip--validation" for="subjective_profile_other" minlength="3" ng-show="form.main_activity_other.$invalid && form.main_activity_other.$touched">
              <span ng-show="form.main_activity_other.$error.required">{{'Richiesto'|translate}}.</span>
            </div>
          </fieldset>
          <span style="color:#3f51b5">{{'Rischio Parziale Residenza'|translate}}:</span><span ng-class="Risk.risk_data.partial.mainActivity"> {{Risk.risk_data.partial.mainActivity}}</span>
          <div style="background-color:#3f51b5"; class="drawer-separator"></div>


        </form>
      </div>
    </div>
  </div>
  <br/>
  <button  id="save_prev" ng-click="save_risk(-1)" class="left mdl-button mdl-js-button mdl-button--fab mdl-button--colored orange-btn">
    <i class="material-icons">arrow_left_thick</i>
  </button>
  <span class="mdl-tooltip mdl-tooltip--validation" for="save_prev" >
    <span >{{'SavePrev'|translate}}.</span>
  </span>
  <button  id="save_next" ng-click="save_risk(3)" class="right mdl-button mdl-js-button mdl-button--fab mdl-button--colored blue-btn">
    <i class="material-icons">arrow_right_thick</i>
  </button>
  <span class="mdl-tooltip mdl-tooltip--validation" for="save_next" >
    <span >{{'SaveNext'|translate}}.</span>
  </span>
  <button  id="save_exit" ng-click="save_risk(0)" class="right mdl-button mdl-js-button mdl-button--fab mdl-button--colored gray-btn">
    <i class="material-icons">exit_to_app</i>
  </button>
  <span class="mdl-tooltip mdl-tooltip--validation" for="save_exit" >
    <span >{{'SaveExit'|translate}}.</span>
  </span>
