<div  class="mdl-card card-ax">
<div id="containerf">
  <div></div>
  <div>
    <center>
    <span style="font-size:18px;font-weight:bold" class="orange" id="name_agent">{{'Analisi del Rischio'|translate}}</span><br/>
    <span style="font-size:18px;font-weight:bold" class="blue" id="name_agent">{{Contract.CPU}} - {{Contract.Owner}}</span>
  </center>
  </div>
  <div ng-class="color(Risk.risk_status)" style="text-align:right!important">
    <span ng-show="Risk.risk_status==1" >Ultima analisi eseguita il: {{Risk.risk_date | dateToISO | date:'M/d/yyyy  HH:mm:ss'}} </span>
    <span ng-show="Risk.risk_status==0" >Analisi non ancora completata </span>

  </div>
</div>
  <div class="mdl-card mdl-shadow--2dp ">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        <form id="form" name="form" novalidate>
          <fieldset>
            <table class="riskTable mdl-data-table mdl-js-data-table mdl-shadow--2dp" >
              <thead>
              <tr  >
                <th  class="blue-th mdl-data-table__cell--non-numeric" >Descrizione</td>
                <th class="blue-th">Max</td>
                <th class="blue-th ">Assegnato</td>
              </tr>
            </thead>
              <tbody>
                <tr>
                  <td colspan="3" class="yellow-row mdl-data-table__cell--non-numeric">a.2. Prevalente attività svolta</td>
                </tr>
                <tr >
                  <td    class="inline mdl-data-table__cell--non-numeric" >
                    Attività esposta al rischio di infiltrazioni criminali (appalti, sanità, raccolta e smaltimento rifiuti, energie rinnovabili, giochi)
                  </td>
                  <td class="mdl-data-table__cell--non-numeric tright">7</td>
                  <td class="">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input class="mdl-textfield__input input_in_table_n"  type="number"  name="congr" step="1" min="0" max="7"  ng-pattern="integerval"
                      ng-model="Risk.risk_data.AspConnCli.a2.higRisk"
                      />
                    </div>

                  </td>
                </tr>
                <tr >
                  <td class="inline mdl-data-table__cell--non-numeric" >
                    Struttura organizzativa e dimensionale coerente con l’attività svolta
                  </td>
                  <td class="mdl-data-table__cell--non-numeric tright">5</td>
                  <td class="">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input class="mdl-textfield__input input_in_table_n" type="number"  name="artOrg" step="1" min="0" max="5"  ng-pattern="integerval"
                      ng-model="Risk.risk_data.AspConnCli.a2.strCoe"
                      />
                    </div>

                  </td>
                </tr>
                <tr >
                  <td class="inline mdl-data-table__cell--non-numeric " >
                    Conformità dell’attività svolta rispetto a quella indicata nell’atto costitutivo
                  </td>
                  <td class="mdl-data-table__cell--non-numeric tright">5</td>
                  <td class="">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input class="mdl-textfield__input input_in_table_n"  type="number"  name="partPEP" step="1" min="0" max="5"  ng-pattern="integerval"
                      ng-model="Risk.risk_data.AspConnCli.a2.attConf"
                      />
                    </div>

                  </td>
                </tr>
                <tr>
                  <td colspan="2" class="gray-row mdl-data-table__cell--non-numeric">SubTotale A.2. Prevalente attività svolta</td>
                  <td colspan="1" class="gray-row">{{ subTotRisk(Risk.risk_data.AspConnCli.a2) }}</td>
                </tr>
                  <tr>
                    <td colspan="3" class="inline yellow-row mdl-data-table__cell--non-numeric">a.3. Comportamento tenuto al momento del conferimento dell'incarico </td>
                  </tr>
                  <td class="inline mdl-data-table__cell--non-numeric" >
                    Cliente non presente fisicamente
                  </td>
                  <td class="mdl-data-table__cell--non-numeric tright">2</td>
                  <td class="">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input class="mdl-textfield__input input_in_table_n input_inTable" type="number"  name="lavConRisk" step="1" min="0" max="2"  ng-pattern="integerval"
                      ng-model="Risk.risk_data.AspConnCli.a3.nnPresFis"
                      />
                    </div>

                  </td>
                </tr>
                <tr >
                  <td class="inline mdl-data-table__cell--non-numeric " >
                 Presenza di soggetti con ruolo non definito
                  </td>
                  <td class="mdl-data-table__cell--non-numeric tright">2</td>
                  <td class="">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input class="mdl-textfield__input input_in_table_n" type="number"  name="pendPenali" step="1" min="0" max="2"  ng-pattern="integerval"
                      ng-model="Risk.risk_data.AspConnCli.a3.ruolnndef"
                      />
                    </div>

                  </td>
                </tr>
                <tr >
                  <td class="inline mdl-data-table__cell--non-numeric " >
                 Comportamento non trasparente e collaborativo
                  </td>
                  <td class="mdl-data-table__cell--non-numeric tright">3</td>
                  <td class="">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input class="mdl-textfield__input input_in_table_n" type="number"  name="pendPenali" step="1" min="0" max="3"  ng-pattern="integerval"
                      ng-model="Risk.risk_data.AspConnCli.a3.beahvnnTr"
                      />
                    </div>

                  </td>
                </tr>
                <tr>
                  <td colspan="2" class=" inline gray-row mdl-data-table__cell--non-numeric">SubTotale A.3  Comportamento tenuto al momento del conferimento dell'incarico</td>
                  <td class="gray-row">{{ subTotRisk(Risk.risk_data.AspConnCli.a3) }}</td>
                </tr>
                  <tr>
                    <td colspan="3" class="yellow-row mdl-data-table__cell--non-numeric">a.
                      a.4. Area geografica di residenza del cliente
                  </tr>
                  <td class="inline mdl-data-table__cell--non-numeric" >
                    Residenza in comune a rischio a causa dell’utilizzo eccessivo di contante - Residenza in Stati extra UE con regime antiriciclaggio non equivalente o in territori offshore – Residenza in Stati extra UE o in territori stranieri che impongono obblighi equivalenti
                  </td>
                  <td class="mdl-data-table__cell--non-numeric tright">7</td>
                  <td class="">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input class="mdl-textfield__input input_in_table_n" type="number"  name="lavConRisk" step="1" min="0" max="7"  ng-pattern="integerval"
                      ng-model="Risk.risk_data.AspConnCli.a4.resPlaceRisk"
                      />
                    </div>

                  </td>
                </tr>
                <tr >
                  <td class="inline mdl-data-table__cell--non-numeric " >
                    Lontananza della residenza del cliente rispetto alla sede del  professionista
                  </td>
                  <td class="mdl-data-table__cell--non-numeric tright">5</td>
                  <td class="">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input class="mdl-textfield__input input_in_table_n" type="number"  name="pendPenali" step="1" min="0" max="5"  ng-pattern="integerval"
                      ng-model="Risk.risk_data.AspConnCli.a4.resLontana"
                      />
                    </div>

                  </td>
                </tr>
                <tr>
                  <td colspan="2" class="inline gray-row mdl-data-table__cell--non-numeric">SubTotale a.4. Area geografica di residenza del cliente </td>
                  <td colspan="1" class="gray-row">{{ subTotRisk(Risk.risk_data.AspConnCli.a4) }}</td>
                </tr>
                <tr>
                <td colspan="2" class="inline azure-row mdl-data-table__cell--non-numeric">SubTotale A Rischi Connessi al Cliente</td>
                <td colspan="1" class="azure-row">{{ subTotRisk(Risk.risk_data.AspConnCli) }}</td>
              </tr>
              </tbody>
            </table>
          </fieldset>





        </form>
      </div>
    </div>
  </div>
  <br/>
  <button  id="save_prev" ng-click="save_risk(-1)" class="left mdl-button mdl-js-button  mdl-button--colored orange ">
    <i class="material-icons size24">keyboard_arrow_left</i>
  </button>
  <span class="mdl-tooltip mdl-tooltip--validation" for="save_prev" >
    <span >{{'SavePrev'|translate}}.</span>
  </span>
  <button   id="save_next" ng-click="save_risk(3)" class="right mdl-button mdl-js-button  mdl-button--colored blue">
    <i class="material-icons size24">keyboard_arrow_right</i>
  </button>
  <span class="mdl-tooltip mdl-tooltip--validation" for="save_next" >
    <span >{{'SaveNext'|translate}}.</span>
  </span>
  <button  id="save_exit" ng-click="save_risk(0)" class="left mdl-button mdl-js-button  mdl-button--colored gray ">
    <i class="material-icons size24">subdirectory_arrow_left</i>
  </button>
  <span class="mdl-tooltip mdl-tooltip--validation" for="save_exit" >
    <span >{{'SaveExit'|translate}}.</span>
  </span>
</div>
