<center><h5 class="orange" id="name_agent">{{Contract.CPU}} - {{Contract.Owner}}</h5>
  <h4>{{'Analisi del Rischio'|translate}}</h4></center>

  <div class="mdl-card mdl-shadow--2dp ">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        <form id="form" name="form" novalidate>
          <fieldset>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" style="margin-top:5px;">
              <h5 class="kyc01-head">{{'Attività ad Alta frequenza'|translate}} </h5>

              <div class="mdl-grid">
                <div class="mdl-cell ">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="highFrequency-1">
                    <input ng-change="check_risk('frequency')" type="radio" id="highFrequency-1" name="highFrequency"
                    ng-model="Risk.risk_data.frequency.highFrequency" class="mdl-radio__button"  value="1"  >
                    <span class="mdl-radio__label" >{{'HighRisk'| translate}}</span>
                  </label>
                </div>

                <div class="mdl-cell">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="highFrequency-0">
                    <input  ng-change="check_risk('frequency')" type="radio" id="highFrequency-0"  name="highFrequency"
                    ng-model="Risk.risk_data.frequency.highFrequency" class="mdl-radio__button" value="0"  checked>
                    <span class="mdl-radio__label">{{'LowRisk'| translate}}</span>
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="drawer-separator"></div>
          <fieldset>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" style="margin-top:5px;">
              <h5 class="kyc01-head">{{'Frequenza e durata Consistente con il profilo economico del Cliente'|translate}} </h5>

              <div class="mdl-grid">
                <div class="mdl-cell ">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="consistent-1">
                    <input  ng-change="check_risk('frequency')" type="radio" id="consistent-1" name="consistent"
                    ng-model="Risk.risk_data.frequency.consistent" class="mdl-radio__button"  value="1"  >
                    <span class="mdl-radio__label" >{{'HighRisk'| translate}}</span>
                  </label>
                </div>

                <div class="mdl-cell">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="consistent-0">
                    <input  ng-change="check_risk('frequency')" type="radio" id="consistent-0"  name="consistent"
                    ng-model="Risk.risk_data.frequency.consistent" class="mdl-radio__button" value="0"  checked>
                    <span class="mdl-radio__label">{{'LowRisk'| translate}}</span>
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="drawer-separator"></div>
          <fieldset>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
              <textarea  ng-change="check_risk('frequency')" ng-required="false" ng-model="Risk.risk_data.frequency.other"
              class="mdl-textfield__input" type="text" rows= "3"
              id="frequency_other" name="frequency_other" >
            </textarea>
            <label for="frequency_other" class="mdl-textfield__label">{{ 'Altre Osservazioni' | translate}}</label>
            <span class="mdl-tooltip mdl-tooltip--validation" for="frequency_other" minlength="3" ng-show="form.frequency_other.$invalid && form.frequency_other.$touched">
              <span ng-show="form.frequency_other.$error.required">{{'Richiesto'|translate}}.</span>
            </div>
          </fieldset>
          <span style="color:#3f51b5">{{'Rischio Parziale Frequenza'|translate}}:</span><span ng-class="Risk.risk_data.partial.frequency"> {{Risk.risk_data.partial.frequency}}</span>
          <div style="background-color:#3f51b5"; class="drawer-separator"></div>

          <br/>
          <br/>

          <fieldset>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" style="margin-top:5px;">
              <h5 class="kyc01-head">{{'Continuità di relazione consistente con il profilo economico del cliente'|translate}} </h5>

              <div class="mdl-grid">
                <div class="mdl-cell ">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="relation-1">
                    <input  ng-change="check_risk('Consistency')" type="radio" id="relation-1" name="relation"
                    ng-model="Risk.risk_data.Consistency.relation" class="mdl-radio__button"  value="1"  >
                    <span class="mdl-radio__label" >{{'HighRisk'| translate}}</span>
                  </label>
                </div>

                <div class="mdl-cell">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="relation-0">
                    <input ng-change="check_risk('Consistency')"  type="radio" id="relation-0"  name="relation"
                    ng-model="Risk.risk_data.Consistency.relation" class="mdl-radio__button" value="0"  checked>
                    <span class="mdl-radio__label">{{'LowRisk'| translate}}</span>
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="drawer-separator"></div>
          <fieldset>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" style="margin-top:5px;">
              <h5 class="kyc01-head">{{'Dimensione del giro di affari consistente con il profilo patrimoniale del Cliente'|translate}} </h5>

              <div class="mdl-grid">
                <div class="mdl-cell ">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="dimension-1">
                    <input ng-change="check_risk('Consistency')"  type="radio" id="dimension-1" name="dimension"
                    ng-model="Risk.risk_data.Consistency.dimension" class="mdl-radio__button"  value="1"  >
                    <span class="mdl-radio__label" >{{'HighRisk'| translate}}</span>
                  </label>
                </div>

                <div class="mdl-cell">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="dimension-0">
                    <input ng-change="check_risk('Consistency')"  type="radio" id="dimension-0"  name="dimension"
                    ng-model="Risk.risk_data.Consistency.dimension" class="mdl-radio__button" value="0"  checked>
                    <span class="mdl-radio__label">{{'LowRisk'| translate}}</span>
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="drawer-separator"></div>
          <fieldset>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
              <textarea ng-change="check_risk('Consistency')"  ng-required="false" ng-model="Risk.risk_data.Consistency.other"
              class="mdl-textfield__input" type="text" rows= "3"
              id="Consistency_other" name="Consistency_other" >
            </textarea>
            <label for="Consistency_other" class="mdl-textfield__label">{{ 'Altre Osservazioni' | translate}}</label>
            <span class="mdl-tooltip mdl-tooltip--validation" for="Consistency_other" minlength="3" ng-show="form.Consistency_other.$invalid && form.Consistency_other.$touched">
              <span ng-show="form.Consistency_other.$error.required">{{'Richiesto'|translate}}.</span>
            </div>
          </fieldset>
          <span style="color:blue">{{'Rischio Parziale Consistenza'|translate}}:</span><span ng-class="Risk.risk_data.partial.Consistency"> {{Risk.risk_data.partial.Consistency}}</span>
          <div style="background-color:#3f51b5"; class="drawer-separator"></div>


        </form>
      </div>
    </div>
  </div>
  <br/>
  <button  id="save_prev" ng-click="save_risk(-1)" class="left mdl-button mdl-js-button mdl-button--fab mdl-button--colored orange-btn">
    <i class="material-icons">arrow_left_thick</i>
  </button>
  <span class="mdl-tooltip mdl-tooltip--validation" for="save_prev" >
    <span >{{'SavePrev'|translate}}.</span>
  </span>
  <button  id="save_next" ng-click="save_risk(3)" class="right mdl-button mdl-js-button mdl-button--fab mdl-button--colored blue-btn">
    <i class="material-icons">arrow_right_thick</i>
  </button>
  <span class="mdl-tooltip mdl-tooltip--validation" for="save_next" >
    <span >{{'SaveNext'|translate}}.</span>
  </span>
  <button  id="save_exit" ng-click="save_risk(0)" class="right mdl-button mdl-js-button mdl-button--fab mdl-button--colored  gray-btn">
    <i class="material-icons">exit_to_app</i>
  </button>
  <span class="mdl-tooltip mdl-tooltip--validation" for="save_exit" >
    <span >{{'SaveExit'|translate}}.</span>
  </span>
