<center><h5 class="orange" id="name_agent">{{Contract.CPU}} - {{Contract.owner}}</h5>
  <h4>{{'Analisi del Rischio'|translate}}</h4></center>
  <div class="mdl-card mdl-shadow--2dp ">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        <form id="form" name="form" novalidate>
          <fieldset>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                <input disabled ng-model="Risk.risk_data.riskCalculated"
                class="mdl-textfield__input" type="text"
                id="riskCalculated" name="riskCalculated" />

                <label class="mdl-textfield__label" for="riskCalculated">{{'Rischio Calcolato'|translate}} *</label>
                <span class="mdl-tooltip mdl-tooltip--validation" for="riskCalculated" ng-show="form.riskCalculated.$invalid && form.riskCalculated.$touched">
                  <span ng-show="form.riskCalculated.$error.required">{{'Richiesto'| translate}}</span>
                </span>
              </div>
            </fieldset>
            <fieldset>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                <select  ng-model="Risk.risk_data.riskAssigned" class="mdl-textfield__input"
                ng-required="true"
                id="company_country" name="company_country" >
                <option  value="Alto">{{'Alto' | translate}}</option>
                <option  value="Medio">{{'Medio' | translate}}</option>
                <option  value="Basso">{{'Basso' | translate}}</option>
                <option  value="Limitato">{{'Limitato'| translate}}</option>
              </select>
              <label class="mdl-textfield__label" for="company_country">{{'Assegna Rischio'|translate}} *</label>
              <span class="mdl-tooltip mdl-tooltip--validation" for="Kyc_name" ng-show="form.company_country.$invalid && form.company_country.$touched">
                <span ng-show="form.company_country.$error.required">{{'Richiesto'| translate}}</span>
              </span>
            </div>
          </fieldset>
          <fieldset>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
              <textarea ng-required="Risk.risk_data.riskAssigned!=Risk.risk_data.riskCalculated" ng-model="Risk.risk_data.riskDescription"
              class="mdl-textfield__input" type="text" rows= "3"
              id="riskDescription" name="riskDescription" >
            </textarea>
            <label for="riskDescription" class="mdl-textfield__label">{{ 'Altre Osservazioni' | translate}}</label>
            <span class="mdl-tooltip mdl-tooltip--validation" for="riskDescription" minlength="3" ng-show="form.riskDescription.$invalid && form.riskDescription.$touched">
              <span ng-show="form.riskDescription.$error.required">{{'Richiesto'|translate}}.</span>
            </div>
          </fieldset>
          <fieldset>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
              <textarea  ng-model="Risk.risk_data.notes"
              class="mdl-textfield__input" type="text" rows= "3"
              id="notes" name="notes" >
            </textarea>
            <label for="notes" class="mdl-textfield__label">{{ 'Note Eventuali' | translate}}</label>
            <span class="mdl-tooltip mdl-tooltip--validation" for="notes" minlength="3" ng-show="form.notes.$invalid && form.notes.$touched">
              <span ng-show="form.riskDescription.$error.required">{{'Richiesto'|translate}}.</span>
            </div>
          </fieldset>

        </form>
      </div>
    </div>
  </div>
  <br/>
  <button  id="save_next" ng-click="save_risk(3)" class="right mdl-button mdl-js-button mdl-button--fab mdl-button--colored blue-btn">
    <i class="material-icons">arrow_right_thick</i>
  </button>
  <span class="mdl-tooltip mdl-tooltip--validation" for="save_next" >
    <span >{{'SaveNext'|translate}}.</span>
  </span>
  <button  id="save_exit" ng-click="save_risk(0)" class="right mdl-button mdl-js-button mdl-button--fab mdl-button--colored ">
    <i class="material-icons">exit_to_app</i>
  </button>
  <span class="mdl-tooltip mdl-tooltip--validation" for="save_exit" >
    <span >{{'SaveExit'|translate}}.</span>
  </span>
