<center><h5 class="orange" id="name_agent">{{Contract.CPU}} - {{Contract.owner}}</h5>
  <h4>{{'Analisi del Rischio'|translate}}</h4></center>

  <div class="mdl-card mdl-shadow--2dp ">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        <form name="form" novalidate>

          <fieldset>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" style="margin-top:5px;">
              <h5 class="kyc01-head">{{'Il Cliente è collaborativo'|translate}} </h5>

              <div class="mdl-grid">
                <div class="mdl-cell ">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="collaborative-1">
                    <input ng-change="check_risk('behavior')"   type="radio" id="collaborative-1" name="collaborative"
                    ng-model="Risk.risk_data.behavior.collaborative" class="mdl-radio__button"  value="1"  >
                    <span class="mdl-radio__label" >{{'HighRisk'| translate}}</span>
                  </label>
                </div>

                <div class="mdl-cell">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="collaborative-0">
                    <input ng-change="check_risk('behavior')"   type="radio" id="collaborative-0"  name="collaborative"
                    ng-model="Risk.risk_data.behavior.collaborative" class="mdl-radio__button" value="0"  checked>
                    <span class="mdl-radio__label">{{'LowRisk'| translate}}</span>
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="drawer-separator"></div>
          <fieldset>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" style="margin-top:5px;">
              <h5 class="kyc01-head">{{'Il Cliente è troppo collaborativo'|translate}} </h5>

              <div class="mdl-grid">
                <div class="mdl-cell ">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="tooMuchCollaborative-1">
                    <input ng-change="check_risk('behavior')"   type="radio" id="tooMuchCollaborative-1" name="tooMuchCollaborative"
                    ng-model="Risk.risk_data.behavior.tooMuchCollaborative" class="mdl-radio__button"  value="1"  >
                    <span class="mdl-radio__label" >{{'HighRisk'| translate}}</span>
                  </label>
                </div>

                <div class="mdl-cell">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="tooMuchCollaborative-0">
                    <input ng-change="check_risk('behavior')"   type="radio" id="tooMuchCollaborative-0"  name="tooMuchCollaborative"
                    ng-model="Risk.risk_data.behavior.tooMuchCollaborative" class="mdl-radio__button" value="0"  checked>
                    <span class="mdl-radio__label">{{'LowRisk'| translate}}</span>
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="drawer-separator"></div>
          <fieldset>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" style="margin-top:5px;">
              <h5 class="kyc01-head">{{'Il Cliente non è collaborativo per nulla'|translate}} </h5>

              <div class="mdl-grid">
                <div class="mdl-cell ">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="atAllCollaborative-1">
                    <input ng-change="check_risk('behavior')"   type="radio" id="atAllCollaborative-1" name="atAllCollaborative"
                    ng-model="Risk.risk_data.behavior.atAllCollaborative" class="mdl-radio__button"  value="1"  >
                    <span class="mdl-radio__label" >{{'HighRisk'| translate}}</span>
                  </label>
                </div>

                <div class="mdl-cell">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="atAllCollaborative-0">
                    <input ng-change="check_risk('behavior')"   type="radio" id="atAllCollaborative-0"  name="atAllCollaborative"
                    ng-model="Risk.risk_data.behavior.atAllCollaborative" class="mdl-radio__button" value="0"  checked>
                    <span class="mdl-radio__label">{{'LowRisk'| translate}}</span>
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="drawer-separator"></div>

          <fieldset>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
              <textarea ng-change="check_risk('behavior')"   ng-required="false" ng-model="Risk.risk_data.behavior.other"
              class="mdl-textfield__input" type="text" rows= "3"
              id="beahavior_other" name="beahavior_other" >
            </textarea>
            <label for="beahavior_other" class="mdl-textfield__label">{{ 'Altre Osservazioni' | translate}}</label>
            <span class="mdl-tooltip mdl-tooltip--validation" for="beahavior_other" minlength="3" ng-show="form.beahavior_other.$invalid && form.beahavior_other.$touched">
              <span ng-show="form.beahavior_other.$error.required">{{'Richiesto'|translate}}.</span>
            </div>
          </fieldset>
          <span style="color:#3f51b5">{{'Rischio Parziale Comportamenteo del Cliente'|translate}}:</span><span ng-class="Risk.risk_data.partial.behavior"> {{Risk.risk_data.partial.behavior}}</span>
          <div style="background-color:#3f51b5"; class="drawer-separator"></div>


        </form>
      </div>
    </div>
  </div>
  <br/>
  <button  id="save_prev" ng-click="save_risk(-1)" class="left mdl-button mdl-js-button mdl-button--fab mdl-button--colored orange-btn">
    <i class="material-icons">arrow_left_thick</i>
  </button>
  <span class="mdl-tooltip mdl-tooltip--validation" for="save_prev" >
    <span >{{'SavePrev'|translate}}.</span>
  </span>
  <button  id="save_next" ng-click="save_risk(4)" class="right mdl-button mdl-js-button mdl-button--fab mdl-button--colored blue-btn">
    <i class="material-icons">arrow_right_thick</i>
  </button>
  <span class="mdl-tooltip mdl-tooltip--validation" for="save_next" >
    <span >{{'SaveNext'|translate}}.</span>
  </span>
  <button  id="save_exit" ng-click="save_risk(0)" class="right mdl-button mdl-js-button mdl-button--fab mdl-button--colored ">
    <i class="material-icons">exit_to_app</i>
  </button>
  <span class="mdl-tooltip mdl-tooltip--validation" for="save_exit" >
    <span >{{'SaveExit'|translate}}.</span>
  </span>
