<div class="mdl-card mdl-shadow--2dp ">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      <form name="form" novalidate>
        <fieldset>

              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" style="margin-top:5px;">
                <input class="mdl-textfield__input"
                ng-model="agency.name"  type="text" autocomplete="off"
                ng-keyup="showAC('agency.name','agency_id',{zero:true,ob:ob.settings})"
                ng-focus="showAC('agency.name','agency_id',{zero:true,ob:ob.settings});resetAC()"
                id="agency_name" name="agency_name" ng-required="true" />
                <input type="text" autocomplete="off" ng-model="Owner.agency_id" style="display:none" ng-required="!add_customer" id="agency_name" name="agency_name" />
                <label  for="agency_name" class="mdl-textfield__label" >{{'Cerca Titolare Effettivo' | translate }}</label>

                <span class="mdl-tooltip mdl-tooltip--validation" for="agency_name" ng-show="form.agency_name.$invalid && form.agency_name.$touched">
                  <span ng-show="form.Contractor.$error.required">la persona deve essere censita.</span>
                </span>
                </div>

          </fieldset>
    <h5 >{{'Condividi i tuoi dati con i Contraenti con cui hai un contratto' |translate}}</h5>
    <div  ui-view="agency_list" >
    </div>


    </form>


  </div>

</div>

</div>
