<div class="mdl-card mdl-shadow--2dp mdl-color--primary mdl-color-text--blue-grey-50 drawer-profile">
    <div class="mdl-card__title user dark-blue-bg">
        <img id="Profileimageagencyuser" src="ui-amlapp/img/user.png" alt="" />
        <span style="text-transform: capitalize;" id="Profileimageagencyusername" class="user-name"></span>
        <span style="text-transform: capitalize;" id="Profileimageagencyuseremail" class="user-mail"></span>

    </div>
    <!-- Top-right User -->

</div>


<!-- Main Navigation -->
<nav class="mdl-navigation">
    <a class="mdl-navigation__link animsition-link" onclick="redirect('my_customer.html')" href="javascript:;"><i class="material-icons">home</i><span>Home</span></a>
    <a class="mdl-navigation__link animsition-link" onclick="redirect('my_profile.html')" href="javascript:;"><i class="material-icons">contacts</i><span>Profile</span></a>
    <a class="mdl-navigation__link animsition-link" onclick="redirect('my_customer.html')" href="javascript:;"><i class="material-icons">theaters</i><span>Customer List</span></a>

    <a class="mdl-navigation__link animsition-link" onclick="logout()" href="javascript:;"><i class="material-icons">input</i><span>Logout </span></a>

    <!--  <div class="mdl-collapse">
          <a class="mdl-navigation__link mdl-collapse__button"><i class="material-icons">library_books</i>
              <i class="material-icons mdl-collapse__icon mdl-animation--default">expand_more</i>
              <span>Blog</span>
          </a>
          <div class="mdl-collapse__content-wrapper">
              <div class="mdl-collapse__content mdl-animation--default" style="margin-top: -156px;">
                  <a class="mdl-navigation__link animsition-link" href="blog.html">Category</a>
                  <a class="mdl-navigation__link animsition-link" href="article.html">Article</a>
              </div>
          </div>
      </div>
      <a class="mdl-navigation__link animsition-link" href="media.html"><i class="material-icons">queue_music</i><span>Media</span></a>
      <div class="drawer-separator"></div>
      <div class="mdl-collapse">
          <a class="mdl-navigation__link mdl-collapse__button"><i class="material-icons">apps</i>
              <i class="material-icons mdl-collapse__icon mdl-animation--default">expand_more</i>
              <span>App</span>
          </a>
          <div class="mdl-collapse__content-wrapper">
              <div class="mdl-collapse__content mdl-animation--default" style="margin-top: -156px;">
                  <a class="mdl-navigation__link animsition-link" href="login.html">Login</a>
                  <a class="mdl-navigation__link animsition-link" href="messages.html">Messages</a>
                  <a class="mdl-navigation__link animsition-link" href="calendar.html">Calendar</a>
                  <a class="mdl-navigation__link animsition-link" href="settings.html">Settings</a>
              </div>
          </div>
      </div>  -->
</nav>
