<div class="mdl-card mdl-shadow--2dp mdl-color--primary mdl-color-text--blue-grey-50 drawer-profile">
  <div class="mdl-card__title user dark-blue-bg">
    <img id="Profileimageagencyuser" src="img/user.png" alt="" />
    <span style="text-transform: capitalize;" id="Profileimageagencyusername" class="user-name"></span>
    <span style="text-transform: capitalize;" id="Profileimageagencyuseremail" class="user-mail"></span>

  </div>
  <!-- Top-right User -->
</div>
<nav class="mdl-navigation" style="background-color:white">
  <a class="mdl-navigation__link animsition-link" onclick="redirect('my_contract.html')" href="javascript:;"><i class="material-icons">reorder</i><span>{{'Contratti'|translate}}</span></a>
  <a class="mdl-navigation__link animsition-link" onclick="redirect('my_customer.html')" href="javascript:;"><i class="material-icons">accessibility</i><span>{{'Persone'||translate}}</span></a>
  <a class="mdl-navigation__link animsition-link" onclick="redirect('my_company.html')" href="javascript:;"><i class="material-icons">business</i><span>{{'Società'|translate}}</span></a>
  <a class="mdl-navigation__link animsition-link" onclick="redirect('my_agent.html')" href="javascript:;"> <i class="material-icons">group</i><span>{{'Agenti'|translate}}</span></a>
  <a class="mdl-navigation__link animsition-link" onclick="redirect('my_profile.html')" href="javascript:;"><i class="material-icons tiny" >contacts</i><span>{{'Profilo'|translate}}</span></a>
  <a class="mdl-navigation__link animsition-link" onclick="logout()" href="javascript:;"><i class="material-icons">input</i><span>Logout </span></a>

</nav>
