          <div style="text-align:center" class="mdl-card mdl-shadow--2dp about">
            <h5 class="orange" id="name_agent"> {{Contract.Owner}}</h5>
            <div class="mdl-card amazing mdl-shadow--2dp">
              <br/>
              <table align="center" class="tview mdl-data-table mdl-js-data-table  mdl-shadow--2dp">
                <tbody>

                  <tr ng-show="Contract.act_for_other>0">
                    <td  >{{'Firmatario' | translate}} :</td>
                    <td class="blue">{{Contract.contractor_name}}</td>

                  </tr>
                  <tr ng-show="Contract.act_for_other>0">
                    <td  >{{'Delega' | translate}} :</td>
                    <td class="blue">{{Contract.role_for_other}}</td>

                  </tr>

                  <tr>
                    <td  >{{'Scopo del Contratto' | translate}} :</td>
                    <td class="inline blue">{{Contract.scope_contract}}</td>

                  </tr>
                  <tr>
                    <td  >{{'Natura del Contratto' | translate}} :</td>
                    <td class="blue">{{Contract.nature_contract}}</td>

                  </tr>
                  <tr>
                    <td >{{'Stipulato i' | translate}}l :</td>
                    <td>{{Contract.contract_date | date : 'shortDate'}}</td>

                  </tr>
                  <tr>
                    <td>{{'Valore' | translate}}</td>
                    <td>{{Contract.contract_value | currency}}</td>
                  </tr>
                  <tr ng-show="Contract.riskAssigned.length>0">
                    <td>{{'Livello di Rischio' | translate}}</td>
                    <td ng-class="Contract.riskAssigned">{{Contract.riskAssigned | translate}}</td>
                  </tr>
                  <tr>
                    <td colspan="2" class="wordwrap">{{Contract.email}}</td>
                  </tr>
                  <tr ng-show="Contract.mobile_number.length>0">
                    <td colspan="2" class="wordwrap">{{Contract.mobile_number}}</td>
                  </tr>
                </tbody>
              </table>
              <br/>
              <div class="mdl-card__actions mdl-card--border " style="font-size:12px" >
                <div class="mdl-cell--4-col">
                  <div class="left" style="text-align:left">
                    <span ng-show="Contract.kyc_update.state=='aggiornamento'" class="blue" >{{'Aggiornamento'|translate}}</span><br/>
                    <span class="orange">{{'Adeguata Verifica'|translate}} </span><br/>
                    <span ng-show="Contract.kyc_status==1">{{'Eseguita' |translate}}<span class="green-checkbox"><img src="img/green-check.png"></span><br/>
                    <span >{{'il:  '|translate}}{{Contract.kyc_date | dateToISO | date:'d/M/yyyy  HH:mm:ss'}}</span>

                  </span>
                    <span ng-show="Contract.kyc_status!=1"> {{'in esecuzione'|translate}}</span>
                  </div>

                </div>
                <div class="mdl-cell--4-col">
                  <button  id="Risk" ng-click="edit_contract(Contract.contractor_id)" class="center mdl-button mdl-js-button mdl-button--fab mdl-button--colored ">
                    <i class="material-icons">reorder</i>
                </button>
                  <span class="mdl-tooltip mdl-tooltip--validation" for="Risk" >
                    <span >{{'Modifica Contratto '|translate}}.</span>
                  </span>

                </div>
                <div class="mdl-cell--4-col">
                  <div class="right" style="text-align:right">
                    <span ng-show="Contract.risk_update.state=='aggiornamento'" class="blue" >{{'Aggiornamento'|translate}}</span><br/>
                    <span class="orange">{{'Analisi del Rischio'|translate}} </span><br/>
                    <span ng-show="Contract.risk_status==1">{{'Eseguita' |translate}}<span class="green-checkbox"><img src="img/green-check.png"></span><br/>
                    <span >{{'il:  '|translate}}{{Contract.risk_date | dateToISO | date:'d/M/yyyy  HH:mm:ss'}}</span>
                    <span ng-class="Contract.riskAssigned">{{ Contract.riskAssigned |translate}} </span><br/>

                  </span>
                    <span ng-show="Contract.risk_status!=1">{{'in esecuzione'|translate}}</span>
                  </div>
                 </div>

              </div>
              <div class="mdl-card__actions mdl-card--border">
                <div class="mdl-cell--6-col">
                  <button  id="Kyc" ng-click="edit_kyc()" class="left mdl-button mdl-js-button mdl-button--fab mdl-button--colored orange-btn">
                    AV
                  </button>
                  <span class="mdl-tooltip mdl-tooltip--validation" for="Kyc" >
                    <span >{{'Adeguata Verifica'|translate}}.</span>
                  </span>

                </div>
                <div class="mdl-cell--6-col">
                  <button  id="Risk0" ng-click="edit_risk()" class="right mdl-button mdl-js-button mdl-button--fab mdl-button--colored blue-btn">
                    Risk
                  </button>
                  <span class="mdl-tooltip mdl-tooltip--validation" for="Risk0" >
                    <span >{{'Analisi del Rischio'|translate}}.</span>
                  </span>

                </div>
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <div class="mdl-cell--6-col">
                  <button  id="aggKyc" ng-click="agg_kyc()" class="left mdl-button mdl-js-button mdl-button--fab mdl-button--colored orange-btn">
                    Agg
                  </button>
                  <span class="mdl-tooltip mdl-tooltip--validation" for="aggKyc" >
                    <span >{{'Aggiorna Adeguata Verifica'|translate}}.</span>
                  </span>

                </div>
                <div class="mdl-cell--6-col">
                  <button  id="aggRisk0" ng-click="agg_risk()" class="right mdl-button mdl-js-button mdl-button--fab mdl-button--colored blue-btn">
                    Agg
                  </button>
                  <span class="mdl-tooltip mdl-tooltip--validation" for="aggRisk0" >
                    <span >{{'Aggiorna Analisi del Rischio'|translate}}.</span>
                  </span>

                </div>
              </div>
              <div class="mdl-card__actions mdl-card--border" >
                <div class="mdl-cell--6-col">
                  <button  id="profile" ng-click="edit_profile(Contract)" class="left mdl-button mdl-js-button mdl-button--fab mdl-button--colored orange-btn">
                    <i class="material-icons">create</i>
                  </button>
                  <span class="mdl-tooltip mdl-tooltip--validation" for="profile" >
                    <span >{{'Dati Firmatario'|translate}}.</span>
                  </span>

                </div>
                <div class="mdl-cell--6-col">
                  <button  id="doc" ng-click="edit_docu(Contract)" class="right mdl-button mdl-js-button mdl-button--fab mdl-button--colored blue-btn">
                    <i class="material-icons">attachment</i>
                  </button>
                  <span class="mdl-tooltip mdl-tooltip--validation" for="doc" >
                    <span >{{'Documenti Contratto'|translate}}.</span>
                  </span>


                </div>
              </div>

              <div ng-show="Contract.act_for_other==1" class=" mdl-card__actions mdl-card--border">
                <div class="mdl-cell--6-col">
                  <button  id="company" ng-click="edit_company()" class="left mdl-button mdl-js-button mdl-button--fab mdl-button--colored orange-btn">
                    <i class="material-icons">business</i>
                  </button>
                  <span class="mdl-tooltip mdl-tooltip--validation" for="company" >
                    <span >{{'Dati Società'|translate}}.</span>
                  </span>


                </div>
                <div class="mdl-cell--6-col">
                  <button  id="owner" ng-click="owners()" class="right mdl-button mdl-js-button mdl-button--fab mdl-button--colored blue-btn">
                    <i class="material-icons">accessibility</i>
                  </button>
                  <span class="mdl-tooltip mdl-tooltip--validation" for="owner" >
                    <span >{{'Titolari Effettivi'|translate}}.</span>
                  </span>
                </div>
              </div>

              <div ng-show="Contract.act_for_other==2"  class=" mdl-card__actions mdl-card--border">
                <div class="mdl-cell--6-col">
                  <button  id="delegante" ng-click="owners()" class="left mdl-button mdl-js-button mdl-button--fab mdl-button--colored orange-btn">
                    <i class="material-icons">account_circle</i>
                  </button>
                  <span class="mdl-tooltip mdl-tooltip--validation" for="delegante" >
                    <span >{{'Dati Deleganti'|translate}}.</span>
                  </span>

                </div>
                <div class=" hide mdl-cell--6-col">
                  <button  id="owner" ng-click="owners()" class="right mdl-button mdl-js-button mdl-button--fab mdl-button--colored blue-btn">
                    <i class="material-icons">accessibility</i>
                  </button>
                  <span class="mdl-tooltip mdl-tooltip--validation" for="owner" >
                    <span >{{'Titolari Effettivi'|translate}}.</span>
                  </span>
                </div>
              </div>

              <div class="mdl-card__actions mdl-card--border">
                <div  class="mdl-cell--6-col">
                  <button  ng-show="Contract.kyc_status==1" id="print_kyc" ng-click="print_kyc()" class="left mdl-button mdl-js-button mdl-button--fab mdl-button--colored orange-btn">
                    <i class="material-icons">printer</i>
                  </button>
                  <span class="mdl-tooltip mdl-tooltip--validation" for="print_kyc" >
                    <span >{{'Stampa Adeguata Verifica KYC'|translate}}.</span>
                  </span>
                </div>
                <div  class=" mdl-cell--6-col">
                  <button ng-show="Contract.status ==1" id="print" ng-click="print_risk()" class="right mdl-button mdl-js-button mdl-button--fab mdl-button--colored blue-btn">
                    <i class="material-icons">printer</i>
                  </button>
                  <span class="mdl-tooltip mdl-tooltip--validation" for="print" >
                    <span >{{'Stampa Risk'|translate}}.</span>
                  </span>

                </div>
              </div>
            </div>
          </div>
